In [1]:
# 기본
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import matplotlib
from matplotlib import font_manager, rc
import platform
from tqdm import tqdm
import sklearn
from sklearn import linear_model
import scipy.stats as stats
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.outliers_influence import variance_inflation_factor
from patsy import dmatrices
from sklearn.model_selection import train_test_split

# time
import datetime

# crawling
import requests
import lxml.html
import sqlite3
from pandas.io import sql
from bs4 import BeautifulSoup

# 한글 폰트 설정
if platform.system() == 'Windows':
# 윈도우인 경우
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)

In [39]:
final = pd.read_csv('data\\MME_.csv', encoding = 'euc-kr', low_memory = True)
final

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,PHYACTM,PHYACTH,BODYFAT,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,3.50,1.75,13400.0,2571.0,2,96.0,63.0,78.564168,19.349962,2
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,5.50,0.00,15700.0,2409.0,2,95.0,68.0,92.420166,24.350452,5
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,0.00,4.50,NaN,2407.5,2,138.0,69.0,86.839489,18.115004,1
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,0.75,0.75,14700.0,886.5,2,102.0,74.0,102.784214,22.138368,1
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,5.50,0.00,19500.0,2409.0,2,131.0,84.0,112.380813,28.899599,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70205,A07,201303.0,NIH1604999643,55.0,2,1.641,60.9,74.0,88.0,NaN,...,NaN,NaN,17900.0,NaN,0,92.0,62.0,74.201919,22.615184,1
70206,A07,201407.0,NIH1604999732,75.0,1,1.632,50.8,81.3,110.0,NaN,...,NaN,NaN,10500.0,NaN,0,131.0,66.0,68.312024,19.073193,3
70207,A07,201409.0,NIH1604999772,55.0,1,1.635,66.2,88.3,85.0,NaN,...,NaN,NaN,13900.0,NaN,0,NaN,NaN,50.048887,24.764096,2
70208,A07,201403.0,NIH1604999929,53.0,2,1.530,63.2,85.3,95.0,NaN,...,NaN,NaN,27100.0,NaN,0,112.0,71.0,74.230720,26.998163,2
70209,A07,NaN,NIH1604999956,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0

In [40]:
final = final[['기수', 'EDATE', 'NIHID', 'AGE', 'SEX', 'WAIST', 'GLU0_ORI', 'HDL_ORI', 'FMHEA', 'MET_CAL', 'DBP', 'BMI']]
final

,기수,EDATE,NIHID,AGE,SEX,WAIST,GLU0_ORI,HDL_ORI,FMHEA,MET_CAL,DBP,BMI
0,A01,200209.0,NIH1604000095,43.0,2,63.0,91.0,60.0,1.0,2571.0,63.0,19.349962
1,A01,200201.0,NIH1604000171,42.0,1,81.3,88.0,53.0,1.0,2409.0,68.0,24.350452
2,A01,200210.0,NIH1604000338,69.0,1,74.0,82.0,47.0,1.0,2407.5,69.0,18.115004
3,A01,200201.0,NIH1604000362,48.0,2,76.4,110.0,46.0,1.0,886.5,74.0,22.138368
4,A01,200205.0,NIH1604000424,47.0,1,94.5,81.0,35.0,1.0,2409.0,84.0,28.899599
...,...,...,...,...,...,...,...,...,...,...,...,...
70205,A07,201303.0,NIH1604999643,55.0,2,74.0,88.0,75.0,1.0,NaN,62.0,22.615184
70206,A07,201407.0,NIH1604999732,75.0,1,81.3,110.0,75.0,1.0,NaN,66.0,19.073193
70207,A07,201409.0,NIH1604999772,55.0,1,88.3,85.0,50.0,1.0,NaN,NaN,24.764096
70208,A07,201403.0,NIH1604999929,53.0,2,85.3,95.0,53.0,1.0,NaN,71.0,26.998163
70209,A07,NaN,NIH1604999956,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
final = final.loc[final['기수'] == 'A01']
final

,기수,EDATE,NIHID,AGE,SEX,WAIST,GLU0_ORI,HDL_ORI,FMHEA,MET_CAL,DBP,BMI
0,A01,200209.0,NIH1604000095,43.0,2,63.0,91.0,60.0,1.0,2571.0,63.0,19.349962
1,A01,200201.0,NIH1604000171,42.0,1,81.3,88.0,53.0,1.0,2409.0,68.0,24.350452
2,A01,200210.0,NIH1604000338,69.0,1,74.0,82.0,47.0,1.0,2407.5,69.0,18.115004
3,A01,200201.0,NIH1604000362,48.0,2,76.4,110.0,46.0,1.0,886.5,74.0,22.138368
4,A01,200205.0,NIH1604000424,47.0,1,94.5,81.0,35.0,1.0,2409.0,84.0,28.899599
...,...,...,...,...,...,...,...,...,...,...,...,...
10025,A01,200109.0,NIH1604999643,43.0,2,71.3,85.0,65.0,1.0,1689.0,71.0,22.569722
10026,A01,200203.0,NIH1604999732,63.0,1,82.5,133.0,46.0,1.0,2788.5,98.0,20.569330
10027,A01,200301.0,NIH1604999772,44.0,1,83.0,91.0,45.0,1.0,495.0,94.0,25.468471
10028,A01,200206.0,NIH1604999929,41.0,2,74.7,90.0,45.0,1.0,693.0,74.0,24.877720
10029,A01,200301.0,NIH1604999956,43.0,1,88.0,101.0,45.0,1.0,346.5,83.0,25.665031

In [42]:
cancer = pd.read_csv('data\\Cancer\\Cancer_All.csv', encoding = 'euc-kr')
cancer

               NIHID  Cancer  TIME
0      NIH1604000095       0     0
1      NIH1604000171       0     0
2      NIH1604000338       0     0
3      NIH1604000362       0     0
4      NIH1604000424       0     0
...              ...     ...   ...
10018  NIH1604999640       1     5
10019  NIH1604999643       0     0
10020  NIH1604999732       1    23
10021  NIH1604999772       0     0
10022  NIH1604999956       0     0

[10023 rows x 3 columns]

In [43]:
cancer_psm = pd.merge(final, cancer, how = 'right', on = 'NIHID')

In [44]:
cancer_psm

,기수,EDATE,NIHID,AGE,SEX,WAIST,GLU0_ORI,HDL_ORI,FMHEA,MET_CAL,DBP,BMI,Cancer,TIME
0,A01,200209.0,NIH1604000095,43.0,2,63.0,91.0,60.0,1.0,2571.0,63.0,19.349962,0,0
1,A01,200201.0,NIH1604000171,42.0,1,81.3,88.0,53.0,1.0,2409.0,68.0,24.350452,0,0
2,A01,200210.0,NIH1604000338,69.0,1,74.0,82.0,47.0,1.0,2407.5,69.0,18.115004,0,0
3,A01,200201.0,NIH1604000362,48.0,2,76.4,110.0,46.0,1.0,886.5,74.0,22.138368,0,0
4,A01,200205.0,NIH1604000424,47.0,1,94.5,81.0,35.0,1.0,2409.0,84.0,28.899599,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10018,A01,200111.0,NIH1604999640,44.0,2,69.0,80.0,82.0,1.0,2409.0,68.0,22.099567,1,5
10019,A01,200109.0,NIH1604999643,43.0,2,71.3,85.0,65.0,1.0,1689.0,71.0,22.569722,0,0
10020,A01,200203.0,NIH1604999732,63.0,1,82.5,133.0,46.0,1.0,2788.5,98.0,20.569330,1,23
10021,A01,200301.0,NIH1604999772,44.0,1,83.0,91.0,45.0,1.0,495.0,94.0,25.468471,0,0
10022,A01,200301.0,NIH1604999956,43.0,1,88.0,101.0,45.0,1.0,346.5,83.0,25.665031,0,0

In [45]:
na_list = []
for col in cancer_psm.columns: 
    if cancer_psm[col].isna().sum() > 2000: 
        na_list.append(col)

In [46]:
na_list

[]

In [47]:
for col in cancer_psm.columns: 
    print(col, cancer_psm[col].isna().sum())

기수 0
EDATE 0
NIHID 0
AGE 0
SEX 0
WAIST 8
GLU0_ORI 299
HDL_ORI 2
FMHEA 0
MET_CAL 385
DBP 19
BMI 5
Cancer 0
TIME 0

In [48]:
cancer_psm.dropna(inplace = True, axis = 0)
cancer_psm.reset_index(drop = True, inplace = True)

In [49]:
cancer_psm

,기수,EDATE,NIHID,AGE,SEX,WAIST,GLU0_ORI,HDL_ORI,FMHEA,MET_CAL,DBP,BMI,Cancer,TIME
0,A01,200209.0,NIH1604000095,43.0,2,63.0,91.0,60.0,1.0,2571.0,63.0,19.349962,0,0
1,A01,200201.0,NIH1604000171,42.0,1,81.3,88.0,53.0,1.0,2409.0,68.0,24.350452,0,0
2,A01,200210.0,NIH1604000338,69.0,1,74.0,82.0,47.0,1.0,2407.5,69.0,18.115004,0,0
3,A01,200201.0,NIH1604000362,48.0,2,76.4,110.0,46.0,1.0,886.5,74.0,22.138368,0,0
4,A01,200205.0,NIH1604000424,47.0,1,94.5,81.0,35.0,1.0,2409.0,84.0,28.899599,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9323,A01,200111.0,NIH1604999640,44.0,2,69.0,80.0,82.0,1.0,2409.0,68.0,22.099567,1,5
9324,A01,200109.0,NIH1604999643,43.0,2,71.3,85.0,65.0,1.0,1689.0,71.0,22.569722,0,0
9325,A01,200203.0,NIH1604999732,63.0,1,82.5,133.0,46.0,1.0,2788.5,98.0,20.569330,1,23
9326,A01,200301.0,NIH1604999772,44.0,1,83.0,91.0,45.0,1.0,495.0,94.0,25.468471,0,0
9327,A01,200301.0,NIH1604999956,43.0,1,88.0,101.0,45.0,1.0,346.5,83.0,25.665031,0,0

In [50]:
cancer_psm['Cancer'].value_counts()

0    9081
1     247
Name: Cancer, dtype: int64

In [52]:
cancer_psm.to_csv('data\\CANCER_psm.csv', encoding = 'euc-kr', index = False)

In [54]:
# AR 변수 추가

ar = pd.read_csv('data\\drug_90\\DRUGAR_drug90.csv', encoding = 'euc-kr')
ar

,기수,NIHID,EDATE_DAY,DRUGAR,DRUGARYR1,DRUGARCU,DRUGARYR2,EDATE-StartDate,EndDate-StartDate,drug_90
0,A01,NIH1604005536,2002-05-15,2.0,1997-04-01,1.0,1997-04-10,NaN,9 days,0
1,A01,NIH1604009615,2002-06-15,2.0,2001-11-01,1.0,2002-02-01,NaN,92 days,1
2,A01,NIH1604010829,2001-11-15,2.0,2001-03-01,2.0,NaN,259 days,NaN,1
3,A01,NIH1604014292,2001-12-15,2.0,2000-01-01,2.0,NaN,714 days,NaN,1
4,A01,NIH1604017040,2001-12-15,2.0,1997-01-01,2.0,NaN,1809 days,NaN,1
...,...,...,...,...,...,...,...,...,...,...
1776,A07,NIH1604986653,2013-09-15,2.0,2010-01-01,2.0,NaN,1353 days,NaN,1
1777,A07,NIH1604987036,2014-04-15,2.0,2004-10-01,2.0,NaN,3483 days,NaN,1
1778,A07,NIH1604990976,2013-07-15,2.0,2012-01-01,2.0,NaN,561 days,NaN,1
1779,A07,NIH1604997324,2014-06-15,2.0,2013-06-01,2.0,NaN,379 days,NaN,1
1780,A07,NIH1604997681,2013-08-15,2.0,2012-06-01,2.0,NaN,440 days,NaN,1

In [55]:
# 1기만 뽑기
ar = ar.loc[ar['기수'] == 'A01']
ar

,기수,NIHID,EDATE_DAY,DRUGAR,DRUGARYR1,DRUGARCU,DRUGARYR2,EDATE-StartDate,EndDate-StartDate,drug_90
0,A01,NIH1604005536,2002-05-15,2.0,1997-04-01,1.0,1997-04-10,NaN,9 days,0
1,A01,NIH1604009615,2002-06-15,2.0,2001-11-01,1.0,2002-02-01,NaN,92 days,1
2,A01,NIH1604010829,2001-11-15,2.0,2001-03-01,2.0,NaN,259 days,NaN,1
3,A01,NIH1604014292,2001-12-15,2.0,2000-01-01,2.0,NaN,714 days,NaN,1
4,A01,NIH1604017040,2001-12-15,2.0,1997-01-01,2.0,NaN,1809 days,NaN,1
...,...,...,...,...,...,...,...,...,...,...
354,A01,NIH1604993732,2002-04-15,2.0,2002-02-18,1.0,2002-02-20,NaN,2 days,0
355,A01,NIH1604995385,2001-08-15,2.0,2001-04-01,2.0,NaN,136 days,NaN,1
356,A01,NIH1604995551,2001-10-15,2.0,1999-01-01,1.0,1999-04-30,NaN,119 days,1
357,A01,NIH1604997010,2002-03-15,2.0,1998-01-01,2.0,NaN,1534 days,NaN,1
358,A01,NIH1604997860,2002-11-15,2.0,1999-03-01,2.0,NaN,1355 days,NaN,1

In [56]:
ar = ar[['NIHID', 'drug_90']]

In [57]:
len(ar['NIHID'].unique())

359

In [58]:
cancer_ar_psm = pd.merge(cancer_psm, ar, how = 'left', on = 'NIHID')

In [59]:
cancer_ar_psm

,기수,EDATE,NIHID,AGE,SEX,WAIST,GLU0_ORI,HDL_ORI,FMHEA,MET_CAL,DBP,BMI,Cancer,TIME,drug_90
0,A01,200209.0,NIH1604000095,43.0,2,63.0,91.0,60.0,1.0,2571.0,63.0,19.349962,0,0,NaN
1,A01,200201.0,NIH1604000171,42.0,1,81.3,88.0,53.0,1.0,2409.0,68.0,24.350452,0,0,NaN
2,A01,200210.0,NIH1604000338,69.0,1,74.0,82.0,47.0,1.0,2407.5,69.0,18.115004,0,0,NaN
3,A01,200201.0,NIH1604000362,48.0,2,76.4,110.0,46.0,1.0,886.5,74.0,22.138368,0,0,NaN
4,A01,200205.0,NIH1604000424,47.0,1,94.5,81.0,35.0,1.0,2409.0,84.0,28.899599,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9323,A01,200111.0,NIH1604999640,44.0,2,69.0,80.0,82.0,1.0,2409.0,68.0,22.099567,1,5,NaN
9324,A01,200109.0,NIH1604999643,43.0,2,71.3,85.0,65.0,1.0,1689.0,71.0,22.569722,0,0,NaN
9325,A01,200203.0,NIH1604999732,63.0,1,82.5,133.0,46.0,1.0,2788.5,98.0,20.569330,1,23,NaN
9326,A01,200301.0,NIH1604999772,44.0,1,83.0,91.0,45.0,1.0,495.0,94.0,25.468471,0,0,NaN
9327,A01,200301.0,NIH1604999956,43.0,1,88.0,101.0,45.0,1.0,346.5,83.0,25.665031,0,0,NaN

In [60]:
cancer_ar_psm['drug_90'].isna().sum()

8996

In [61]:
# 90일 미만으로 복용한 사람은 아예 복용하지 않은 사람과 동일하게 취급

cancer_ar_psm['drug_90'].fillna(0, inplace = True)

In [62]:
cancer_ar_psm['drug_90'].value_counts()

0.0    9051
1.0     277
Name: drug_90, dtype: int64

In [64]:
cancer_ar_psm.rename(columns = {'drug_90' : 'ar_drug_90'}, inplace = True)

In [65]:
cancer_ar_psm

,기수,EDATE,NIHID,AGE,SEX,WAIST,GLU0_ORI,HDL_ORI,FMHEA,MET_CAL,DBP,BMI,Cancer,TIME,ar_drug_90
0,A01,200209.0,NIH1604000095,43.0,2,63.0,91.0,60.0,1.0,2571.0,63.0,19.349962,0,0,0.0
1,A01,200201.0,NIH1604000171,42.0,1,81.3,88.0,53.0,1.0,2409.0,68.0,24.350452,0,0,0.0
2,A01,200210.0,NIH1604000338,69.0,1,74.0,82.0,47.0,1.0,2407.5,69.0,18.115004,0,0,0.0
3,A01,200201.0,NIH1604000362,48.0,2,76.4,110.0,46.0,1.0,886.5,74.0,22.138368,0,0,0.0
4,A01,200205.0,NIH1604000424,47.0,1,94.5,81.0,35.0,1.0,2409.0,84.0,28.899599,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9323,A01,200111.0,NIH1604999640,44.0,2,69.0,80.0,82.0,1.0,2409.0,68.0,22.099567,1,5,0.0
9324,A01,200109.0,NIH1604999643,43.0,2,71.3,85.0,65.0,1.0,1689.0,71.0,22.569722,0,0,0.0
9325,A01,200203.0,NIH1604999732,63.0,1,82.5,133.0,46.0,1.0,2788.5,98.0,20.569330,1,23,0.0
9326,A01,200301.0,NIH1604999772,44.0,1,83.0,91.0,45.0,1.0,495.0,94.0,25.468471,0,0,0.0
9327,A01,200301.0,NIH1604999956,43.0,1,88.0,101.0,45.0,1.0,346.5,83.0,25.665031,0,0,0.0

In [66]:
cancer_ar_psm.to_csv('data\\Cancer_ar_psm.csv', encoding = 'euc-kr', index = False)