In [1]:
# 기본
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import matplotlib
from matplotlib import font_manager, rc
import platform
from tqdm import tqdm
import sklearn
from sklearn import linear_model
import scipy.stats as stats
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.outliers_influence import variance_inflation_factor
from patsy import dmatrices
from sklearn.model_selection import train_test_split

# time
import datetime

# crawling
import requests
import lxml.html
import sqlite3
from pandas.io import sql
from bs4 import BeautifulSoup

# 한글 폰트 설정
if platform.system() == 'Windows':
# 윈도우인 경우
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)

* 2021.11.23 CKD_final에 TIME 변수 추가한 df로 변경

In [82]:
# final = pd.read_csv('MME_final.csv', encoding = 'euc-kr', low_memory = False)
# final

,기수,NIHID,SEX,VISITALL,PHYSTB,PHYSIT,PHYACTL,PHYACTM,PHYACTH,AEROBFQ,...,FMCDMAG,FMHEA,FMFHEA,FMFHEAAG,FMMHEA,FMMHEAAG,FMBHEA,FMBHEAAG,FMCHEA,FMCHEAAG
0,A01,NIH1604000095,2,6,1.0,5.0,7.0,6.0,4.0,NaN,...,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN
1,A01,NIH1604000171,1,7,0.0,3.0,8.0,8.0,0.0,NaN,...,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN
2,A01,NIH1604000338,1,7,2.0,5.0,3.0,0.0,7.0,NaN,...,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN
3,A01,NIH1604000362,2,7,0.0,5.0,4.0,2.0,2.0,NaN,...,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN
4,A01,NIH1604000424,1,4,8.0,5.0,8.0,8.0,0.0,NaN,...,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70205,A07,NIH1604999643,2,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
70206,A07,NIH1604999732,1,6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
70207,A07,NIH1604999772,1,6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
70208,A07,NIH1604999929,2,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
70209,A07,NIH1604999956,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
final = pd.read_csv('data\\MME_.csv', encoding = 'euc-kr', low_memory = True)
final

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,PHYACTM,PHYACTH,BODYFAT,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,3.50,1.75,13400.0,2571.0,2,96.0,63.0,78.564168,19.349962,2
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,5.50,0.00,15700.0,2409.0,2,95.0,68.0,92.420166,24.350452,5
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,0.00,4.50,NaN,2407.5,2,138.0,69.0,86.839489,18.115004,1
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,0.75,0.75,14700.0,886.5,2,102.0,74.0,102.784214,22.138368,1
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,5.50,0.00,19500.0,2409.0,2,131.0,84.0,112.380813,28.899599,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70205,A07,201303.0,NIH1604999643,55.0,2,1.641,60.9,74.0,88.0,NaN,...,NaN,NaN,17900.0,NaN,0,92.0,62.0,74.201919,22.615184,1
70206,A07,201407.0,NIH1604999732,75.0,1,1.632,50.8,81.3,110.0,NaN,...,NaN,NaN,10500.0,NaN,0,131.0,66.0,68.312024,19.073193,3
70207,A07,201409.0,NIH1604999772,55.0,1,1.635,66.2,88.3,85.0,NaN,...,NaN,NaN,13900.0,NaN,0,NaN,NaN,50.048887,24.764096,2
70208,A07,201403.0,NIH1604999929,53.0,2,1.530,63.2,85.3,95.0,NaN,...,NaN,NaN,27100.0,NaN,0,112.0,71.0,74.230720,26.998163,2
70209,A07,NaN,NIH1604999956,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0

In [4]:
final = final.loc[final['기수'] == 'A01']
final

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,PHYACTM,PHYACTH,BODYFAT,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,3.50,1.75,13400.0,2571.0,2,96.0,63.0,78.564168,19.349962,2
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,5.50,0.00,15700.0,2409.0,2,95.0,68.0,92.420166,24.350452,5
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,0.00,4.50,NaN,2407.5,2,138.0,69.0,86.839489,18.115004,1
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,0.75,0.75,14700.0,886.5,2,102.0,74.0,102.784214,22.138368,1
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,5.50,0.00,19500.0,2409.0,2,131.0,84.0,112.380813,28.899599,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10025,A01,200109.0,NIH1604999643,43.0,2,1.644,61.0,71.3,85.0,8.0,...,2.50,0.00,16200.0,1689.0,2,99.0,71.0,90.587425,22.569722,1
10026,A01,200203.0,NIH1604999732,63.0,1,1.650,56.0,82.5,133.0,436.0,...,0.00,5.50,NaN,2788.5,2,140.0,98.0,95.070429,20.569330,3
10027,A01,200301.0,NIH1604999772,44.0,1,1.640,68.5,83.0,91.0,115.0,...,0.00,0.00,17200.0,495.0,1,128.0,94.0,81.212239,25.468471,5
10028,A01,200206.0,NIH1604999929,41.0,2,1.540,59.0,74.7,90.0,14.0,...,0.00,0.00,18100.0,693.0,2,102.0,74.0,107.964675,24.877720,2
10029,A01,200301.0,NIH1604999956,43.0,1,1.760,79.5,88.0,101.0,95.0,...,0.00,0.00,20900.0,346.5,1,127.0,83.0,104.240575,25.665031,4

In [11]:
ht = pd.read_csv('data//MME_drug_90//DRUGHT_drug90.csv', encoding = 'euc-kr')
ht

,기수,NIHID,EDATE_DAY,DRUGHT,DRUGHTYR1,DRUGHTCU,DRUGHTYR2,EDATE-StartDate,EndDate-StartDate,drug_90
0,A01,NIH1604001224,2002-09-15,2.0,1997-01-01,2.0,NaN,2083 days,NaN,1
1,A01,NIH1604004091,2001-07-15,2.0,1996-01-01,2.0,NaN,2022 days,NaN,1
2,A01,NIH1604004418,2001-10-15,2.0,2000-03-01,2.0,NaN,593 days,NaN,1
3,A01,NIH1604005066,2001-11-15,2.0,1998-01-01,2.0,NaN,1414 days,NaN,1
4,A01,NIH1604006629,2002-01-15,2.0,2000-01-01,2.0,NaN,745 days,NaN,1
...,...,...,...,...,...,...,...,...,...,...
11444,A07,NIH1604996566,2014-04-15,2.0,2009-01-01,2.0,NaN,1930 days,NaN,1
11445,A07,NIH1604996909,2014-08-15,2.0,2008-01-01,2.0,NaN,2418 days,NaN,1
11446,A07,NIH1604997100,2014-06-15,2.0,2002-01-01,2.0,NaN,4548 days,NaN,1
11447,A07,NIH1604997534,2014-04-15,2.0,2013-01-01,2.0,NaN,469 days,NaN,1
11448,A07,NIH1604997938,2014-05-15,2.0,2009-03-01,2.0,NaN,1901 days,NaN,1

In [12]:
# ckd = pd.read_csv('CKD_final_Baseline1st+OccuredTwiceOrMoreInARow.csv', encoding = 'euc-kr')
# ckd

In [13]:
# TIME 변수 들어가 있는 df로 수정
ckd = pd.read_csv('data\\CKD_final_TIMEadded_Baseline1st+OccuredTwiceOrMoreInARow.csv', encoding = 'euc-kr')
ckd

               NIHID  final_CKD  TIME
0      NIH1604000095          1   0.0
1      NIH1604000171          0  12.0
2      NIH1604000338          1  12.0
3      NIH1604000362          0   0.0
4      NIH1604000424          0   6.0
...              ...        ...   ...
10025  NIH1604999643          0  12.0
10026  NIH1604999732          0  12.0
10027  NIH1604999772          1  12.0
10028  NIH1604999929          0  12.0
10029  NIH1604999956          0   0.0

[10030 rows x 3 columns]

In [14]:
# 1기만 뽑기
ht = ht.loc[ht['기수'] == 'A01']
ht

,기수,NIHID,EDATE_DAY,DRUGHT,DRUGHTYR1,DRUGHTCU,DRUGHTYR2,EDATE-StartDate,EndDate-StartDate,drug_90
0,A01,NIH1604001224,2002-09-15,2.0,1997-01-01,2.0,NaN,2083 days,NaN,1
1,A01,NIH1604004091,2001-07-15,2.0,1996-01-01,2.0,NaN,2022 days,NaN,1
2,A01,NIH1604004418,2001-10-15,2.0,2000-03-01,2.0,NaN,593 days,NaN,1
3,A01,NIH1604005066,2001-11-15,2.0,1998-01-01,2.0,NaN,1414 days,NaN,1
4,A01,NIH1604006629,2002-01-15,2.0,2000-01-01,2.0,NaN,745 days,NaN,1
...,...,...,...,...,...,...,...,...,...,...
1089,A01,NIH1604996728,2001-12-15,2.0,1991-01-01,2.0,NaN,4001 days,NaN,1
1090,A01,NIH1604997100,2002-10-15,2.0,1999-12-01,2.0,NaN,1049 days,NaN,1
1091,A01,NIH1604997594,2001-09-15,2.0,1998-01-01,2.0,NaN,1353 days,NaN,1
1092,A01,NIH1604998140,2002-08-15,2.0,1999-01-01,2.0,NaN,1322 days,NaN,1
1093,A01,NIH1604998251,2001-09-15,2.0,1999-01-01,2.0,NaN,988 days,NaN,1

In [15]:
ht = ht[['NIHID', 'drug_90']]

In [16]:
len(ht['NIHID'].unique())

1094

In [17]:
ht_psm = pd.merge(final, ht, how = 'left', on = 'NIHID')

In [18]:
ht_psm

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,PHYACTH,BODYFAT,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW,drug_90
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,1.75,13400.0,2571.0,2,96.0,63.0,78.564168,19.349962,2,NaN
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,0.00,15700.0,2409.0,2,95.0,68.0,92.420166,24.350452,5,NaN
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,4.50,NaN,2407.5,2,138.0,69.0,86.839489,18.115004,1,NaN
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,0.75,14700.0,886.5,2,102.0,74.0,102.784214,22.138368,1,NaN
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,0.00,19500.0,2409.0,2,131.0,84.0,112.380813,28.899599,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10025,A01,200109.0,NIH1604999643,43.0,2,1.644,61.0,71.3,85.0,8.0,...,0.00,16200.0,1689.0,2,99.0,71.0,90.587425,22.569722,1,NaN
10026,A01,200203.0,NIH1604999732,63.0,1,1.650,56.0,82.5,133.0,436.0,...,5.50,NaN,2788.5,2,140.0,98.0,95.070429,20.569330,3,NaN
10027,A01,200301.0,NIH1604999772,44.0,1,1.640,68.5,83.0,91.0,115.0,...,0.00,17200.0,495.0,1,128.0,94.0,81.212239,25.468471,5,NaN
10028,A01,200206.0,NIH1604999929,41.0,2,1.540,59.0,74.7,90.0,14.0,...,0.00,18100.0,693.0,2,102.0,74.0,107.964675,24.877720,2,NaN
10029,A01,200301.0,NIH1604999956,43.0,1,1.760,79.5,88.0,101.0,95.0,...,0.00,20900.0,346.5,1,127.0,83.0,104.240575,25.665031,4,NaN

In [19]:
ht_psm['drug_90'].isna().sum()

8936

In [20]:
ht_psm = pd.merge(ht_psm, ckd, how = 'left', on = 'NIHID')
ht_psm

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW,drug_90,final_CKD,TIME
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,2571.0,2,96.0,63.0,78.564168,19.349962,2,NaN,1,0.0
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,2409.0,2,95.0,68.0,92.420166,24.350452,5,NaN,0,12.0
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,2407.5,2,138.0,69.0,86.839489,18.115004,1,NaN,1,12.0
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,886.5,2,102.0,74.0,102.784214,22.138368,1,NaN,0,0.0
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,2409.0,2,131.0,84.0,112.380813,28.899599,4,NaN,0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10025,A01,200109.0,NIH1604999643,43.0,2,1.644,61.0,71.3,85.0,8.0,...,1689.0,2,99.0,71.0,90.587425,22.569722,1,NaN,0,12.0
10026,A01,200203.0,NIH1604999732,63.0,1,1.650,56.0,82.5,133.0,436.0,...,2788.5,2,140.0,98.0,95.070429,20.569330,3,NaN,0,12.0
10027,A01,200301.0,NIH1604999772,44.0,1,1.640,68.5,83.0,91.0,115.0,...,495.0,1,128.0,94.0,81.212239,25.468471,5,NaN,1,12.0
10028,A01,200206.0,NIH1604999929,41.0,2,1.540,59.0,74.7,90.0,14.0,...,693.0,2,102.0,74.0,107.964675,24.877720,2,NaN,0,12.0
10029,A01,200301.0,NIH1604999956,43.0,1,1.760,79.5,88.0,101.0,95.0,...,346.5,1,127.0,83.0,104.240575,25.665031,4,NaN,0,0.0

In [21]:
# 90일 미만으로 복용한 사람은 아예 복용하지 않은 사람과 동일하게 취급

ht_psm['drug_90'].fillna(0, inplace = True)

In [22]:
ht_psm['drug_90'].value_counts()

0.0    8995
1.0    1035
Name: drug_90, dtype: int64

In [23]:
ht_psm.rename(columns = {'drug_90' : 'ht_drug_90'}, inplace = True)
ht_psm

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW,ht_drug_90,final_CKD,TIME
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,2571.0,2,96.0,63.0,78.564168,19.349962,2,0.0,1,0.0
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,2409.0,2,95.0,68.0,92.420166,24.350452,5,0.0,0,12.0
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,2407.5,2,138.0,69.0,86.839489,18.115004,1,0.0,1,12.0
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,886.5,2,102.0,74.0,102.784214,22.138368,1,0.0,0,0.0
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,2409.0,2,131.0,84.0,112.380813,28.899599,4,0.0,0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10025,A01,200109.0,NIH1604999643,43.0,2,1.644,61.0,71.3,85.0,8.0,...,1689.0,2,99.0,71.0,90.587425,22.569722,1,0.0,0,12.0
10026,A01,200203.0,NIH1604999732,63.0,1,1.650,56.0,82.5,133.0,436.0,...,2788.5,2,140.0,98.0,95.070429,20.569330,3,0.0,0,12.0
10027,A01,200301.0,NIH1604999772,44.0,1,1.640,68.5,83.0,91.0,115.0,...,495.0,1,128.0,94.0,81.212239,25.468471,5,0.0,1,12.0
10028,A01,200206.0,NIH1604999929,41.0,2,1.540,59.0,74.7,90.0,14.0,...,693.0,2,102.0,74.0,107.964675,24.877720,2,0.0,0,12.0
10029,A01,200301.0,NIH1604999956,43.0,1,1.760,79.5,88.0,101.0,95.0,...,346.5,1,127.0,83.0,104.240575,25.665031,4,0.0,0,0.0

In [24]:
# ht_psm.drop(['MET_CAL', 'TOTALC', 'PHYACTL', 'PHYACTM', 'PHYACTH'], axis = 1, inplace = True)
# ht_psm

In [25]:
na_list = []
for col in ht_psm.columns: 
    if ht_psm[col].isna().sum() > 2000: 
        na_list.append(col)

In [26]:
na_list

['TREATD5', 'TREATD14', 'KIDAG', 'KIDCU', 'BODYFAT']

In [27]:
ht_psm.drop(na_list, axis = 1, inplace = True)

In [28]:
ht_psm

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW,ht_drug_90,final_CKD,TIME
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,2571.0,2,96.0,63.0,78.564168,19.349962,2,0.0,1,0.0
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,2409.0,2,95.0,68.0,92.420166,24.350452,5,0.0,0,12.0
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,2407.5,2,138.0,69.0,86.839489,18.115004,1,0.0,1,12.0
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,886.5,2,102.0,74.0,102.784214,22.138368,1,0.0,0,0.0
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,2409.0,2,131.0,84.0,112.380813,28.899599,4,0.0,0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10025,A01,200109.0,NIH1604999643,43.0,2,1.644,61.0,71.3,85.0,8.0,...,1689.0,2,99.0,71.0,90.587425,22.569722,1,0.0,0,12.0
10026,A01,200203.0,NIH1604999732,63.0,1,1.650,56.0,82.5,133.0,436.0,...,2788.5,2,140.0,98.0,95.070429,20.569330,3,0.0,0,12.0
10027,A01,200301.0,NIH1604999772,44.0,1,1.640,68.5,83.0,91.0,115.0,...,495.0,1,128.0,94.0,81.212239,25.468471,5,0.0,1,12.0
10028,A01,200206.0,NIH1604999929,41.0,2,1.540,59.0,74.7,90.0,14.0,...,693.0,2,102.0,74.0,107.964675,24.877720,2,0.0,0,12.0
10029,A01,200301.0,NIH1604999956,43.0,1,1.760,79.5,88.0,101.0,95.0,...,346.5,1,127.0,83.0,104.240575,25.665031,4,0.0,0,0.0

In [29]:
for col in ht_psm.columns: 
    print(col, ht_psm[col].isna().sum())

기수 0
EDATE 0
NIHID 0
AGE 0
SEX 0
HEIGHT 0
WEIGHT 5
WAIST 8
GLU0_ORI 299
R_GTP_TR 2
AST_ORI 2
ALT_ORI 5
TCHL_ORI 2
HDL_ORI 2
TRIGLY_ORI 3
HB_ORI 2
SMOKE 134
DRUGINS 585
DRUGHT 585
DRUGICD 585
DRUGLP 585
FMHTN 0
FMHEA 0
FMDM 0
PRT16_U 37
KID 4
TOTALC 306
PHYACTL 222
PHYACTM 297
PHYACTH 243
MET_CAL 385
PA_NEW 0
SBP 19
DBP 19
eGFR 2
BMI 5
DRK_NEW 0
ht_drug_90 0
final_CKD 0
TIME 2

In [30]:
ht_psm.dropna(inplace = True, axis = 0)
ht_psm.reset_index(drop = True, inplace = True)

In [31]:
ht_psm

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW,ht_drug_90,final_CKD,TIME
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,2571.0,2,96.0,63.0,78.564168,19.349962,2,0.0,1,0.0
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,2409.0,2,95.0,68.0,92.420166,24.350452,5,0.0,0,12.0
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,2407.5,2,138.0,69.0,86.839489,18.115004,1,0.0,1,12.0
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,886.5,2,102.0,74.0,102.784214,22.138368,1,0.0,0,0.0
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,2409.0,2,131.0,84.0,112.380813,28.899599,4,0.0,0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8366,A01,200111.0,NIH1604999640,44.0,2,1.606,57.0,69.0,80.0,8.0,...,2409.0,2,108.0,68.0,105.713250,22.099567,2,0.0,0,11.0
8367,A01,200203.0,NIH1604999732,63.0,1,1.650,56.0,82.5,133.0,436.0,...,2788.5,2,140.0,98.0,95.070429,20.569330,3,0.0,0,12.0
8368,A01,200301.0,NIH1604999772,44.0,1,1.640,68.5,83.0,91.0,115.0,...,495.0,1,128.0,94.0,81.212239,25.468471,5,0.0,1,12.0
8369,A01,200206.0,NIH1604999929,41.0,2,1.540,59.0,74.7,90.0,14.0,...,693.0,2,102.0,74.0,107.964675,24.877720,2,0.0,0,12.0
8370,A01,200301.0,NIH1604999956,43.0,1,1.760,79.5,88.0,101.0,95.0,...,346.5,1,127.0,83.0,104.240575,25.665031,4,0.0,0,0.0

In [32]:
ht_psm['ht_drug_90'].value_counts()

0.0    7502
1.0     869
Name: ht_drug_90, dtype: int64

In [33]:
ht_psm.to_csv('HT_psm.csv', encoding = 'euc-kr', index = False)

In [108]:
# 일단 7000명 정도로 na drop 해서 stepwise 돌려보기
# 부족하면 다시 10030명으로 할 수 있도록 칼럼을 줄이자

# (10.25) 신장 관련 변수 40개만 사용하기로 결정됨

-----------------------------