In [3]:
# 기본
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import matplotlib
from matplotlib import font_manager, rc
import platform
from tqdm import tqdm
import sklearn
from sklearn import linear_model
import scipy.stats as stats
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.outliers_influence import variance_inflation_factor
from patsy import dmatrices
from sklearn.model_selection import train_test_split

# time
import datetime

# crawling
import requests
import lxml.html
import sqlite3
from pandas.io import sql
from bs4 import BeautifulSoup

# 한글 폰트 설정
if platform.system() == 'Windows':
# 윈도우인 경우
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)

In [4]:
group2 = pd.read_csv('MME_group2.csv', encoding = 'euc-kr')
group2

,NIHID,기수,EDATE,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,BODYFAT,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW,CLASS,final_CKD
0,NIH1604000095,A01,200209,43,2,1.575,48.0,63.0,91,16,...,13.4,2571.0,2,96,63,78.564168,19.349962,2,3,1
1,NIH1604000171,A01,200201,42,1,1.755,75.0,81.3,88,27,...,15.7,2409.0,2,95,68,92.420166,24.350452,5,1,0
2,NIH1604000338,A01,200210,69,1,1.668,50.4,74.0,82,52,...,-99.0,2407.5,2,138,69,86.839489,18.115004,1,2,1
3,NIH1604000362,A01,200201,48,2,1.556,53.6,76.4,110,38,...,14.7,886.5,2,102,74,102.784214,22.138368,1,3,0
4,NIH1604000424,A01,200205,47,1,1.745,88.0,94.5,81,5,...,19.5,2409.0,2,131,84,112.380813,28.899599,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10025,NIH1604999643,A01,200109,43,2,1.644,61.0,71.3,85,8,...,16.2,1689.0,2,99,71,90.587425,22.569722,1,3,0
10026,NIH1604999732,A01,200203,63,1,1.650,56.0,82.5,133,436,...,-99.0,2788.5,2,140,98,95.070429,20.569330,3,2,0
10027,NIH1604999772,A01,200301,44,1,1.640,68.5,83.0,91,115,...,17.2,495.0,1,128,94,81.212239,25.468471,5,1,1
10028,NIH1604999929,A01,200206,41,2,1.540,59.0,74.7,90,14,...,18.1,693.0,2,102,74,107.964675,24.877720,2,3,0
10029,NIH1604999956,A01,200301,43,1,1.760,79.5,88.0,101,95,...,20.9,346.5,1,127,83,104.240575,25.665031,4,1,0

In [5]:
group3 = pd.read_csv('MME_group3.csv', encoding = 'euc-kr')
group3

,NIHID,기수,EDATE,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,BODYFAT,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW,CLASS,final_CKD
0,NIH1604000095,A01,200209,43,2,1.575,48.0,63.0,91,16,...,13.4,2571.0,2,96,63,78.564168,19.349962,2,4,1
1,NIH1604000171,A01,200201,42,1,1.755,75.0,81.3,88,27,...,15.7,2409.0,2,95,68,92.420166,24.350452,5,1,0
2,NIH1604000338,A01,200210,69,1,1.668,50.4,74.0,82,52,...,-99.0,2407.5,2,138,69,86.839489,18.115004,1,3,1
3,NIH1604000362,A01,200201,48,2,1.556,53.6,76.4,110,38,...,14.7,886.5,2,102,74,102.784214,22.138368,1,4,0
4,NIH1604000424,A01,200205,47,1,1.745,88.0,94.5,81,5,...,19.5,2409.0,2,131,84,112.380813,28.899599,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10025,NIH1604999643,A01,200109,43,2,1.644,61.0,71.3,85,8,...,16.2,1689.0,2,99,71,90.587425,22.569722,1,4,0
10026,NIH1604999732,A01,200203,63,1,1.650,56.0,82.5,133,436,...,-99.0,2788.5,2,140,98,95.070429,20.569330,3,3,0
10027,NIH1604999772,A01,200301,44,1,1.640,68.5,83.0,91,115,...,17.2,495.0,1,128,94,81.212239,25.468471,5,2,1
10028,NIH1604999929,A01,200206,41,2,1.540,59.0,74.7,90,14,...,18.1,693.0,2,102,74,107.964675,24.877720,2,4,0
10029,NIH1604999956,A01,200301,43,1,1.760,79.5,88.0,101,95,...,20.9,346.5,1,127,83,104.240575,25.665031,4,2,0

In [6]:
group2 = group2[['NIHID', 'CLASS', 'final_CKD']]
group2

               NIHID  CLASS  final_CKD
0      NIH1604000095      3          1
1      NIH1604000171      1          0
2      NIH1604000338      2          1
3      NIH1604000362      3          0
4      NIH1604000424      1          0
...              ...    ...        ...
10025  NIH1604999643      3          0
10026  NIH1604999732      2          0
10027  NIH1604999772      1          1
10028  NIH1604999929      3          0
10029  NIH1604999956      1          0

[10030 rows x 3 columns]

In [7]:
group3 = group3[['NIHID', 'CLASS', 'final_CKD']]
group3

               NIHID  CLASS  final_CKD
0      NIH1604000095      4          1
1      NIH1604000171      1          0
2      NIH1604000338      3          1
3      NIH1604000362      4          0
4      NIH1604000424      1          0
...              ...    ...        ...
10025  NIH1604999643      4          0
10026  NIH1604999732      3          0
10027  NIH1604999772      2          1
10028  NIH1604999929      4          0
10029  NIH1604999956      2          0

[10030 rows x 3 columns]

In [8]:
final = pd.read_csv('data\\MME_.csv', encoding = 'euc-kr', low_memory = True)
final

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,PHYACTM,PHYACTH,BODYFAT,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,3.50,1.75,13400.0,2571.0,2,96.0,63.0,78.564168,19.349962,2
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,5.50,0.00,15700.0,2409.0,2,95.0,68.0,92.420166,24.350452,5
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,0.00,4.50,NaN,2407.5,2,138.0,69.0,86.839489,18.115004,1
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,0.75,0.75,14700.0,886.5,2,102.0,74.0,102.784214,22.138368,1
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,5.50,0.00,19500.0,2409.0,2,131.0,84.0,112.380813,28.899599,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70205,A07,201303.0,NIH1604999643,55.0,2,1.641,60.9,74.0,88.0,NaN,...,NaN,NaN,17900.0,NaN,0,92.0,62.0,74.201919,22.615184,1
70206,A07,201407.0,NIH1604999732,75.0,1,1.632,50.8,81.3,110.0,NaN,...,NaN,NaN,10500.0,NaN,0,131.0,66.0,68.312024,19.073193,3
70207,A07,201409.0,NIH1604999772,55.0,1,1.635,66.2,88.3,85.0,NaN,...,NaN,NaN,13900.0,NaN,0,NaN,NaN,50.048887,24.764096,2
70208,A07,201403.0,NIH1604999929,53.0,2,1.530,63.2,85.3,95.0,NaN,...,NaN,NaN,27100.0,NaN,0,112.0,71.0,74.230720,26.998163,2
70209,A07,NaN,NIH1604999956,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0

In [9]:
final = final.loc[final['기수'] == 'A01']
final

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,PHYACTM,PHYACTH,BODYFAT,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,3.50,1.75,13400.0,2571.0,2,96.0,63.0,78.564168,19.349962,2
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,5.50,0.00,15700.0,2409.0,2,95.0,68.0,92.420166,24.350452,5
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,0.00,4.50,NaN,2407.5,2,138.0,69.0,86.839489,18.115004,1
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,0.75,0.75,14700.0,886.5,2,102.0,74.0,102.784214,22.138368,1
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,5.50,0.00,19500.0,2409.0,2,131.0,84.0,112.380813,28.899599,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10025,A01,200109.0,NIH1604999643,43.0,2,1.644,61.0,71.3,85.0,8.0,...,2.50,0.00,16200.0,1689.0,2,99.0,71.0,90.587425,22.569722,1
10026,A01,200203.0,NIH1604999732,63.0,1,1.650,56.0,82.5,133.0,436.0,...,0.00,5.50,NaN,2788.5,2,140.0,98.0,95.070429,20.569330,3
10027,A01,200301.0,NIH1604999772,44.0,1,1.640,68.5,83.0,91.0,115.0,...,0.00,0.00,17200.0,495.0,1,128.0,94.0,81.212239,25.468471,5
10028,A01,200206.0,NIH1604999929,41.0,2,1.540,59.0,74.7,90.0,14.0,...,0.00,0.00,18100.0,693.0,2,102.0,74.0,107.964675,24.877720,2
10029,A01,200301.0,NIH1604999956,43.0,1,1.760,79.5,88.0,101.0,95.0,...,0.00,0.00,20900.0,346.5,1,127.0,83.0,104.240575,25.665031,4

In [10]:
MME_group2 = pd.merge(final, group2, how = 'left', on = 'NIHID')
MME_group3 = pd.merge(final, group3, how = 'left', on = 'NIHID')

In [11]:
na_list = []
for col in MME_group2.columns: 
    if MME_group2[col].isna().sum() > 2000: 
        na_list.append(col)

In [12]:
na_list

['TREATD5', 'TREATD14', 'KIDAG', 'KIDCU', 'BODYFAT']

In [13]:
MME_group2.drop(na_list, axis = 1, inplace = True)

In [14]:
for col in MME_group2.columns: 
    print(col, MME_group2[col].isna().sum())

기수 0
EDATE 0
NIHID 0
AGE 0
SEX 0
HEIGHT 0
WEIGHT 5
WAIST 8
GLU0_ORI 299
R_GTP_TR 2
AST_ORI 2
ALT_ORI 5
TCHL_ORI 2
HDL_ORI 2
TRIGLY_ORI 3
HB_ORI 2
SMOKE 134
DRUGINS 585
DRUGHT 585
DRUGICD 585
DRUGLP 585
FMHTN 0
FMHEA 0
FMDM 0
PRT16_U 37
KID 4
TOTALC 306
PHYACTL 222
PHYACTM 297
PHYACTH 243
MET_CAL 385
PA_NEW 0
SBP 19
DBP 19
eGFR 2
BMI 5
DRK_NEW 0
CLASS 0
final_CKD 0

In [15]:
MME_group2.dropna(inplace = True, axis = 0)
MME_group2.reset_index(drop = True, inplace = True)

In [16]:
MME_group2

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,PHYACTH,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW,CLASS,final_CKD
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,1.75,2571.0,2,96.0,63.0,78.564168,19.349962,2,3,1
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,0.00,2409.0,2,95.0,68.0,92.420166,24.350452,5,1,0
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,4.50,2407.5,2,138.0,69.0,86.839489,18.115004,1,2,1
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,0.75,886.5,2,102.0,74.0,102.784214,22.138368,1,3,0
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,0.00,2409.0,2,131.0,84.0,112.380813,28.899599,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8366,A01,200111.0,NIH1604999640,44.0,2,1.606,57.0,69.0,80.0,8.0,...,0.00,2409.0,2,108.0,68.0,105.713250,22.099567,2,3,0
8367,A01,200203.0,NIH1604999732,63.0,1,1.650,56.0,82.5,133.0,436.0,...,5.50,2788.5,2,140.0,98.0,95.070429,20.569330,3,2,0
8368,A01,200301.0,NIH1604999772,44.0,1,1.640,68.5,83.0,91.0,115.0,...,0.00,495.0,1,128.0,94.0,81.212239,25.468471,5,1,1
8369,A01,200206.0,NIH1604999929,41.0,2,1.540,59.0,74.7,90.0,14.0,...,0.00,693.0,2,102.0,74.0,107.964675,24.877720,2,3,0
8370,A01,200301.0,NIH1604999956,43.0,1,1.760,79.5,88.0,101.0,95.0,...,0.00,346.5,1,127.0,83.0,104.240575,25.665031,4,1,0

In [17]:
MME_group2.to_csv('data\\MME_group2_preprocessed.csv', encoding = 'euc-kr', index = False)

In [18]:
na_list = []
for col in MME_group3.columns: 
    if MME_group3[col].isna().sum() > 2000: 
        na_list.append(col)

In [19]:
na_list

['TREATD5', 'TREATD14', 'KIDAG', 'KIDCU', 'BODYFAT']

In [20]:
MME_group3.drop(na_list, axis = 1, inplace = True)

In [21]:
for col in MME_group3.columns: 
    print(col, MME_group3[col].isna().sum())

기수 0
EDATE 0
NIHID 0
AGE 0
SEX 0
HEIGHT 0
WEIGHT 5
WAIST 8
GLU0_ORI 299
R_GTP_TR 2
AST_ORI 2
ALT_ORI 5
TCHL_ORI 2
HDL_ORI 2
TRIGLY_ORI 3
HB_ORI 2
SMOKE 134
DRUGINS 585
DRUGHT 585
DRUGICD 585
DRUGLP 585
FMHTN 0
FMHEA 0
FMDM 0
PRT16_U 37
KID 4
TOTALC 306
PHYACTL 222
PHYACTM 297
PHYACTH 243
MET_CAL 385
PA_NEW 0
SBP 19
DBP 19
eGFR 2
BMI 5
DRK_NEW 0
CLASS 0
final_CKD 0

In [22]:
MME_group3.dropna(inplace = True, axis = 0)
MME_group3.reset_index(drop = True, inplace = True)

In [23]:
MME_group3

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,PHYACTH,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW,CLASS,final_CKD
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,1.75,2571.0,2,96.0,63.0,78.564168,19.349962,2,4,1
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,0.00,2409.0,2,95.0,68.0,92.420166,24.350452,5,1,0
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,4.50,2407.5,2,138.0,69.0,86.839489,18.115004,1,3,1
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,0.75,886.5,2,102.0,74.0,102.784214,22.138368,1,4,0
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,0.00,2409.0,2,131.0,84.0,112.380813,28.899599,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8366,A01,200111.0,NIH1604999640,44.0,2,1.606,57.0,69.0,80.0,8.0,...,0.00,2409.0,2,108.0,68.0,105.713250,22.099567,2,4,0
8367,A01,200203.0,NIH1604999732,63.0,1,1.650,56.0,82.5,133.0,436.0,...,5.50,2788.5,2,140.0,98.0,95.070429,20.569330,3,3,0
8368,A01,200301.0,NIH1604999772,44.0,1,1.640,68.5,83.0,91.0,115.0,...,0.00,495.0,1,128.0,94.0,81.212239,25.468471,5,2,1
8369,A01,200206.0,NIH1604999929,41.0,2,1.540,59.0,74.7,90.0,14.0,...,0.00,693.0,2,102.0,74.0,107.964675,24.877720,2,4,0
8370,A01,200301.0,NIH1604999956,43.0,1,1.760,79.5,88.0,101.0,95.0,...,0.00,346.5,1,127.0,83.0,104.240575,25.665031,4,2,0

In [24]:
MME_group3.to_csv('data\\MME_group3_preprocessed.csv', encoding = 'euc-kr', index = False)

-------------------------

#### MME 자체 전처리 (서원진 선생님 드리는 용)

In [25]:
final = pd.read_csv('data\\MME_.csv', encoding = 'euc-kr', low_memory = True)
final

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,PHYACTM,PHYACTH,BODYFAT,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,3.50,1.75,13400.0,2571.0,2,96.0,63.0,78.564168,19.349962,2
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,5.50,0.00,15700.0,2409.0,2,95.0,68.0,92.420166,24.350452,5
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,0.00,4.50,NaN,2407.5,2,138.0,69.0,86.839489,18.115004,1
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,0.75,0.75,14700.0,886.5,2,102.0,74.0,102.784214,22.138368,1
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,5.50,0.00,19500.0,2409.0,2,131.0,84.0,112.380813,28.899599,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70205,A07,201303.0,NIH1604999643,55.0,2,1.641,60.9,74.0,88.0,NaN,...,NaN,NaN,17900.0,NaN,0,92.0,62.0,74.201919,22.615184,1
70206,A07,201407.0,NIH1604999732,75.0,1,1.632,50.8,81.3,110.0,NaN,...,NaN,NaN,10500.0,NaN,0,131.0,66.0,68.312024,19.073193,3
70207,A07,201409.0,NIH1604999772,55.0,1,1.635,66.2,88.3,85.0,NaN,...,NaN,NaN,13900.0,NaN,0,NaN,NaN,50.048887,24.764096,2
70208,A07,201403.0,NIH1604999929,53.0,2,1.530,63.2,85.3,95.0,NaN,...,NaN,NaN,27100.0,NaN,0,112.0,71.0,74.230720,26.998163,2
70209,A07,NaN,NIH1604999956,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0

In [26]:
final = final.loc[final['기수'] == 'A01']
final

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,PHYACTM,PHYACTH,BODYFAT,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,3.50,1.75,13400.0,2571.0,2,96.0,63.0,78.564168,19.349962,2
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,5.50,0.00,15700.0,2409.0,2,95.0,68.0,92.420166,24.350452,5
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,0.00,4.50,NaN,2407.5,2,138.0,69.0,86.839489,18.115004,1
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,0.75,0.75,14700.0,886.5,2,102.0,74.0,102.784214,22.138368,1
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,5.50,0.00,19500.0,2409.0,2,131.0,84.0,112.380813,28.899599,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10025,A01,200109.0,NIH1604999643,43.0,2,1.644,61.0,71.3,85.0,8.0,...,2.50,0.00,16200.0,1689.0,2,99.0,71.0,90.587425,22.569722,1
10026,A01,200203.0,NIH1604999732,63.0,1,1.650,56.0,82.5,133.0,436.0,...,0.00,5.50,NaN,2788.5,2,140.0,98.0,95.070429,20.569330,3
10027,A01,200301.0,NIH1604999772,44.0,1,1.640,68.5,83.0,91.0,115.0,...,0.00,0.00,17200.0,495.0,1,128.0,94.0,81.212239,25.468471,5
10028,A01,200206.0,NIH1604999929,41.0,2,1.540,59.0,74.7,90.0,14.0,...,0.00,0.00,18100.0,693.0,2,102.0,74.0,107.964675,24.877720,2
10029,A01,200301.0,NIH1604999956,43.0,1,1.760,79.5,88.0,101.0,95.0,...,0.00,0.00,20900.0,346.5,1,127.0,83.0,104.240575,25.665031,4

In [28]:
na_list = []
for col in final.columns: 
    if final[col].isna().sum() > 2000: 
        na_list.append(col)

In [29]:
na_list

['TREATD5', 'TREATD14', 'KIDAG', 'KIDCU', 'BODYFAT']

In [30]:
final.drop(na_list, axis = 1, inplace = True)

C:\Users\user\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [31]:
for col in final.columns: 
    print(col, final[col].isna().sum())

기수 0
EDATE 0
NIHID 0
AGE 0
SEX 0
HEIGHT 0
WEIGHT 5
WAIST 8
GLU0_ORI 299
R_GTP_TR 2
AST_ORI 2
ALT_ORI 5
TCHL_ORI 2
HDL_ORI 2
TRIGLY_ORI 3
HB_ORI 2
SMOKE 134
DRUGINS 585
DRUGHT 585
DRUGICD 585
DRUGLP 585
FMHTN 0
FMHEA 0
FMDM 0
PRT16_U 37
KID 4
TOTALC 306
PHYACTL 222
PHYACTM 297
PHYACTH 243
MET_CAL 385
PA_NEW 0
SBP 19
DBP 19
eGFR 2
BMI 5
DRK_NEW 0

In [32]:
final.dropna(inplace = True, axis = 0)
final.reset_index(drop = True, inplace = True)

<ipython-input-32-e34cc2c44f1f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.dropna(inplace = True, axis = 0)

In [33]:
final

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,PHYACTL,PHYACTM,PHYACTH,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,4.50,3.50,1.75,2571.0,2,96.0,63.0,78.564168,19.349962,2
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,5.50,5.50,0.00,2409.0,2,95.0,68.0,92.420166,24.350452,5
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,1.25,0.00,4.50,2407.5,2,138.0,69.0,86.839489,18.115004,1
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,1.75,0.75,0.75,886.5,2,102.0,74.0,102.784214,22.138368,1
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,5.50,5.50,0.00,2409.0,2,131.0,84.0,112.380813,28.899599,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8366,A01,200111.0,NIH1604999640,44.0,2,1.606,57.0,69.0,80.0,8.0,...,5.50,5.50,0.00,2409.0,2,108.0,68.0,105.713250,22.099567,2
8367,A01,200203.0,NIH1604999732,63.0,1,1.650,56.0,82.5,133.0,436.0,...,0.75,0.00,5.50,2788.5,2,140.0,98.0,95.070429,20.569330,3
8368,A01,200301.0,NIH1604999772,44.0,1,1.640,68.5,83.0,91.0,115.0,...,2.50,0.00,0.00,495.0,1,128.0,94.0,81.212239,25.468471,5
8369,A01,200206.0,NIH1604999929,41.0,2,1.540,59.0,74.7,90.0,14.0,...,3.50,0.00,0.00,693.0,2,102.0,74.0,107.964675,24.877720,2
8370,A01,200301.0,NIH1604999956,43.0,1,1.760,79.5,88.0,101.0,95.0,...,1.75,0.00,0.00,346.5,1,127.0,83.0,104.240575,25.665031,4

In [37]:
final_M = final.loc[final['SEX'] == 1].reset_index(drop = True)
final_W = final.loc[final['SEX'] == 2].reset_index(drop = True)

In [38]:
final_M

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,PHYACTL,PHYACTM,PHYACTH,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW
0,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,5.50,5.50,0.0,2409.0,2,95.0,68.0,92.420166,24.350452,5
1,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,1.25,0.00,4.5,2407.5,2,138.0,69.0,86.839489,18.115004,1
2,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,5.50,5.50,0.0,2409.0,2,131.0,84.0,112.380813,28.899599,4
3,A01,200208.0,NIH1604001274,64.0,1,1.663,62.8,84.0,77.0,8.0,...,2.50,0.00,0.0,495.0,1,101.0,60.0,99.730821,22.707804,1
4,A01,200112.0,NIH1604001304,47.0,1,1.630,68.0,87.0,85.0,13.0,...,2.50,0.00,5.5,3135.0,3,102.0,66.0,112.380813,25.593737,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3971,A01,200112.0,NIH1604998886,50.0,1,1.699,77.0,86.0,113.0,54.0,...,0.00,0.25,0.0,60.0,1,114.0,88.0,87.369677,26.674972,5
3972,A01,200211.0,NIH1604999186,42.0,1,1.706,63.7,82.0,89.0,29.0,...,4.50,0.25,0.0,951.0,2,127.0,89.0,82.361261,21.886755,4
3973,A01,200203.0,NIH1604999732,63.0,1,1.650,56.0,82.5,133.0,436.0,...,0.75,0.00,5.5,2788.5,2,140.0,98.0,95.070429,20.569330,3
3974,A01,200301.0,NIH1604999772,44.0,1,1.640,68.5,83.0,91.0,115.0,...,2.50,0.00,0.0,495.0,1,128.0,94.0,81.212239,25.468471,5
3975,A01,200301.0,NIH1604999956,43.0,1,1.760,79.5,88.0,101.0,95.0,...,1.75,0.00,0.0,346.5,1,127.0,83.0,104.240575,25.665031,4

In [39]:
final_W

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,PHYACTL,PHYACTM,PHYACTH,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,4.50,3.50,1.75,2571.0,2,96.0,63.0,78.564168,19.349962,2
1,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,1.75,0.75,0.75,886.5,2,102.0,74.0,102.784214,22.138368,1
2,A01,200201.0,NIH1604000472,68.0,2,1.547,68.8,104.0,87.0,47.0,...,0.75,0.00,5.50,2788.5,2,120.0,70.0,46.548404,28.748012,1
3,A01,200107.0,NIH1604001027,68.0,2,1.490,56.0,94.0,75.0,7.0,...,1.25,0.75,0.25,547.5,1,175.0,112.0,89.312324,25.224089,1
4,A01,200209.0,NIH1604001224,43.0,2,1.546,66.4,88.0,79.0,24.0,...,1.25,5.50,0.00,1567.5,2,110.0,79.0,106.458459,27.781078,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4390,A01,200112.0,NIH1604999204,69.0,2,1.516,61.0,95.0,77.0,15.0,...,0.75,3.50,0.00,988.5,2,144.0,86.0,88.687138,26.541865,1
4391,A01,200207.0,NIH1604999274,67.0,2,1.619,77.4,101.3,179.0,74.0,...,0.75,1.25,0.00,448.5,1,120.0,84.0,89.941917,29.528900,1
4392,A01,200201.0,NIH1604999446,43.0,2,1.630,80.0,84.7,88.0,11.0,...,5.50,0.00,0.00,1089.0,2,117.0,72.0,90.587425,30.110279,1
4393,A01,200111.0,NIH1604999640,44.0,2,1.606,57.0,69.0,80.0,8.0,...,5.50,5.50,0.00,2409.0,2,108.0,68.0,105.713250,22.099567,2
4394,A01,200206.0,NIH1604999929,41.0,2,1.540,59.0,74.7,90.0,14.0,...,3.50,0.00,0.00,693.0,2,102.0,74.0,107.964675,24.877720,2

In [40]:
final_W.to_csv('data\\MME_F_preprocessed.csv', encoding = 'euc-kr', index = False)
final_M.to_csv('data\\MME_M_preprocessed.csv', encoding = 'euc-kr', index = False)
final.to_csv('data\\MME_preprocessed.csv', encoding = 'euc-kr', index = False)