In [10]:
#!pip install cssselect

Collecting cssselect
  Downloading cssselect-1.1.0-py2.py3-none-any.whl (16 kB)
Installing collected packages: cssselect
Successfully installed cssselect-1.1.0

In [61]:
#!pip install selenium

Collecting selenium
  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.4)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [64]:
from selenium import webdriver
driver = webdriver.Chrome('C:\\Users\\user\\chromedriver')

In [1]:
# 기본
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import matplotlib
from matplotlib import font_manager, rc
import platform
from tqdm import tqdm

# crawling
import requests
import lxml.html
import sqlite3
from pandas.io import sql
from bs4 import BeautifulSoup

In [2]:
req = requests.get('http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5918&contSeq=5918&board_id=312&gubun=ALL')
html = req.text 
soup = BeautifulSoup(html, 'html.parser')

In [42]:
soup

<!DOCTYPE HTML>

<html lang="ko">
<head>
<title>코로나바이러스감염증-19 &gt; 뉴스 &amp; 이슈 &gt; 보도자료

     내용보기 " 코로나19 국내 발생 및 예방접종 현황(9.14., 0시 기준) "


</title>
<meta content="코로나바이러스감염증-19,뉴스 &amp; 이슈, 보도자료, 게시물 내용보기" name="description"/>
<meta content="코로나바이러스감염증-19,뉴스 &amp; 이슈, 보도자료, 게시물 내용보기" property="og:description"/>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1, user-scalable=yes" name="viewport"/>
<meta content="보건복지부, 코로나바이러스감염증-19(COVID-19), 질병관리청" name="author"/>
<meta content="코로나바이러스감염증-19(COVID-19), 코로나바이러스감염증-19, 코로나바이러스, 보건복지부" name="keywords"/>
<meta content="보건복지부" name="copyright"/>
<meta content="http://ncov.mohw.go.kr/" property="og:url"/>
<meta content="website" property="og:type"/>
<meta content="코로나바이러스감염증-19(COVID-19)" property="og:site_name"/>
<meta content="ko" property="og:locale"/>
<meta content="코로나바이러스감염증-19(COVID-19)" property="og:title"/>
<meta content="http://ncov.mohw.go.kr/static/image/header/homeimg_new.jpg" property="og:image"/>
<link href="/static/image/header/ROK.png;jsessionid=XM1bTeHd2KypLuEEID3L1Wx9XVDCtc7k15uamSW0RWeAaA5sp6SLFXavaikqASHR.mohwwas1_servlet_engine40" rel="icon" sizes="64x64" type="image/png"/>
<link href="/static/css/co_common.css;jsessionid=XM1bTeHd2KypLuEEID3L1Wx9XVDCtc7k15uamSW0RWeAaA5sp6SLFXavaikqASHR.mohwwas1_servlet_engine40?ver=20210901" rel="stylesheet"/>
<link href="/static/css/co_component.css;jsessionid=XM1bTeHd2KypLuEEID3L1Wx9XVDCtc7k15uamSW0RWeAaA5sp6SLFXavaikqASHR.mohwwas1_servlet_engine40?ver=20210809" rel="stylesheet"/>
<link href="/static/css/lightslider.min.css;jsessionid=XM1bTeHd2KypLuEEID3L1Wx9XVDCtc7k15uamSW0RWeAaA5sp6SLFXavaikqASHR.mohwwas1_servlet_engine40" rel="stylesheet"/>
<script src="/static/js/jquery-1.11.2.min.js;jsessionid=XM1bTeHd2KypLuEEID3L1Wx9XVDCtc7k15uamSW0RWeAaA5sp6SLFXavaikqASHR.mohwwas1_servlet_engine40"></script>
<script src="/static/js/lightslider.min.js;jsessionid=XM1bTeHd2KypLuEEID3L1Wx9XVDCtc7k15uamSW0RWeAaA5sp6SLFXavaikqASHR.mohwwas1_servlet_engine40"></script>
<script src="/static/js/co_common.js;jsessionid=XM1bTeHd2KypLuEEID3L1Wx9XVDCtc7k15uamSW0RWeAaA5sp6SLFXavaikqASHR.mohwwas1_servlet_engine40?ver=20210805"></script>
<script language="javascript" type="text/javaScript">

function fn_goMenu(url, brd_id, brd_gubun, data_Gubun){

	$("#brdId").val(brd_id);
	$("#brdGubun").val(brd_gubun);
	$("#dataGubun").val(data_Gubun);

	var frm = $("#menuFrm");
	frm.attr("action", url);
	frm.submit();
}

function fn_boardView(url, brdId, brdGubun, ncvContSeq, board_id, dataGubun){
	$("#brdId").val(brdId);
	$("#brdGubun").val(brdGubun);
	$("#ncvContSeq").val(ncvContSeq);
	$("#contSeq").val(ncvContSeq);
	$("#board_id").val(board_id);
	$("#dataGubun").val(dataGubun);

	var frm = $("#menuFrm");
	frm.attr("action", url);
	frm.submit();
}

function fn_tcm_boardView(url, brdId, brdGubun, ncvContSeq, board_id, gubun){

	$("#brdId").val(brdId);
	$("#brdGubun").val(brdGubun);
	$("#ncvContSeq").val(ncvContSeq);
	$("#contSeq").val(ncvContSeq);
	$("#board_id").val(board_id);
	$("#gubun").val(gubun);

	var frm = $("#menuFrm");
	frm.attr("action", url);
	frm.submit();

}


function search( where ){
	var thisForm = $("#"+ where);
	var thisSearch = $(thisForm).find(".searchTerm");
	var cont = "";
	$(thisSearch).each(function() {
		cont += $(this).val();
	});

	//특수문자 체크
	if (containsChars(cont,"~!@#$%^&*()+|`=\\[]{};:'\".<>/?")) {
		alert("특수문자는 제외하고 검색해주시기 바랍니다.");
		$(thisSearch).val("");
		event.preventDefault();
		return false;
	}else if ( cont == "" || cont == null || cont == undefined){
		alert("검색어를 입력하세요");
		$(thisSearch).focus();
		event.preventDefault();
		return false;
	}

	return true;

}



</script>
<link href="/static/css/chart_kr.css?ver=20210809" rel="stylesheet"/>
<script src="/static/js/Chart.min.js"></script>
<script src="/static/js/chartjs-plugin-datalabels.min.js"></script>
<script src="/static/js/chart_kr.js?ver=20210809"></script>
</head>
<body>
<form id="menuFrm" method="get" name="menuFrm">
<input id="brdId" name="brdId" type="hidden"/>
<input id="brdGubun" name="brdGubun" type="hidden"/>
<input id="dataGubun" name="dataGubun" type="hidden"/>
<input id="ncvContSeq" name="ncvContSeq" type="hidden"/>
<input id="contSeq" name="contSeq" type="hidden"/>
<input id="board_id" name="board_id" type="hidden"/>
<input id="gubun" name="gubun" type="hidden"/>
</form>
<!-- skip nav -->
<ul class="top_skipmenu">
<li><a href="#content">본문 바로가기</a></li>
<li><a href="#gnb">메뉴 바로가기</a></li>
</ul>
<div class="wrap nj">
<div class="w_catch">
<div class="wc_p t_dp_n m_dp_n"><span class="hdn">너비 1180px 이상</span></div>
<div class="wc_t p_dp_n m_dp_n"><span class="hdn">너비 768px - 1179px</span></div>
<div class="wc_m p_dp_n t_dp_n"><span class="hdn">너비 767px 이하</span></div>
</div>
<div class="navigation t_dp_n m_dp_n">
<div>
<div class="n_left"><h1 class="corona_h1"><a href="/">코로나바이러스감염증-19<span>(COVID-19)</span></a></h1></div>
<div class="n_right">
<ul class="shim">
<li><a href="https://ncv.kdca.go.kr" target="_blank" title="새창">코로나19 백신 및 예방접종</a></li>
<li><a href="http://www.mohw.go.kr/" target="_blank" title="새창">중앙사고수습본부</a></li>
<li><a href="http://www.kdca.go.kr/" target="_blank" title="새창">중앙방역대책본부</a></li>
</ul>
<ul class="sns">
<li class="facebook"><a href="http://www.facebook.com/koreadca" target="_blank" title="질병관리청 페이스북으로 새창">페이스북</a></li>
<li class="youtube"><a href="https://youtube.com/channel/UCa7-3Zvxg-5Rfxgu3RQY_gw" target="_blank" title="질병관리청 유튜브 새창">유튜브</a></li>
<li class="post"><a href="https://post.naver.com/my.nhn?memberNo=20182790" target="_blank" title="질병관리청 포스트 새창">포스트</a></li>
<li class="twitter"><a href="http://twitter.com/koreadca" target="_blank" title="질병관리청 트위터 새창">트위터</a></li>
</ul>
<ul class="country">
<li><a href="/en/" target="_blank" title="새창">English</a></li>
<li><a href="/cn/" target="_blank" title="새창">中文</a></li>
</ul>
</div>
</div>
</div>
<div class="header" id="header">
<div>
<div class="h_left">
<h1 class="logo"><a href="/">코로나바이러스감염증-19<span>(COVID-19)</span></a></h1>
<div class="t_top_other">
<ul class="t_sns">
<li class="facebook"><a href="http://www.facebook.com/koreadca" target="_blank" title="질병관리청 페이스북으로 새창">페이스북</a></li>
<li class="youtube"><a href="https://youtube.com/channel/UCa7-3Zvxg-5Rfxgu3RQY_gw" target="_blank" title="질병관리청 유튜브 새창">유튜브</a></li>
<li class="post"><a href="https://post.naver.com/my.nhn?memberNo=20182790" target="_blank" title="질병관리청 포스트 새창">포스트</a></li>
<li class="twitter"><a href="http://twitter.com/koreadca" target="_blank" title="질병관리청 트위터 새창">트위터</a></li>
</ul>
<ul class="t_camp">
<li><a href="https://ncv.kdca.go.kr" target="_blank" title="새창">코로나19 백신 및 예방접종</a></li>
<li><a href="http://www.mohw.go.kr/" target="_blank" title="새창">중앙사고수습본부</a></li>
<li><a href="http://www.kdca.go.kr/" target="_blank" title="새창">중앙방역대책본부</a></li>
</ul>
<ul class="t_country">
<li><a href="/en/" target="_blank" title="새창">English</a></li>
<li><a href="/cn/" target="_blank" title="새창">中文</a></li>
</ul>
</div>
</div>
<div class="h_right">
<div class="gnb subfix t_dp_n m_dp_n" id="gnb">
<ul>
<li><a href="/baroView.do?brdId=4&amp;brdGubun=41">바로알기</a>
<div class="g_fixsub"><div>
<ul>
<li><a href="/baroView.do?brdId=4&amp;brdGubun=41">코로나19 란? </a></li>
<li><a href="/baroView2.do?brdId=4&amp;brdGubun=42">대한민국 방역체계</a></li>
<li><a href="/baroView3.do?brdId=4&amp;brdGubun=43">환자치료 및 관리</a></li>
<li><a href="/baroView4.do?brdId=4&amp;brdGubun=44">예방 조치 안내</a></li>
</ul>
</div></div>
</li>
<li><a href="/bdBoardList.do?brdId=1&amp;brdGubun=11">발생동향</a>
<div class="g_fixsub"><div>
<ul>
<li><a href="/bdBoardList.do?brdId=1&amp;brdGubun=11">국내 발생 현황</a></li>
<li><a href="/bdBoardList.do?brdId=1&amp;brdGubun=14">국외 발생 현황</a></li>
<li><a href="/bdBoardList.do?brdId=1&amp;brdGubun=13">시도별 발생동향</a></li>
<li><a href="/bdBoardList.do?brdId=1&amp;brdGubun=12">확진환자 이동경로</a></li>
</ul>
</div></div>
</li>
<li class="on"><a href="/tcmBoardList.do?brdId=3&amp;brdGubun=">뉴스 &amp; 이슈</a>
<div class="g_fixsub"><div>
<ul>
<li class="on"><a href="/tcmBoardList.do?brdId=3&amp;brdGubun=">보도자료</a></li>
<li><a href="/factBoardList.do?brdId=3&amp;brdGubun=33">코로나19 팩트 &amp; 이슈체크</a></li>
<li><a href="/maskBoardList.do?brdId=3&amp;brdGubun=36">공적마스크 공급현황</a></li>
<li><a href="/lastBannerList.do?brdId=3&amp;brdGubun=39">일별 브리핑 이슈 모아보기</a></li>
</ul>
</div></div>
</li>
<li><a href="/infoBoardList.do?brdId=3&amp;brdGubun=32">홍보자료 &amp; FAQ</a>
<div class="g_fixsub"><div>
<ul>
<li><a href="/infoBoardList.do?brdId=3&amp;brdGubun=32">홍보자료</a></li>
<li><a href="/faqBoardList.do?brdId=3&amp;brdGubun=38">FAQ</a></li>
</ul>
</div></div>
</li>
<li><a href="/supportPolicyBoardList.do?brdId=5&amp;brdGubun=51">피해지원정책</a>
<div class="g_fixsub"><div>
<ul>
<li><a href="/supportPolicyBoardList.do?brdId=5&amp;brdGubun=51">일반인(대국민)</a></li>
<li><a href="/supportPolicyBoardList.do?brdId=5&amp;brdGubun=52">취약계층</a></li>
<li><a href="/supportPolicyBoardList.do?brdId=5&amp;brdGubun=53">소상공인 및 기업</a></li>
<li><a href="/supportPolicyBoardList.do?brdId=5&amp;brdGubun=54">의료기관</a></li>
<li><a href="/supportPolicyBoardList.do?brdId=5&amp;brdGubun=55">발생지역</a></li>
<li><a href="/supportPolicyBoardList.do?brdId=5&amp;brdGubun=56">기타</a></li>
</ul>
</div></div>
</li>
<li><a href="/duBoardList.do?brdId=2&amp;brdGubun=21">공지사항</a>
<div class="g_fixsub"><div>
<ul>
<li><a href="/duBoardList.do?brdId=2&amp;brdGubun=21">일반인</a></li>
<li><a href="/duBoardList.do?brdId=2&amp;brdGubun=23">입국자 및 해외여행객</a></li>
<li><a href="/duBoardList.do?brdId=2&amp;brdGubun=22">자가격리자</a></li>
<li><a href="/duBoardList.do?brdId=2&amp;brdGubun=24">의료기관</a></li>
<li><a href="/duBoardList.do?brdId=2&amp;brdGubun=25">집단 및 다중이용시설</a></li>
<li><a href="/duBoardList.do?brdId=2&amp;brdGubun=28">지자체</a></li>
<li><a href="/duBoardList.do?brdId=2&amp;brdGubun=26">기업 및 시장</a></li>
<li><a href="/duBoardList.do?brdId=2&amp;brdGubun=29">지역별 사회적 거리 두기 단계</a></li>
</ul>
</div></div>
</li>
<li><a href="/socdisBoardView.do?brdId=6&amp;brdGubun=1">사회적 거리 두기</a>
<div class="g_fixsub"><div>
<ul>
<li><a href="/socdisBoardView.do?brdId=6&amp;brdGubun=1">거리 두기 체계 개요</a></li>
<li><a href="/socdisBoardList.do?brdId=6&amp;brdGubun=64&amp;dataGubun=641">단계별 실행방안</a></li>
<li><a href="/socdisBoardList.do?brdId=6&amp;brdGubun=65&amp;dataGubun=651">주요 시설·활동 조치사항</a></li>
<!-- <li ><a href="/socdisBoardList.do?brdId=6&brdGubun=66">생활 속 거리 두기 기본수칙</a></li>
                                        <li ><a href="/socdisBoardList.do?brdId=6&brdGubun=67">생활 속 거리 두기 세부지침</a></li>   -->
<li><a href="/regSocdisBoardView.do?brdId=6&amp;brdGubun=68&amp;ncvContSeq=495">지역별 거리 두기 단계 현황</a></li>
</ul>
</div></div>
</li>
<!--
                            <li ><a href="/socdisBoardList.do?brdId=6&brdGubun=66">생활 속 거리 두기 수칙</a>
                                <div class="g_fixsub"><div>
                                    <ul>
                                        <li ><a href="/socdisBoardList.do?brdId=6&brdGubun=66">기본수칙</a></li>
                                        <li ><a href="/socdisBoardList.do?brdId=6&brdGubun=67">세부지침</a></li>
                                    </ul>
                                </div></div>
                            </li>


                             <li ><a href="/guidelineList.do?brdId=6&brdGubun=61&dataGubun=611">생활 속 거리 두기</a>
                                <div class="g_fixsub"><div>
                                    <ul>
                                        <li ><a href="/guidelineList.do?brdId=6&brdGubun=61&dataGubun=611">기본 수칙</a></li>
                                        <li ><a href="/guidelineList.do?brdId=6&brdGubun=63&dataGubun=631">공동체 수칙</a></li>
                                        <li ><a href="/guidelineList.do?brdId=6&brdGubun=62">장소별 실천수칙</a></li>
                                    </ul>
                                </div></div>
                            </li>
                            -->
<li><a href="/maskDutyBoardList.do?brdId=7&amp;brdGubun=71">마스크 착용</a>
<div class="g_fixsub">
<div>
<ul>
<li><a href="/maskDutyBoardList.do?brdId=7&amp;brdGubun=71">지침·제도</a> </li>
<li><a href="/maskDutyBoardList.do?brdId=7&amp;brdGubun=72">FAQ</a> </li>
<li><a href="/maskDutyBoardList.do?brdId=7&amp;brdGubun=73">홍보자료</a> </li>
<li><a href="/maskDutyBoardList.do?brdId=7&amp;brdGubun=74">시도별 현황</a> </li>
</ul>
</div>
</div>
</li>
</ul>
</div>
<!--20200221 검색추가 시작-->
<div class="p_search">
<form action="/search/search.jsp" id="searchForm1" method="post" name="searchForm">
<input name="pageNum" type="hidden" value="1"/> <!-- 현재페이지 -->
<input name="searchTab" type="hidden" value="TOTAL"/> <!-- 검색탭 -->
<input name="order" type="hidden" value="weight"/> <!-- 정렬 -->
<input name="sDate" type="hidden" value=""/> <!-- 시작일자 -->
<input name="eDate" type="hidden" value=""/> <!-- 시작일자 -->
<input name="searchRange" type="hidden" value="total"/> <!-- 검색범위 -->
<input name="dateRange" type="hidden" value="all"/> <!-- 등록범위 -->
<div class="n_search">
<label class="hdn" for="searchTermPc123">검색어</label>
<input class="searchTerm" id="searchTermPc123" name="searchTerm" placeholder="검색어를 입력하세요." type="text" value=""/>
<input class="btn_search" onclick="search( 'searchForm1' );" title="검색" type="submit"/>
</div>
</form>
</div>
<!--20200221 검색추가 끝//-->
<!--20200221 검색추가(tablet, mobile) 추가-->
<a class="btn_global_search" href=""><span class="hdn">통합검색</span><i></i></a>
<div class="global_search">
<form action="/search/search.jsp" id="searchForm2" method="post" name="searchForm">
<input name="pageNum" type="hidden" value="1"> <!-- 현재페이지 -->
<input name="searchTab" type="hidden" value="TOTAL"/> <!-- 검색탭 -->
<input name="order" type="hidden" value="weight"/> <!-- 정렬 -->
<input name="sDate" type="hidden" value=""/> <!-- 시작일자 -->
<input name="eDate" type="hidden" value=""/> <!-- 시작일자 -->
<input name="searchRange" type="hidden" value="total"/> <!-- 검색범위 -->
<input name="dateRange" type="hidden" value="all"/> <!-- 등록범위 -->
<div class="n_search">
<label class="hdn" for="searchTermMobile123">검색어</label>
<input class="searchTerm" id="searchTermMobile123" name="searchTerm" placeholder="검색어를 입력하세요." type="text" value=""/>
<input class="btn_search" onclick="search( 'searchForm2' );" title="검색" type="submit"/>
</div>
</input></form>
<a class="btn_close" href=""><span class="hdn">통합검색닫기</span></a>
</div>
<!--20200221 검색추가 추가 끝//-->
<a class="btn_global_menu" href=""><span class="hdn">전체메뉴</span><i></i></a>
</div>
</div>
</div>
<div class="global_menu">
<div>
<div class="gm_title">
<div class="gmt_p">
<span>전체메뉴</span>
</div>
<div class="gmt_tm">
<div class="gmtt_b">
<div class="gmt_site">
<ul>
<li><a href="/">홈</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="gm_content">
<div>
<ul>
<li><a class="gmc_title">바로알기</a>
<div class="gmc_list">
<ul>
<li><a href="/baroView.do?brdId=4&amp;brdGubun=41">코로나19 란? </a></li>
<li><a href="/baroView2.do?brdId=4&amp;brdGubun=42">대한민국 방역체계</a></li>
<li><a href="/baroView3.do?brdId=4&amp;brdGubun=43">환자치료 및 관리</a></li>
<li><a href="/baroView4.do?brdId=4&amp;brdGubun=44">예방 조치 안내</a></li>
</ul>
</div>
</li>
<li><a class="gmc_title">발생동향</a>
<div class="gmc_list">
<ul>
<li><a href="/bdBoardList.do?brdId=1&amp;brdGubun=11">국내 발생 현황</a></li>
<li><a href="/bdBoardList.do?brdId=1&amp;brdGubun=14">국외 발생 현황</a></li>
<li><a href="/bdBoardList.do?brdId=1&amp;brdGubun=13">시도별 발생동향</a></li>
<li><a href="/bdBoardList.do?brdId=1&amp;brdGubun=12">확진환자 이동경로</a></li>
</ul>
</div>
</li>
<li class="open"><a class="gmc_title">뉴스 &amp; 이슈</a>
<div class="gmc_list">
<ul>
<li class="on"><a href="/tcmBoardList.do?brdId=3&amp;brdGubun=">보도자료</a></li>
<li><a href="/factBoardList.do?brdId=3&amp;brdGubun=33">코로나19 팩트 &amp; 이슈체크</a></li>
<li><a href="/maskBoardList.do?brdId=3&amp;brdGubun=36">공적마스크 공급현황</a></li>
<li><a href="/lastBannerList.do?brdId=3&amp;brdGubun=39">일별 브리핑 이슈 모아보기</a></li>
</ul>
</div>
</li>
<li><a class="gmc_title">홍보자료 &amp; FAQ</a>
<div class="gmc_list">
<ul>
<li><a href="/infoBoardList.do?brdId=3&amp;brdGubun=32">홍보자료</a></li>
<li><a href="/faqBoardList.do?brdId=3&amp;brdGubun=38">FAQ</a></li>
</ul>
</div>
</li>
<li><a class="gmc_title" href="">피해지원정책</a>
<div class="gmc_list">
<ul>
<li><a href="/supportPolicyBoardList.do?brdId=5&amp;brdGubun=51">일반인(대국민)</a> </li>
<li><a href="/supportPolicyBoardList.do?brdId=5&amp;brdGubun=52">취약계층</a> </li>
<li><a href="/supportPolicyBoardList.do?brdId=5&amp;brdGubun=53">소상공인 및 기업</a> </li>
<li><a href="/supportPolicyBoardList.do?brdId=5&amp;brdGubun=54">의료기관</a> </li>
<li><a href="/supportPolicyBoardList.do?brdId=5&amp;brdGubun=55">발생지역</a> </li>
<li><a href="/supportPolicyBoardList.do?brdId=5&amp;brdGubun=56">기타</a> </li>
</ul>
</div>
</li>
<li><a class="gmc_title" href="">공지사항</a>
<div class="gmc_list">
<ul>
<li><a href="/duBoardList.do?brdId=2&amp;brdGubun=21">일반인</a> </li>
<li><a href="/duBoardList.do?brdId=2&amp;brdGubun=23">입국자 및 해외여행객</a> </li>
<li><a href="/duBoardList.do?brdId=2&amp;brdGubun=22">자가격리자</a> </li>
<li><a href="/duBoardList.do?brdId=2&amp;brdGubun=24">의료기관</a> </li>
<li><a href="/duBoardList.do?brdId=2&amp;brdGubun=25">집단 및 다중이용시설</a> </li>
<li><a href="/duBoardList.do?brdId=2&amp;brdGubun=28">지자체</a></li>
<li><a href="/duBoardList.do?brdId=2&amp;brdGubun=26">기업 및 시장</a> </li>
<li><a href="/duBoardList.do?brdId=2&amp;brdGubun=29">지역별 사회적 거리 두기 단계</a> </li>
</ul>
</div>
</li>
<li><a class="gmc_title" href="">사회적 거리 두기 </a>
<div class="gmc_list">
<ul>
<li><a href="/socdisBoardView.do?brdId=6&amp;brdGubun=1">거리 두기 체계 개요</a> </li>
<li><a href="/socdisBoardList.do?brdId=6&amp;brdGubun=64&amp;dataGubun=641">단계별 실행방안</a> </li>
<li><a href="/socdisBoardList.do?brdId=6&amp;brdGubun=65&amp;dataGubun=651">주요 시설·활동 조치사항</a> </li>
<!-- <li  ><a href="/socdisBoardList.do?brdId=6&brdGubun=66">생활 속 거리 두기 기본수칙</a> </li>
                                        <li  ><a href="/socdisBoardList.do?brdId=6&brdGubun=67">생활 속 거리 두기 세부지침</a> </li>	-->
<li><a href="/regSocdisBoardView.do?brdId=6&amp;brdGubun=68&amp;ncvContSeq=495">지역별 거리 두기 단계 현황</a> </li>
</ul>
</div>
</li>
<!--
                            <li  ><a href="" class="gmc_title">생활 속 거리 두기 수칙 </a>
                                <div class="gmc_list">
                                    <ul>
                                        <li  ><a href="/socdisBoardList.do?brdId=6&brdGubun=66">기본 수칙</a> </li>
                                        <li  ><a href="/socdisBoardList.do?brdId=6&brdGubun=67">세부지침</a> </li>
                                    </ul>
                                </div>
                            </li>


                             <li  ><a href="" class="gmc_title">생활 속 거리 두기 </a>
                                <div class="gmc_list">
                                    <ul>
                                        <li  ><a href="/guidelineList.do?brdId=6&brdGubun=61&dataGubun=611">기본 수칙</a> </li>
                                        <li  ><a href="/guidelineList.do?brdId=6&brdGubun=63&dataGubun=631">공동체 수칙</a> </li>
                                        <li  ><a href="/guidelineList.do?brdId=6&brdGubun=62">장소별 실천 수칙</a> </li>
                                    </ul>
                                </div>
                            </li>
                            -->
<li><a class="gmc_title" href="">마스크 착용</a>
<div class="gmc_list">
<ul>
<li><a href="/maskDutyBoardList.do?brdId=7&amp;brdGubun=71">지침·제도</a> </li>
<li><a href="/maskDutyBoardList.do?brdId=7&amp;brdGubun=72">FAQ</a> </li>
<li><a href="/maskDutyBoardList.do?brdId=7&amp;brdGubun=73">홍보자료</a> </li>
<li><a href="/maskDutyBoardList.do?brdId=7&amp;brdGubun=74">시도별 현황</a> </li>
</ul>
</div>
</li>
</ul>
</div>
</div>
<a class="btn_close" href=""><span class="hdn">전체메뉴닫기</span></a>
</div>
</div>
<div class="subm_fix">
<div class="cnt4-3-2">
<ul>
<li><a href="/baroView.do?brdId=4&amp;brdGubun=41"><span>코로나19 란?</span></a></li>
<li><a href="/baroView2.do?brdId=4&amp;brdGubun=42"><span>대한민국 방역체계</span></a></li>

In [52]:
# # 일별 확진자 수 테이블 생성 - 0915 여기서부터 돌리기
# # link index (5918, 3000), 테이블 인덱스 5, '0시 기준' 32~34 일 때 

# data1 = pd.DataFrame()
# for idx in range(5918, 3000, -1): 
    
#     response = requests.get('http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq={}&contSeq={}&board_id=312&gubun=ALL'.format(idx, idx))
#     html = response.text
#     soup = BeautifulSoup(html, 'html.parser')
    
#     # root = lxml.html.fromstring(response.content)

#     # 제목
#     # title = soup.select('#content > div > div.board_view > div.bv_content > div.bvc_txt > p > p:nth-child(1)')  # 제목 (인덱스용)
#     #vaccine = soup.select('#content > div > div.board_view > div.bv_content > div > p > table:nth-child(10)')
#     #print(vaccine)
    
#     title = soup.find('h4')  ## 찐 제목
#     title = str(title)
#     print(title.find('0시 기준'))
    
#     if (title.find('0시 기준') == 34 or title.find('0시 기준') == 33 or title.find('0시 기준') == 32):   ## '코로나19 국내 발생 및 예방접종 현황(9.14., 0시 기준)' 제목형식과 일치할때
#         print(title)
#         # 국내 발생 확진자 현황 테이블 가져오기
        
#         table_html = str(soup.select('table')[5])  ## 네번째 테이블 검사
#         table_df_list = pd.read_html(table_html)

# #         table_html = str(soup.select('table')[3])  ## 두번째 테이블 검사
# #         table_df_list = pd.read_html(table_html)

#         # 데이터프레임 선택하기
#         table_df = table_df_list[0]
#         # table_df.drop([4], inplace = True)
#         print(table_df)
        
#         if len(table_df) == 3:   ## 확진자 테이블이 있을 경우에만
#             k = table_df.transpose()
#             k = k.rename(columns = k.iloc[0])
#             k.drop([0], axis = 0, inplace = True)

#             colname1 = title[26:30] + ' ' + '신규'
#             colname2 = title[26:30] + ' ' + '누계'

#             k.rename(columns = {'신규' : colname1, '누계' : colname2}, inplace = True)
#             # k.drop(['구분'], axis = 1, inplace = True)
        
#             data1 = pd.concat([data1, k], axis = 1)
   
#     print(response.url)

In [ ]:
# 확진자 테이블 인덱스 3인 경우도 있고 5인 경우도 있음

In [24]:
data1

,구분,9.13 신규,9.13 누계,구분,9.11 신규,9.11 누계,구분,9.8. 신규,9.8. 누계,구분,...,8.21 누계,구분,8.16 신규,8.16 누계,구분,8.14 신규,8.14 누계,구분,(5.2 신규,(5.2 누계
1,합계,1409,260446,합계,1816,257312,합계,2014,"251,6231)",합계,...,221628,합계,1493,"212,6121)",합계,1860,209373,합계,505,130412
2,서울,554,85370,서울,656,84160,서울,665,"82,1781)",서울,...,72706,서울,355,"70,2031)",서울,510,69372,서울,190,42482
3,부산,35,11595,부산,35,11517,부산,31,11409,부산,...,10310,부산,125,9769,부산,150,9491,부산,14,5452
4,대구,31,13956,대구,42,13863,대구,60,13728,대구,...,12635,대구,44,12407,대구,79,12308,대구,22,9669
5,인천,151,12801,인천,131,12504,인천,120,12148,인천,...,10482,인천,110,9954,인천,76,9749,인천,17,5871
6,광주,14,4223,광주,21,4183,광주,43,4115,광주,...,3617,광주,27,3498,광주,16,3444,광주,9,2630
7,대전,39,6114,대전,65,6030,대전,39,5879,대전,...,5140,대전,31,4940,대전,40,4865,대전,11,2002
8,울산,17,4574,울산,29,4523,울산,47,4384,울산,...,3711,울산,29,"3,5362)",울산,26,3480,울산,8,2459
9,세종,4,1018,세종,9,1010,세종,7,991,세종,...,859,세종,3,822,세종,10,814,세종,1,441
10,경기,395,75609,경기,560,74733,경기,691,72931,경기,...,63697,경기,392,60957,경기,560,60060,경기,136,36930
11,강원,13,5633,강원,33,5603,강원,33,5505,강원,...,4967,강원,40,4810,강원,39,4739,강원,10,3059
12,충북,33,5367,충북,29,5291,충북,41,5201,충북,...,4583,충북,37,4370,충북,42,4291,충북,22,2796
13,충남,58,7680,충남,92,7545,충남,84,7228,충남,...,5946,충남,40,5617,충남,57,5520,충남,10,3304
14,전북,10,3650,전북,15,3626,전북,30,3562,전북,...,3081,전북,12,2940,전북,20,2918,전북,6,2076
15,전남,5,2679,전남,24,2663,전남,22,2597,전남,...,2301,전남,25,2192,전남,27,2150,전남,5,1358
16,경북,25,7204,경북,33,7160,경북,24,7067,경북,...,6284,경북,75,5992,경북,52,5843,경북,13,4443
17,경남,21,10332,경남,36,10267,경남,69,10112,경남,...,9015,경남,84,8535,경남,101,8361,경남,19,4473
18,제주,4,2641,제주,6,2634,제주,8,2588,제주,...,2294,제주,64,"2,0702)",제주,55,1968,제주,12,967

In [25]:
data1.columns

Index(['구분', '9.13 신규', '9.13 누계', '구분', '9.11 신규', '9.11 누계', '구분', '9.8. 신규',
       '9.8. 누계', '구분', '9.6. 신규', '9.6. 누계', '구분', '9.4. 신규', '9.4. 누계', '구분',
       '9.1. 신규', '9.1. 누계', '구분', '8.30 신규', '8.30 누계', '구분', '8.28 신규',
       '8.28 누계', '구분', '8.25 신규', '8.25 누계', '구분', '8.23 신규', '8.23 누계', '구분',
       '8.21 신규', '8.21 누계', '구분', '8.16 신규', '8.16 누계', '구분', '8.14 신규',
       '8.14 누계', '구분', '(5.2 신규', '(5.2 누계'],
      dtype='object')

In [26]:
# link index (5918, 3000), 테이블 인덱스 5, '0시 기준' 32~34 일 때 
# 일차적으로 내보내기
data1.to_csv('5918_3000_tblidx5.csv', encoding = 'euc-kr', index = False)

### 2021.09.14 ~ 2021.03.01 (완료)

In [2]:
# 일별 확진자 수 테이블 생성
# link index (5918, 4546), 0시 기준' 이 title에 있을 때  --- 0916 여기서부터 돌리기

data = pd.DataFrame()
for idx in range(5918, 4546, -1):   # 2021.09.14 ~ 2021.03.01
    
    k = pd.DataFrame()  # 초기화
    response = requests.get('http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq={}&contSeq={}&board_id=312&gubun=ALL'.format(idx, idx))
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # root = lxml.html.fromstring(response.content)

    # 제목
    # title = soup.select('#content > div > div.board_view > div.bv_content > div.bvc_txt > p > p:nth-child(1)')  # 제목 (인덱스용)
    #vaccine = soup.select('#content > div > div.board_view > div.bv_content > div > p > table:nth-child(10)')
    #print(vaccine)
    
    title = soup.find('h4')  ## 찐 제목
    title = str(title)
    print(title.find('0시 기준'))
    
    if ('0시 기준' in title) and ('국내 발생 및 예방접종 현황' in title):   ## '코로나19 국내 발생 및 예방접종 현황(9.14., 0시 기준)' 제목형식과 일치할때
        print(title)
        # 국내 발생 확진자 현황 테이블 가져오기
        
        lst = soup.select('table')

        if len(lst) != 0:    # 테이블이 하나라도 존재할때
            for i in range(len(lst)):   # 테이블 개수만큼 검사
                tmp = str(lst[i])    # i번째 테이블 담기
                table_df_list = pd.read_html(tmp)
                table_df_tmp = table_df_list[0]  
        
                if (len(table_df_tmp) == 3) and (len(table_df_tmp.columns) > 10): # 행 개수 3개, 칼럼 개수 10개 이상 만족하는 테이블 확진자밖에 없음
                    table_df = table_df_tmp
        
        k = table_df.transpose()
        k = k.rename(columns = k.iloc[0])
        #print(k)
        k.drop([0], axis = 0, inplace = True)

        colname1 = title[26:31] + ' ' + '신규'
        colname2 = title[26:31] + ' ' + '누계'

        k.rename(columns = {'신규' : colname1, '누계' : colname2}, inplace = True)
        # k.drop(['구분'], axis = 1, inplace = True)
        
        data = pd.concat([data, k], axis = 1)
   
        print(response.url)

33
<h4>코로나19 국내 발생 및 예방접종 현황(9.14., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5918&contSeq=5918&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(9.13., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5916&contSeq=5916&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(9.12., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5914&contSeq=5914&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(9.11., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5912&contSeq=5912&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(9.10., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5906&contSeq=5906&board_id=312&gubun=ALL
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(9.9., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5902&contSeq=5902&board_id=312&gubun=ALL
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(9.8., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5899&contSeq=5899&board_id=312&gubun=ALL
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(9.7., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5895&contSeq=5895&board_id=312&gubun=ALL
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(9.6., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5892&contSeq=5892&board_id=312&gubun=ALL
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(9.5., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5889&contSeq=5889&board_id=312&gubun=ALL
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(9.4., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5887&contSeq=5887&board_id=312&gubun=ALL
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(9.3., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5883&contSeq=5883&board_id=312&gubun=ALL
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(9.2., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5881&contSeq=5881&board_id=312&gubun=ALL
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(9.1., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5878&contSeq=5878&board_id=312&gubun=ALL
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(8.31., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5874&contSeq=5874&board_id=312&gubun=ALL
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(8.30., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5871&contSeq=5871&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(8.29., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5869&contSeq=5869&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(8.28., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5867&contSeq=5867&board_id=312&gubun=ALL
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(8.27., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5863&contSeq=5863&board_id=312&gubun=ALL
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(8.26., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5859&contSeq=5859&board_id=312&gubun=ALL
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(8.25. 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5856&contSeq=5856&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(8.24., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5854&contSeq=5854&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(8.23., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5852&contSeq=5852&board_id=312&gubun=ALL
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(8.22., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5849&contSeq=5849&board_id=312&gubun=ALL
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(8.21., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5846&contSeq=5846&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(8.20., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5844&contSeq=5844&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(8.19., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5842&contSeq=5842&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(8.18., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5840&contSeq=5840&board_id=312&gubun=ALL
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(8.17., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5837&contSeq=5837&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(8.16., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5835&contSeq=5835&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(8.15., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5833&contSeq=5833&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(8.14., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5831&contSeq=5831&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(8.13., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5829&contSeq=5829&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(8.12., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5827&contSeq=5827&board_id=312&gubun=ALL
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(8.11., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5822&contSeq=5822&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(8.10., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5816&contSeq=5816&board_id=312&gubun=ALL
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(8.9., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5813&contSeq=5813&board_id=312&gubun=ALL
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(8.8., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5811&contSeq=5811&board_id=312&gubun=ALL
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(8.7., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5809&contSeq=5809&board_id=312&gubun=ALL
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(8.6., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5804&contSeq=5804&board_id=312&gubun=ALL
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(8.5., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5800&contSeq=5800&board_id=312&gubun=ALL
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(8.4., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5796&contSeq=5796&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(8.3., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5747&contSeq=5747&board_id=312&gubun=ALL
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(8.2., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5743&contSeq=5743&board_id=312&gubun=ALL
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(8.1., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5741&contSeq=5741&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.31., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5739&contSeq=5739&board_id=312&gubun=ALL

-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.30., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5732&contSeq=5732&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.29., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5730&contSeq=5730&board_id=312&gubun=ALL
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.28., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5727&contSeq=5727&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.27., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5720&contSeq=5720&board_id=312&gubun=ALL
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.26., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5715&contSeq=5715&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.25., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5713&contSeq=5713&board_id=312&gubun=ALL
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.24., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5710&contSeq=5710&board_id=312&gubun=ALL
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.23., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5706&contSeq=5706&board_id=312&gubun=ALL
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.22., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5703&contSeq=5703&board_id=312&gubun=ALL
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.21., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5698&contSeq=5698&board_id=312&gubun=ALL
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.20., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5695&contSeq=5695&board_id=312&gubun=ALL
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.19., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5690&contSeq=5690&board_id=312&gubun=ALL
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.18., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5687&contSeq=5687&board_id=312&gubun=ALL
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.17., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5684&contSeq=5684&board_id=312&gubun=ALL
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.16., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5679&contSeq=5679&board_id=312&gubun=ALL
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.15., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5676&contSeq=5676&board_id=312&gubun=ALL
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.14., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5671&contSeq=5671&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.13., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5669&contSeq=5669&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.12., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5662&contSeq=5662&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.11., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5660&contSeq=5660&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(7.10., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5658&contSeq=5658&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(7.9., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5652&contSeq=5652&board_id=312&gubun=ALL
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(7.8., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5650&contSeq=5650&board_id=312&gubun=ALL
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(7.7., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5647&contSeq=5647&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(7.6., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5641&contSeq=5641&board_id=312&gubun=ALL
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(7.5., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5636&contSeq=5636&board_id=312&gubun=ALL
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(7.4., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5634&contSeq=5634&board_id=312&gubun=ALL
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(7.3., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5632&contSeq=5632&board_id=312&gubun=ALL
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(7.2., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5630&contSeq=5630&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(7.1., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5624&contSeq=5624&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(6.30., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5604&contSeq=5604&board_id=312&gubun=ALL
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(6.29., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5599&contSeq=5599&board_id=312&gubun=ALL
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(6.28., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5594&contSeq=5594&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(6.27., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5592&contSeq=5592&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(6.26., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5590&contSeq=5590&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(6.25., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5582&contSeq=5582&board_id=312&gubun=ALL
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(6.24., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5579&contSeq=5579&board_id=312&gubun=ALL
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(6.23., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5576&contSeq=5576&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(6.22., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5574&contSeq=5574&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(6.21., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5572&contSeq=5572&board_id=312&gubun=ALL
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (6.20., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5569&contSeq=5569&board_id=312&gubun=ALL
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (6.19., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5567&contSeq=5567&board_id=312&gubun=ALL
-1
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (6.18., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5563&contSeq=5563&board_id=312&gubun=ALL
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (6.17., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5560&contSeq=5560&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (6.16., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5540&contSeq=5540&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(6.15., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5538&contSeq=5538&board_id=312&gubun=ALL

-1
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (6.14., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5534&contSeq=5534&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(6.13., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5532&contSeq=5532&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(6.12., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5530&contSeq=5530&board_id=312&gubun=ALL
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(6.11., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5527&contSeq=5527&board_id=312&gubun=ALL
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(6.10., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5523&contSeq=5523&board_id=312&gubun=ALL
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황 (6.9., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5519&contSeq=5519&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황 (6.8., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5517&contSeq=5517&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황 (6.7., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5511&contSeq=5511&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황 (6.6., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5509&contSeq=5509&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황 (6.5., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5507&contSeq=5507&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황 (6.4., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5501&contSeq=5501&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황 (6.3., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5495&contSeq=5495&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (6.2.수, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5488&contSeq=5488&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황 (6.1., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5482&contSeq=5482&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (5.31., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5471&contSeq=5471&board_id=312&gubun=ALL
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (5.30., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5468&contSeq=5468&board_id=312&gubun=ALL
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (5.29., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5465&contSeq=5465&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (5.28., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5455&contSeq=5455&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (5.27., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5445&contSeq=5445&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (5.26., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5436&contSeq=5436&board_id=312&gubun=ALL
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (5.25., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5433&contSeq=5433&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (5.24., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5426&contSeq=5426&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (5.23., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5418&contSeq=5418&board_id=312&gubun=ALL
-1
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (5.22., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5414&contSeq=5414&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (5.21., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5408&contSeq=5408&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (5.20., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5401&contSeq=5401&board_id=312&gubun=ALL
-1
-1
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (5.19., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5396&contSeq=5396&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (5.18., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5390&contSeq=5390&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (5.17., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5382&contSeq=5382&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (5.16., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5376&contSeq=5376&board_id=312&gubun=ALL
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(5.15., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5373&contSeq=5373&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(5.14., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5367&contSeq=5367&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(5.13., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5361&contSeq=5361&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(5.12., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5352&contSeq=5352&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(5.11., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5345&contSeq=5345&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(5.10., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5331&contSeq=5331&board_id=312&gubun=ALL
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(5.9., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5329&contSeq=5329&board_id=312&gubun=ALL
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(5.8., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5327&contSeq=5327&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(5.7., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5319&contSeq=5319&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(5.6., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5307&contSeq=5307&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(5.5., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5300&contSeq=5300&board_id=312&gubun=ALL
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(5.4., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5295&contSeq=5295&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(5.3., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5285&contSeq=5285&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(5.2., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5279&contSeq=5279&board_id=312&gubun=ALL
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(5.1., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5277&contSeq=5277&board_id=312&gubun=ALL

-1
-1
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(4.30., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5268&contSeq=5268&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(4.29., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5260&contSeq=5260&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(4.28., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5251&contSeq=5251&board_id=312&gubun=ALL
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(4.27., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5248&contSeq=5248&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(4.26., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5239&contSeq=5239&board_id=312&gubun=ALL
-1
34
<h4>코로나19 국내 발생 및 예방접종 현황 (4.25., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5237&contSeq=5237&board_id=312&gubun=ALL
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(4.24., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5233&contSeq=5233&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(4.23., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5227&contSeq=5227&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(4.22., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5220&contSeq=5220&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(4.21., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5213&contSeq=5213&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(4.20., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5206&contSeq=5206&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(4.19., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5195&contSeq=5195&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(4.18., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5193&contSeq=5193&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(4.17., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5191&contSeq=5191&board_id=312&gubun=ALL
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(4.16., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5186&contSeq=5186&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(4.15., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5180&contSeq=5180&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(4.14., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5174&contSeq=5174&board_id=312&gubun=ALL
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(4.13., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5169&contSeq=5169&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(4.12., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5157&contSeq=5157&board_id=312&gubun=ALL
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(4.11., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5154&contSeq=5154&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(4.10., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5152&contSeq=5152&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(4.9., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5117&contSeq=5117&board_id=312&gubun=ALL
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(4.8., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5112&contSeq=5112&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(4.7., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5104&contSeq=5104&board_id=312&gubun=ALL
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(4.6., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5099&contSeq=5099&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(4.5., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5084&contSeq=5084&board_id=312&gubun=ALL
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(4.4., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5082&contSeq=5082&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(4.2., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5076&contSeq=5076&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(4.1., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5066&contSeq=5066&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.31., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5059&contSeq=5059&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.30., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5051&contSeq=5051&board_id=312&gubun=ALL
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.29., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5046&contSeq=5046&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.28., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5038&contSeq=5038&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.27., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5036&contSeq=5036&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.26., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5025&contSeq=5025&board_id=312&gubun=ALL
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.25., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5021&contSeq=5021&board_id=312&gubun=ALL
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.24., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5016&contSeq=5016&board_id=312&gubun=ALL
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.23., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5012&contSeq=5012&board_id=312&gubun=ALL
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.22., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5007&contSeq=5007&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.21., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4999&contSeq=4999&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.20., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4997&contSeq=4997&board_id=312&gubun=ALL
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.19., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4994&contSeq=4994&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.18., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4987&contSeq=4987&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.17., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4980&contSeq=4980&board_id=312&gubun=ALL

-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.16., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4975&contSeq=4975&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.15., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4966&contSeq=4966&board_id=312&gubun=ALL
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.14., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4961&contSeq=4961&board_id=312&gubun=ALL
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.13., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4959&contSeq=4959&board_id=312&gubun=ALL
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.12., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4955&contSeq=4955&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.11., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4946&contSeq=4946&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
33
<h4>코로나19 국내 발생 및 예방접종 현황(3.10., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4932&contSeq=4932&board_id=312&gubun=ALL
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(3.9., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4928&contSeq=4928&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(3.8., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4922&contSeq=4922&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(3.7., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4915&contSeq=4915&board_id=312&gubun=ALL
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(3.6., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4913&contSeq=4913&board_id=312&gubun=ALL
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(3.5., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4910&contSeq=4910&board_id=312&gubun=ALL
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(3.4., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4906&contSeq=4906&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(3.3., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4897&contSeq=4897&board_id=312&gubun=ALL
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(3.2., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4893&contSeq=4893&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
32
<h4>코로나19 국내 발생 및 예방접종 현황(3.1., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4883&contSeq=4883&board_id=312&gubun=ALL
-1
34
-1
34
-1
-1
-1
34
-1
-1
-1
-1
35
-1
-1
-1
-1
-1
34
-1
-1
-1
34
-1
-1
-1
34
-1
-1
-1
-1
-1
-1
34
-1
34
-1
-1
-1
34
-1
-1
-1
-1
-1
34
-1
-1
-1
-1
-1
-1
-1
-1
34
-1
-1
34
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
34
-1
-1
-1
-1
-1
-1
-1
-1
34
-1
-1
34
-1
34
-1
34
-1
-1
-1
-1
-1
34
-1
-1
-1
-1
-1
33
-1
-1
-1
-1
-1
-1
33
-1
-1
-1
-1
-1
-1
33
-1
33
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
33
-1
-1
33
-1
-1
-1
-1
-1
33
-1
-1
-1
-1
33
-1
-1
-1
-1
-1
-1
33
-1
-1
-1
34
-1
-1
34
-1
-1
-1
-1
-1
-1
-1
-1
34
-1
-1
-1
-1
-1
34
-1
-1
-1
-1
-1
-1
-1
-1
34
-1
-1
-1
-1
-1
34
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
34
-1
-1
-1
-1
34
-1
-1
-1
-1
-1
-1
-1
34
-1
-1
-1
-1
34
-1
-1
-1
-1
-1
-1
-1
-1
34
-1
-1
-1
-1
34
-1
-1
-1
-1
34
-1
-1
-1
-1
-1
-1
35
-1
-1
35
-1
-1
-1
34
-1
-1
-1
-1
-1
-1
-1
-1
34
-1
-1
-1
-1
-1
-1
34
-1
-1
-1
-1
-1
-1
-1
-1
-1
34
-1
-1
-1
-1
-1
-1
-1
-1
-1
34
-1
-1
-1
-1
-1
34
-1
34
-1
-1
-1
-1
34
-1
-1
-1
-1
34
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
34
-1
-1
-1
-1
34
-1
-1
-1
-1
-1
34
-1
-1
-1
-1
-1
-1
-1
-1
34
-1
34
-1

In [3]:
data

,구분,9.14. 신규,9.14. 누계,구분,9.13. 신규,9.13. 누계,구분,9.12. 신규,9.12. 누계,구분,...,"3.4., 누계",구분,"3.3., 신규","3.3., 누계",구분,"3.2., 신규","3.2., 누계",구분,"3.1., 신규","3.1., 누계"
1,합계,1463,"261,9071)",합계,1409,260446,합계,1725,259037,합계,...,87893,합계,426,83710,합계,426,83710,합계,426,83710
2,서울,529,"85,8981)",서울,554,85370,서울,656,84816,서울,...,28878,서울,116,27640,서울,116,27640,서울,116,27640
3,부산,38,11633,부산,35,11595,부산,43,11560,부산,...,3267,부산,8,3130,부산,8,3130,부산,8,3130
4,대구,26,13982,대구,31,13956,대구,62,13925,대구,...,8558,대구,5,8498,대구,5,8498,대구,5,8498
5,인천,124,12925,인천,151,12801,인천,146,12650,인천,...,4450,인천,19,4243,인천,19,4243,인천,19,4243
6,광주,34,4257,광주,14,4223,광주,26,4209,광주,...,2038,광주,3,1970,광주,3,1970,광주,3,1970
7,대전,40,6154,대전,39,6114,대전,45,6075,대전,...,1149,대전,2,1139,대전,2,1139,대전,2,1139
8,울산,35,4609,울산,17,4574,울산,34,4557,울산,...,995,울산,1,926,울산,1,926,울산,1,926
9,세종,19,1037,세종,4,1018,세종,4,1014,세종,...,218,세종,4,211,세종,4,211,세종,4,211
10,경기,454,"76,0621)",경기,395,75609,경기,481,75214,경기,...,24227,경기,218,22538,경기,218,22538,경기,218,22538
11,강원,21,5654,강원,13,5633,강원,17,5620,강원,...,1932,강원,6,1802,강원,6,1802,강원,6,1802
12,충북,21,5388,충북,33,5367,충북,43,5334,충북,...,1868,충북,19,1699,충북,19,1699,충북,19,1699
13,충남,57,7737,충남,58,7680,충남,77,7622,충남,...,2367,충남,4,2294,충남,4,2294,충남,4,2294
14,전북,17,3667,전북,10,3650,전북,14,3640,전북,...,1156,전북,5,1109,전북,5,1109,전북,5,1109
15,전남,1,2680,전남,5,2679,전남,11,2674,전남,...,831,전남,3,802,전남,3,802,전남,3,802
16,경북,14,7218,경북,25,7204,경북,19,7179,경북,...,3190,경북,5,3118,경북,5,3118,경북,5,3118
17,경남,21,10353,경남,21,10332,경남,44,10311,경남,...,2197,경남,4,2045,경남,4,2045,경남,4,2045
18,제주,12,2653,제주,4,2641,제주,3,2637,제주,...,572,제주,4,546,제주,4,546,제주,4,546

In [4]:
data.drop(['구분'], axis = 1, inplace = True)

In [5]:
idx = pd.DataFrame({'구분' : ['합계', '서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주']})
idx.index = np.arange(1, len(idx) + 1)
idx

    구분
1   합계
2   서울
3   부산
4   대구
5   인천
6   광주
7   대전
8   울산
9   세종
10  경기
11  강원
12  충북
13  충남
14  전북
15  전남
16  경북
17  경남
18  제주

In [6]:
data1 = pd.concat([data, idx], axis = 1)
data1.set_index('구분', inplace = True)
data1

,9.14. 신규,9.14. 누계,9.13. 신규,9.13. 누계,9.12. 신규,9.12. 누계,9.11. 신규,9.11. 누계,9.10. 신규,9.10. 누계,...,"3.5., 신규","3.5., 누계","3.4., 신규","3.4., 누계","3.3., 신규","3.3., 누계","3.2., 신규","3.2., 누계","3.1., 신규","3.1., 누계"
구분,,,,,,,,,,,,,,,,,,,,,
합계,1463,"261,9071)",1409,260446,1725,259037,1816,257312,1857,255496,...,474,87893,474,87893,426,83710,426,83710,426,83710
서울,529,"85,8981)",554,85370,656,84816,656,84160,666,83504,...,138,28878,138,28878,116,27640,116,27640,116,27640
부산,38,11633,35,11595,43,11560,35,11517,38,11482,...,17,3267,17,3267,8,3130,8,3130,8,3130
대구,26,13982,31,13956,62,13925,42,13863,44,13821,...,9,8558,9,8558,5,8498,5,8498,5,8498
인천,124,12925,151,12801,146,12650,131,12504,117,12373,...,26,4450,26,4450,19,4243,19,4243,19,4243
광주,34,4257,14,4223,26,4209,21,4183,25,4162,...,2,2038,2,2038,3,1970,3,1970,3,1970
대전,40,6154,39,6114,45,6075,65,6030,48,5965,...,1,1149,1,1149,2,1139,2,1139,2,1139
울산,35,4609,17,4574,34,4557,29,4523,40,4494,...,1,995,1,995,1,926,1,926,1,926
세종,19,1037,4,1018,4,1014,9,1010,4,1001,...,0,218,0,218,4,211,4,211,4,211
경기,454,"76,0621)",395,75609,481,75214,560,74733,603,74173,...,160,24227,160,24227,218,22538,218,22538,218,22538
강원,21,5654,13,5633,17,5620,33,5603,33,5570,...,18,1932,18,1932,6,1802,6,1802,6,1802
충북,21,5388,33,5367,43,5334,29,5291,30,5262,...,16,1868,16,1868,19,1699,19,1699,19,1699
충남,57,7737,58,7680,77,7622,92,7545,77,7453,...,9,2367,9,2367,4,2294,4,2294,4,2294
전북,17,3667,10,3650,14,3640,15,3626,24,3611,...,2,1156,2,1156,5,1109,5,1109,5,1109
전남,1,2680,5,2679,11,2674,24,2663,20,2639,...,1,831,1,831,3,802,3,802,3,802
경북,14,7218,25,7204,19,7179,33,7160,27,7127,...,12,3190,12,3190,5,3118,5,3118,5,3118
경남,21,10353,21,10332,44,10311,36,10267,44,10231,...,61,2197,61,2197,4,2045,4,2045,4,2045
제주,12,2653,4,2641,3,2637,6,2634,17,2628,...,1,572,1,572,4,546,4,546,4,546

In [7]:
data1.to_csv('0301-0914.csv', encoding = 'euc-kr', index = False)

### 2/28일부터 제목 '코로나바이러스감염증-19 국내 발생 현황(2.28., 0시 기준)' 형식으로 바뀜
### 2021.02.28 ~ 2021.01.01

In [8]:
# 일별 확진자 수 테이블 생성
# link index (4881, 4546)

data = pd.DataFrame()
for idx in range(4881, 4546, -1):   # 2021.02.28 ~ 2021.01.02  
    
    k = pd.DataFrame()  # 초기화
    response = requests.get('http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq={}&contSeq={}&board_id=312&gubun=ALL'.format(idx, idx))
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # root = lxml.html.fromstring(response.content)

    # 제목
    # title = soup.select('#content > div > div.board_view > div.bv_content > div.bvc_txt > p > p:nth-child(1)')  # 제목 (인덱스용)
    #vaccine = soup.select('#content > div > div.board_view > div.bv_content > div > p > table:nth-child(10)')
    #print(vaccine)
    
    title = soup.find('h4')  ## 찐 제목
    title = str(title)
    print(title.find('0시 기준'))
    
    if ('0시 기준' in title) and ('국내 발생 현황' in title):   ## '코로나19 국내 발생 및 예방접종 현황(9.14., 0시 기준)' 제목형식과 일치할때
        print(title)
        # 국내 발생 확진자 현황 테이블 가져오기
        
        lst = soup.select('table')

        if len(lst) != 0:    # 테이블이 하나라도 존재할때
            for i in range(len(lst)):   # 테이블 개수만큼 검사
                tmp = str(lst[i])    # i번째 테이블 담기
                table_df_list = pd.read_html(tmp)
                table_df_tmp = table_df_list[0]  
        
                if (len(table_df_tmp) == 3) and (len(table_df_tmp.columns) > 10): # 행 개수 3개, 칼럼 개수 10개 이상 만족하는 테이블 확진자밖에 없음
                    table_df = table_df_tmp
        
        k = table_df.transpose()
        k = k.rename(columns = k.iloc[0])
        #print(k)
        k.drop([0], axis = 0, inplace = True)

        colname1 = title[26:31] + ' ' + '신규'
        colname2 = title[26:31] + ' ' + '누계'

        k.rename(columns = {'신규' : colname1, '누계' : colname2}, inplace = True)
        # k.drop(['구분'], axis = 1, inplace = True)
        
        data = pd.concat([data, k], axis = 1)
   
        print(response.url)

34
<h4>코로나바이러스감염증-19 국내 발생 현황(2.28., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4881&contSeq=4881&board_id=312&gubun=ALL
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(2.27., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4879&contSeq=4879&board_id=312&gubun=ALL
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(2.26., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4875&contSeq=4875&board_id=312&gubun=ALL
-1
-1
-1
-1
35
<h4>코로나바이러스감염증-19 국내 발생 현황(2.25.목, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4870&contSeq=4870&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(2.24., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4864&contSeq=4864&board_id=312&gubun=ALL
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(2.23., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4860&contSeq=4860&board_id=312&gubun=ALL
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(2.22., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4856&contSeq=4856&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(2.21., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4849&contSeq=4849&board_id=312&gubun=ALL
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(2.20., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4847&contSeq=4847&board_id=312&gubun=ALL
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(2.19., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4843&contSeq=4843&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(2.18., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4837&contSeq=4837&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(2.17., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4828&contSeq=4828&board_id=312&gubun=ALL
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(2.16., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4825&contSeq=4825&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(2.15., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4813&contSeq=4813&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(2.14., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4804&contSeq=4804&board_id=312&gubun=ALL
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(2.13., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4801&contSeq=4801&board_id=312&gubun=ALL
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(2.12., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4799&contSeq=4799&board_id=312&gubun=ALL
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(2.11., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4797&contSeq=4797&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(2.10., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4791&contSeq=4791&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
33
<h4>코로나바이러스감염증-19 국내 발생 현황(2.9., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4785&contSeq=4785&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
33
<h4>코로나바이러스감염증-19 국내 발생 현황(2.8., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4778&contSeq=4778&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
33
<h4>코로나바이러스감염증-19 국내 발생 현황(2.7., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4771&contSeq=4771&board_id=312&gubun=ALL
-1
33
<h4>코로나바이러스감염증-19 국내 발생 현황(2.6., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4769&contSeq=4769&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
33
<h4>코로나바이러스감염증-19 국내 발생 현황(2.5., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4755&contSeq=4755&board_id=312&gubun=ALL
-1
-1
33
<h4>코로나바이러스감염증-19 국내 발생 현황(2.4., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4752&contSeq=4752&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
33
<h4>코로나바이러스감염증-19 국내 발생 현황(2.3., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4746&contSeq=4746&board_id=312&gubun=ALL
-1
-1
-1
-1
33
<h4>코로나바이러스감염증-19 국내 발생 현황(2.2., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4741&contSeq=4741&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
33
<h4>코로나바이러스감염증-19 국내 발생 현황(2.1., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4734&contSeq=4734&board_id=312&gubun=ALL
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1.31., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4730&contSeq=4730&board_id=312&gubun=ALL
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1.30., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4727&contSeq=4727&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1.29., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4718&contSeq=4718&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1.28., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4712&contSeq=4712&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1.27., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4703&contSeq=4703&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1.26., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4697&contSeq=4697&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1.25., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4686&contSeq=4686&board_id=312&gubun=ALL
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1.23., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4681&contSeq=4681&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1.22., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4673&contSeq=4673&board_id=312&gubun=ALL
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1.21., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4668&contSeq=4668&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1.20., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4659&contSeq=4659&board_id=312&gubun=ALL
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1.19., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4654&contSeq=4654&board_id=312&gubun=ALL
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1.18., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4649&contSeq=4649&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
35
<h4>코로나바이러스감염증-19 국내 발생 현황(1.17.일, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4642&contSeq=4642&board_id=312&gubun=ALL
-1
-1
35
<h4>코로나바이러스감염증-19 국내 발생 현황(1.16.토, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4639&contSeq=4639&board_id=312&gubun=ALL
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1.15., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4635&contSeq=4635&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1.14., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4626&contSeq=4626&board_id=312&gubun=ALL

-1
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1.13., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4619&contSeq=4619&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1.12., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4609&contSeq=4609&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1.11., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4599&contSeq=4599&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1월10일, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4593&contSeq=4593&board_id=312&gubun=ALL
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1.9.토, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4591&contSeq=4591&board_id=312&gubun=ALL
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1. 8., 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4586&contSeq=4586&board_id=312&gubun=ALL
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1월 7일, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4581&contSeq=4581&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1월 6일, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4570&contSeq=4570&board_id=312&gubun=ALL
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1월 5일, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4565&contSeq=4565&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1월 4일, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4559&contSeq=4559&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1월 3일, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4550&contSeq=4550&board_id=312&gubun=ALL
-1
34
<h4>코로나바이러스감염증-19 국내 발생 현황(1월 2일, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4548&contSeq=4548&board_id=312&gubun=ALL
-1

In [9]:
data

,구분,(2.28 신규,(2.28 누계,구분,(2.27 신규,(2.27 누계,구분,(2.26 신규,(2.26 누계,구분,...,(1월 5 누계,구분,(1월 4 신규,(1월 4 누계,구분,(1월 3 신규,(1월 3 누계,구분,(1월 2 신규,(1월 2 누계
1,합계,426,83710,합계,426,83710,합계,382,81908,합계,...,"59,440*",합계,985,58767,합계,641,"57,782*",합계,788,57147
2,서울,116,27640,서울,116,27640,서울,129,27065,서울,...,"19,672*",서울,324,19477,서울,195,"19,153*",서울,246,18960
3,부산,8,3130,부산,8,3130,부산,10,3076,부산,...,1928,부산,34,1914,부산,19,1880,부산,26,1861
4,대구,5,8498,대구,5,8498,대구,10,8461,대구,...,7846,대구,29,7815,대구,21,7786,대구,29,7765
5,인천,19,4243,인천,19,4243,인천,14,4160,인천,...,3014,인천,101,2966,인천,48,2865,인천,70,2817
6,광주,3,1970,광주,3,1970,광주,11,1931,광주,...,1138,광주,74,1115,광주,26,1041,광주,13,1015
7,대전,2,1139,대전,2,1139,대전,6,1133,대전,...,836,대전,6,829,대전,8,823,대전,4,815
8,울산,1,926,울산,1,926,울산,1,915,울산,...,682,울산,5,678,울산,7,673,울산,17,666
9,세종,4,211,세종,4,211,세종,1,194,세종,...,130,세종,0,130,세종,1,130,세종,3,129
10,경기,218,22538,경기,218,22538,경기,135,21749,경기,...,"14,522*",경기,260,14309,경기,201,"14,049*",경기,222,13850
11,강원,6,1802,강원,6,1802,강원,5,1781,강원,...,1309,강원,28,1282,강원,33,1254,강원,31,1221
12,충북,19,1699,충북,19,1699,충북,10,1649,충북,...,1228,충북,23,1196,충북,26,1173,충북,34,1147
13,충남,4,2294,충남,4,2294,충남,2,2276,충남,...,1608,충남,22,1590,충남,9,1568,충남,6,1559
14,전북,5,1109,전북,5,1109,전북,15,1058,전북,...,793,전북,9,789,전북,5,780,전북,11,775
15,전남,3,802,전남,3,802,전남,5,786,전남,...,536,전남,3,532,전남,12,529*,전남,11,519
16,경북,5,3118,경북,5,3118,경북,23,3108,경북,...,2424,경북,25,2400,경북,14,2375,경북,18,2361
17,경남,4,2045,경남,4,2045,경남,5,2031,경남,...,1348,경남,33,1327,경남,12,1294,경남,35,1282
18,제주,4,546,제주,4,546,제주,0,535,제주,...,426,제주,9,418,제주,4,409,제주,12,405

In [10]:
data.drop(['구분'], axis = 1, inplace = True)

In [11]:
idx = pd.DataFrame({'구분' : ['합계', '서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주']})
idx.index = np.arange(1, len(idx) + 1)
idx

    구분
1   합계
2   서울
3   부산
4   대구
5   인천
6   광주
7   대전
8   울산
9   세종
10  경기
11  강원
12  충북
13  충남
14  전북
15  전남
16  경북
17  경남
18  제주

In [12]:
data1 = pd.concat([data, idx], axis = 1)
data1.set_index('구분', inplace = True)
data1

,(2.28 신규,(2.28 누계,(2.27 신규,(2.27 누계,(2.26 신규,(2.26 누계,(2.25 신규,(2.25 누계,(2.24 신규,(2.24 누계,...,(1월 6 신규,(1월 6 누계,(1월 5 신규,(1월 5 누계,(1월 4 신규,(1월 4 누계,(1월 3 신규,(1월 3 누계,(1월 2 신규,(1월 2 누계
구분,,,,,,,,,,,,,,,,,,,,,
합계,426,83710,426,83710,382,81908,369,81526,417,"81,1571)",...,809,60249,672,"59,440*",985,58767,641,"57,782*",788,57147
서울,116,27640,116,27640,129,27065,114,26936,138,"26,8221)",...,263,19935,193,"19,672*",324,19477,195,"19,153*",246,18960
부산,8,3130,8,3130,10,3076,18,3066,13,3048,...,38,1966,14,1928,34,1914,19,1880,26,1861
대구,5,8498,5,8498,10,8461,13,8451,17,8438,...,21,7867,31,7846,29,7815,21,7786,29,7765
인천,19,4243,19,4243,14,4160,22,4146,17,4124,...,35,3049,48,3014,101,2966,48,2865,70,2817
광주,3,1970,3,1970,11,1931,15,1920,35,1905,...,30,1168,23,1138,74,1115,26,1041,13,1015
대전,2,1139,2,1139,6,1133,0,1127,2,1127,...,8,844,7,836,6,829,8,823,4,815
울산,1,926,1,926,1,915,1,914,1,913,...,2,684,4,682,5,678,7,673,17,666
세종,4,211,4,211,1,194,0,193,2,193,...,1,131,0,130,0,130,1,130,3,129
경기,218,22538,218,22538,135,21749,132,21614,137,21482,...,269,14791,214,"14,522*",260,14309,201,"14,049*",222,13850
강원,6,1802,6,1802,5,1781,2,1776,9,1774,...,16,1325,27,1309,28,1282,33,1254,31,1221
충북,19,1699,19,1699,10,1649,4,1639,1,1635,...,21,1249,32,1228,23,1196,26,1173,34,1147
충남,4,2294,4,2294,2,2276,16,2274,12,2258,...,23,1631,18,1608,22,1590,9,1568,6,1559
전북,5,1109,5,1109,15,1058,5,1043,8,1038,...,22,815,4,793,9,789,5,780,11,775
전남,3,802,3,802,5,786,11,781,1,770,...,1,537,4,536,3,532,12,529*,11,519
경북,5,3118,5,3118,23,3108,9,3085,15,3076,...,28,2452,24,2424,25,2400,14,2375,18,2361
경남,4,2045,4,2045,5,2031,2,2026,7,2024,...,26,1374,21,1348,33,1327,12,1294,35,1282
제주,4,546,4,546,0,535,5,535,2,530,...,5,431,8,426,9,418,4,409,12,405

In [13]:
data1.to_csv('0102-0228.csv', encoding = 'euc-kr', index = False)

### 2021.01.01 만 다시

In [14]:
# 일별 확진자 수 테이블 생성
# link index (4546, 4545)

data = pd.DataFrame()
for idx in range(4546, 4545, -1):   # 2021.01.01
    
    k = pd.DataFrame()  # 초기화
    response = requests.get('http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq={}&contSeq={}&board_id=312&gubun=ALL'.format(idx, idx))
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # root = lxml.html.fromstring(response.content)

    # 제목
    # title = soup.select('#content > div > div.board_view > div.bv_content > div.bvc_txt > p > p:nth-child(1)')  # 제목 (인덱스용)
    #vaccine = soup.select('#content > div > div.board_view > div.bv_content > div > p > table:nth-child(10)')
    #print(vaccine)
    
    title = soup.find('h4')  ## 찐 제목
    title = str(title)
    print(title.find('0시 기준'))
    
    if ('0시 기준' in title) and ('국내 발생 현황' in title):   ## '코로나19 국내 발생 및 예방접종 현황(9.14., 0시 기준)' 제목형식과 일치할때
        print(title)
        # 국내 발생 확진자 현황 테이블 가져오기
        
        lst = soup.select('table')

        if len(lst) != 0:    # 테이블이 하나라도 존재할때
            for i in range(len(lst)):   # 테이블 개수만큼 검사
                tmp = str(lst[i])    # i번째 테이블 담기
                table_df_list = pd.read_html(tmp)
                table_df_tmp = table_df_list[0]  
        
                if (len(table_df_tmp) == 3) and (len(table_df_tmp.columns) > 10): # 행 개수 3개, 칼럼 개수 10개 이상 만족하는 테이블 확진자밖에 없음
                    table_df = table_df_tmp
        
        k = table_df.transpose()
        k = k.rename(columns = k.iloc[0])
        #print(k)
        k.drop([0], axis = 0, inplace = True)

        colname1 = title[26:31] + ' ' + '신규'
        colname2 = title[26:31] + ' ' + '누계'

        k.rename(columns = {'신규' : colname1, '누계' : colname2}, inplace = True)
        # k.drop(['구분'], axis = 1, inplace = True)
        
        data = pd.concat([data, k], axis = 1)
   
        print(response.url)

34
<h4>코로나바이러스감염증-19 국내 발생 현황(1월 1일, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4546&contSeq=4546&board_id=312&gubun=ALL

In [15]:
data

    구분 (1월 1 신규 (1월 1 누계
1   합계     1004    56359
2   서울      358    18714
3   부산       55     1835
4   대구       43     7736
5   인천       63     2747
6   광주       16     1002
7   대전       11      811
8   울산       43      649
9   세종        1      126
10  경기      271    13628
11  강원       29     1190
12  충북       22     1113
13  충남       15     1553
14  전북        8      764
15  전남        6      508
16  경북       24     2343
17  경남       34     1247
18  제주        5      393

In [16]:
data.drop(['구분'], axis = 1, inplace = True)

In [17]:
idx = pd.DataFrame({'구분' : ['합계', '서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주']})
idx.index = np.arange(1, len(idx) + 1)
idx

    구분
1   합계
2   서울
3   부산
4   대구
5   인천
6   광주
7   대전
8   울산
9   세종
10  경기
11  강원
12  충북
13  충남
14  전북
15  전남
16  경북
17  경남
18  제주

In [18]:
data1 = pd.concat([data, idx], axis = 1)
data1.set_index('구분', inplace = True)
data1

   (1월 1 신규 (1월 1 누계
구분
합계     1004    56359
서울      358    18714
부산       55     1835
대구       43     7736
인천       63     2747
광주       16     1002
대전       11      811
울산       43      649
세종        1      126
경기      271    13628
강원       29     1190
충북       22     1113
충남       15     1553
전북        8      764
전남        6      508
경북       24     2343
경남       34     1247
제주        5      393

In [19]:
data1.to_csv('0101.csv', encoding = 'euc-kr', index = False)

### 2020.12.31 ~ 2020.12.22
### 12/22일까지 '0시 기준' 으로 되어있음

In [25]:
# 일별 확진자 수 테이블 생성
# link index (4539, 4471)

data = pd.DataFrame()
for idx in range(4539, 4471, -1):   # 2020.12.31 ~ 2020.12.22
    
    k = pd.DataFrame()  # 초기화
    response = requests.get('http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq={}&contSeq={}&board_id=312&gubun=ALL'.format(idx, idx))
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # root = lxml.html.fromstring(response.content)

    # 제목
    # title = soup.select('#content > div > div.board_view > div.bv_content > div.bvc_txt > p > p:nth-child(1)')  # 제목 (인덱스용)
    #vaccine = soup.select('#content > div > div.board_view > div.bv_content > div > p > table:nth-child(10)')
    #print(vaccine)
    
    title = soup.find('h4')  ## 찐 제목
    title = str(title)
    print(title.find('0시 기준'))
    
    if ('0시 기준' in title) and ('국내 발생 현황' in title):   ## '코로나19 국내 발생 및 예방접종 현황(9.14., 0시 기준)' 제목형식과 일치할때
        print(title)
        # 국내 발생 확진자 현황 테이블 가져오기
        
        lst = soup.select('table')

        if len(lst) != 0:    # 테이블이 하나라도 존재할때
            for i in range(len(lst)):   # 테이블 개수만큼 검사
                tmp = str(lst[i])    # i번째 테이블 담기
                table_df_list = pd.read_html(tmp)
                table_df_tmp = table_df_list[0]  
        
                if (len(table_df_tmp) == 3) and (len(table_df_tmp.columns) > 10): # 행 개수 3개, 칼럼 개수 10개 이상 만족하는 테이블 확진자밖에 없음
                    table_df = table_df_tmp
        
        k = table_df.transpose()
        k = k.rename(columns = k.iloc[0])
        #print(k)
        k.drop([0], axis = 0, inplace = True)

        colname1 = title[27:34] + ' ' + '신규'
        colname2 = title[27:34] + ' ' + '누계'

        k.rename(columns = {'신규' : colname1, '누계' : colname2}, inplace = True)
        # k.drop(['구분'], axis = 1, inplace = True)
        
        data = pd.concat([data, k], axis = 1)
   
        print(response.url)

36
<h4>코로나바이러스감염증-19 국내 발생 현황(12월 31일, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4539&contSeq=4539&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
36
<h4>코로나바이러스감염증-19 국내 발생 현황(12월 30일, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4531&contSeq=4531&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
36
<h4>코로나바이러스감염증-19 국내 발생 현황(12월 29일, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4522&contSeq=4522&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
<h4>코로나바이러스감염증-19 국내 발생 현황(12월 28일, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4510&contSeq=4510&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
<h4>코로나바이러스감염증-19 국내 발생 현황(12월 27일, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4500&contSeq=4500&board_id=312&gubun=ALL
-1
36
<h4>코로나바이러스감염증-19 국내 발생 현황(12월 26일, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4498&contSeq=4498&board_id=312&gubun=ALL
-1
36
<h4>코로나바이러스감염증-19 국내 발생 현황(12월 25일, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4496&contSeq=4496&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
36
<h4>코로나바이러스감염증-19 국내 발생 현황(12월 24일, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4489&contSeq=4489&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
36
<h4>코로나바이러스감염증-19 국내 발생 현황(12월 23일, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4483&contSeq=4483&board_id=312&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
<h4>코로나바이러스감염증-19 국내 발생 현황(12월 22일, 0시 기준)</h4>
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=4472&contSeq=4472&board_id=312&gubun=ALL

In [26]:
data

,구분,12월 31일 신규,12월 31일 누계,구분,12월 30일 신규,12월 30일 누계,구분,12월 29일 신규,12월 29일 누계,구분,...,12월 25일 누계,구분,12월 24일 신규,12월 24일 누계,구분,12월 23일 신규,12월 23일 누계,구분,12월 22일 신규,12월 22일 누계
1,합계,940,55355,합계,940,55355,합계,940,55355,합계,...,50629,합계,1104,50629,합계,1060,"47,357*",합계,824,46299
2,서울,365,18356,서울,365,18356,서울,365,18356,서울,...,16434,서울,457,16434,서울,373,15114,서울,309,14741
3,부산,72,1780,부산,72,1780,부산,72,1780,부산,...,1579,부산,26,1579,부산,32,1489,부산,26,1457
4,대구,32,7693,대구,32,7693,대구,32,7693,대구,...,7538,대구,13,7538,대구,24,7478,대구,39,7454
5,인천,59,2684,인천,59,2684,인천,59,2684,인천,...,2440,인천,55,2440,인천,46,2277,인천,44,2231
6,광주,8,986,광주,8,986,광주,8,986,광주,...,925,광주,27,925,광주,35,849,광주,26,814
7,대전,6,800,대전,6,800,대전,6,800,대전,...,734,대전,11,734,대전,34,699,대전,9,665
8,울산,35,606,울산,35,606,울산,35,606,울산,...,551,울산,8,551,울산,16,522,울산,6,506
9,세종,0,125,세종,0,125,세종,0,125,세종,...,111,세종,1,111,세종,1,108,세종,1,107
10,경기,219,13357,경기,219,13357,경기,219,13357,경기,...,12189,경기,250,12189,경기,299,"11,407*",경기,193,11110
11,강원,36,1161,강원,36,1161,강원,36,1161,강원,...,1037,강원,35,1037,강원,13,968,강원,23,955
12,충북,22,1091,충북,22,1091,충북,22,1091,충북,...,948,충북,38,948,충북,58,822,충북,30,764
13,충남,17,1538,충남,17,1538,충남,17,1538,충남,...,1377,충남,61,1377,충남,11,1208,충남,15,1197
14,전북,11,756,전북,11,756,전북,11,756,전북,...,698,전북,37,698,전북,20,637,전북,4,617
15,전남,5,502,전남,5,502,전남,5,502,전남,...,481,전남,6,481,전남,12,469,전남,4,457
16,경북,22,2319,경북,22,2319,경북,22,2319,경북,...,2171,경북,33,2171,경북,25,2021,경북,58,1996
17,경남,22,1213,경남,22,1213,경남,22,1213,경남,...,1070,경남,22,1070,경남,28,1013,경남,18,985
18,제주,9,388,제주,9,388,제주,9,388,제주,...,346,제주,24,346,제주,33,276,제주,19,243

In [27]:
data.drop(['구분'], axis = 1, inplace = True)

In [68]:
idx = pd.DataFrame({'구분' : ['합계', '서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주']})
idx.index = np.arange(1, len(idx) + 1)
idx

    구분
1   합계
2   서울
3   부산
4   대구
5   인천
6   광주
7   대전
8   울산
9   세종
10  경기
11  강원
12  충북
13  충남
14  전북
15  전남
16  경북
17  경남
18  제주

In [29]:
data1 = pd.concat([data, idx], axis = 1)
data1.set_index('구분', inplace = True)
data1

,12월 31일 신규,12월 31일 누계,12월 30일 신규,12월 30일 누계,12월 29일 신규,12월 29일 누계,12월 28일 신규,12월 28일 누계,12월 27일 신규,12월 27일 누계,12월 26일 신규,12월 26일 누계,12월 25일 신규,12월 25일 누계,12월 24일 신규,12월 24일 누계,12월 23일 신규,12월 23일 누계,12월 22일 신규,12월 22일 누계
구분,,,,,,,,,,,,,,,,,,,,
합계,940,55355,940,55355,940,55355,787,52362,946,51575,1104,50629,1104,50629,1104,50629,1060,"47,357*",824,46299
서울,365,18356,365,18356,365,18356,297,17090,359,16793,457,16434,457,16434,457,16434,373,15114,309,14741
부산,72,1780,72,1780,72,1780,34,1653,40,1619,26,1579,26,1579,26,1579,32,1489,26,1457
대구,32,7693,32,7693,32,7693,24,7583,21,7559,13,7538,13,7538,13,7538,24,7478,39,7454
인천,59,2684,59,2684,59,2684,45,2545,60,2500,55,2440,55,2440,55,2440,46,2277,44,2231
광주,8,986,8,986,8,986,12,954,17,942,27,925,27,925,27,925,35,849,26,814
대전,6,800,6,800,6,800,3,745,8,742,11,734,11,734,11,734,34,699,9,665
울산,35,606,35,606,35,606,1,553,1,552,8,551,8,551,8,551,16,522,6,506
세종,0,125,0,125,0,125,2,119,6,117,1,111,1,111,1,111,1,108,1,107
경기,219,13357,219,13357,219,13357,188,12614,237,12426,250,12189,250,12189,250,12189,299,"11,407*",193,11110
강원,36,1161,36,1161,36,1161,27,1087,23,1060,35,1037,35,1037,35,1037,13,968,23,955
충북,22,1091,22,1091,22,1091,30,1002,24,972,38,948,38,948,38,948,58,822,30,764
충남,17,1538,17,1538,17,1538,35,1467,55,1432,61,1377,61,1377,61,1377,11,1208,15,1197
전북,11,756,11,756,11,756,1,706,7,705,37,698,37,698,37,698,20,637,4,617
전남,5,502,5,502,5,502,7,493,5,486,6,481,6,481,6,481,12,469,4,457
경북,22,2319,22,2319,22,2319,45,2248,32,2203,33,2171,33,2171,33,2171,25,2021,58,1996
경남,22,1213,22,1213,22,1213,25,1139,44,1114,22,1070,22,1070,22,1070,28,1013,18,985
제주,9,388,9,388,9,388,11,364,7,353,24,346,24,346,24,346,33,276,19,243

In [30]:
data1.to_csv('2020-12-31_2020-12-22.csv', encoding = 'euc-kr', index = False)

### 2020.12.21 ~ 제목 '코로나바이러스감염증-19 국내 발생 현황 (12월 21일 0시)' 로 변경됨
#### 링크 형식도 변경됨

In [104]:
# 일별 확진자 수 테이블 생성
# link index (362218, 359671)

data = pd.DataFrame()
for idx in range(362218, 359671, -1):   # 2020.12.21 ~ 2020.09.01
    
    k = pd.DataFrame()  # 초기화
    #driver.get('http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq={}&contSeq={}&board_id=312&gubun=ALL'.format(idx, idx))
    response = requests.get('http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq={}&contSeq={}&board_id=&gubun=ALL'.format(idx, idx))
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # root = lxml.html.fromstring(response.content)

    # 제목
    # title = soup.select('#content > div > div.board_view > div.bv_content > div.bvc_txt > p > p:nth-child(1)')  # 제목 (인덱스용)
    #vaccine = soup.select('#content > div > div.board_view > div.bv_content > div > p > table:nth-child(10)')
    #print(vaccine)
    
    title = soup.select('h4')  ## 찐 제목
    #title = soup.find('div', {'class': 'bv_ttl'})
    title = str(title)
    print(title.find('0시'))
    
    if ('0시' in title) and ('국내 발생 현황' in title):   ## '코로나19 국내 발생 및 예방접종 현황(9.14., 0시 기준)' 제목형식과 일치할때
        print(title)
        # 국내 발생 확진자 현황 테이블 가져오기
        
        lst = soup.select('table')

        if len(lst) != 0:    # 테이블이 하나라도 존재할때
            for i in range(len(lst)):   # 테이블 개수만큼 검사
                tmp = str(lst[i])    # i번째 테이블 담기
                table_df_list = pd.read_html(tmp)
                table_df_tmp = table_df_list[0]  
                print(table_df_tmp)
        
                if (len(table_df_tmp) == 2) and (len(table_df_tmp.columns) == 19): # 행 개수 3개, 칼럼 개수 10개 이상 만족하는 테이블 확진자밖에 없음
                    table_df = table_df_tmp
                    break;

        k = table_df.transpose()
        k = k.rename(columns = k.iloc[0])
        # print(k)
        # k.drop([0], axis = 0, inplace = True)

        colname1 = title[29:37] + ' ' + '신규'
        colname2 = title[29:37] + ' ' + '누계'
        print(colname1)

        k.rename(columns = {'신규' : colname1, '누계' : colname2}, inplace = True)
        # k.drop(['구분'], axis = 1, inplace = True)
        
        data = pd.concat([data, k], axis = 1)
   
        print(response.url)

37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 21일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (12월 21일 0시)</h4>]
   구분     합계     서울    부산    대구    인천   광주   대전   울산   세종     경기   강원   충북  \
0  신규    892    327    19    21    85   11    3   17    0    237   22   29
1  누계  45475  14432  1431  7415  2187  788  656  500  106  10917  932  734

     충남   전북   전남    경북   경남   제주
0    16   11    8    48   15   23
1  1182  613  453  1938  967  224
12월 21일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=362218&contSeq=362218&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
80
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 20일)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (12월 20일 0시)</h4>]
   구분       합계       서울    부산    대구    인천   광주   대전   울산   세종     경기   강원  \
0  신규     1072      470    33    25    62   13    3    5    0    244   55
1  누계  44,583*  14,105*  1412  7394  2102  777  653  483  106  10680  910

    충북    충남   전북   전남    경북   경남   제주
0   14    19   29    4    23   49   24
1  705  1166  602  445  1890  952  201
12월 20일) 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=362195&contSeq=362195&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 20일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (12월 20일 0시)</h4>]
   구분       합계       서울    부산    대구    인천   광주   대전   울산   세종     경기   강원  \
0  신규     1072      470    33    25    62   13    3    5    0    244   55
1  누계  44,583*  14,105*  1412  7394  2102  777  653  483  106  10680  910

    충북    충남   전북   전남    경북   경남   제주
0   14    19   29    4    23   49   24
1  705  1166  602  445  1890  952  201
12월 20일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=362182&contSeq=362182&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 19일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (12월 19일 0시)</h4>]
   구분       합계       서울    부산    대구      인천   광주   대전   울산   세종       경기   강원  \
0  신규     1029      382    39    20      46    9    5    7    0      264   27
1  누계  43,513*  13,637*  1379  7369  2,040*  764  650  478  106  10,436*  855

    충북    충남   전북   전남    경북   경남   제주
0  103    24   13    5    29   32   24
1  691  1147  573  441  1867  903  177
12월 19일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=362149&contSeq=362149&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 18일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (12월 18일 0시)</h4>]
   구분     합계     서울    부산    대구    인천   광주   대전   울산   세종     경기   강원   충북  \
0  신규   1036    393    39    20    64    3    5   30    0    300   18   30
1  누계  42483  13256  1340  7349  1995  755  645  471  106  10169  828  588

     충남   전북   전남    경북   경남   제주
0    16   12    5    31   43   27
1  1123  560  436  1838  871  153
12월 18일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361995&contSeq=361995&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 17일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (12월 17일 0시)</h4>]
   구분       합계     서울    부산    대구      인천   광주   대전   울산   세종    경기   강원   충북  \
0  신규      993    420    44    20      80   10   11   10    0   284    9   19
1  누계  41,447*  12863  1301  7329  1,931*  752  640  441  106  9869  810  558

     충남   전북   전남    경북   경남   제주
0    17   18    0     9   30   12
1  1107  548  431  1807  828  126
12월 17일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361824&contSeq=361824&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 16일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (12월 16일 0시)</h4>]
   구분     합계     서울    부산    대구    인천   광주   대전   울산   세종    경기   강원   충북  \
0  신규   1054    373    41    27    64    2   15    6    0   320    8   22
1  누계  40456  12443  1257  7309  1853  742  629  431  106  9585  801  539

     충남   전북   전남    경북   경남   제주
0    35   75    4    28   19   15
1  1090  530  431  1798  798  114
12월 16일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361798&contSeq=361798&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 15일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (12월 15일 0시)</h4>]
   구분     합계     서울    부산    대구    인천   광주   대전   울산   세종    경기   강원   충북  \
0  신규    848    246    40    18    55    5   32   49    1   274   13   24
1  누계  39402  12070  1216  7282  1789  740  614  425  106  9265  793  517

     충남   전북   전남    경북   경남  제주
0    37   13    1    15   16   9
1  1055  455  427  1770  779  99
12월 15일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361767&contSeq=361767&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 14일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (12월 14일 0시)</h4>]
                                             구분  \
0                                            신규
1                                            누계
2  * 지자체 신고 오류 통계 제외(12.13. 0시 기준 인천 –1, 대전 –1)

                                             합계  \
0                                           682
1                                       38,554*
2  * 지자체 신고 오류 통계 제외(12.13. 0시 기준 인천 –1, 대전 –1)

                                             서울  \
0                                           217
1                                         11824
2  * 지자체 신고 오류 통계 제외(12.13. 0시 기준 인천 –1, 대전 –1)

                                             부산  \
0                                            19
1                                          1176
2  * 지자체 신고 오류 통계 제외(12.13. 0시 기준 인천 –1, 대전 –1)

                                             대구  \
0                                            16
1                                          7264
2  * 지자체 신고 오류 통계 제외(12.13. 0시 기준 인천 –1, 대전 –1)

                                             인천  \
0                                            36
1                                        1,734*
2  * 지자체 신고 오류 통계 제외(12.13. 0시 기준 인천 –1, 대전 –1)

                                             광주  \
0                                            22
1                                           735
2  * 지자체 신고 오류 통계 제외(12.13. 0시 기준 인천 –1, 대전 –1)

                                             대전  \
0                                             1
1                                          582*
2  * 지자체 신고 오류 통계 제외(12.13. 0시 기준 인천 –1, 대전 –1)

                                             울산  \
0                                             4
1                                           376
2  * 지자체 신고 오류 통계 제외(12.13. 0시 기준 인천 –1, 대전 –1)

                                             세종  \
0                                             3
1                                           105
2  * 지자체 신고 오류 통계 제외(12.13. 0시 기준 인천 –1, 대전 –1)

                                             경기  \
0                                           220
1                                          8991
2  * 지자체 신고 오류 통계 제외(12.13. 0시 기준 인천 –1, 대전 –1)

                                             강원  \
0                                            14
1                                           780
2  * 지자체 신고 오류 통계 제외(12.13. 0시 기준 인천 –1, 대전 –1)

                                             충북  \
0                                            21
1                                           493
2  * 지자체 신고 오류 통계 제외(12.13. 0시 기준 인천 –1, 대전 –1)

                                             충남  \
0                                            51
1                                          1018
2  * 지자체 신고 오류 통계 제외(12.13. 0시 기준 인천 –1, 대전 –1)

                                             전북  \
0                                             8
1                                           442
2  * 지자체 신고 오류 통계 제외(12.13. 0시 기준 인천 –1, 대전 –1)

                                             전남  \
0                                             1
1                                           426
2  * 지자체 신고 오류 통계 제외(12.13. 0시 기준 인천 –1, 대전 –1)

                                             경북  \
0                                            15
1                                          1755
2  * 지자체 신고 오류 통계 제외(12.13. 0시 기준 인천 –1, 대전 –1)

                                             경남  \
0                                            26
1                                           763
2  * 지자체 신고 오류 통계 제외(12.13. 0시 기준 인천 –1, 대전 –1)

                                             제주
0                                             8
1                                            90
2  * 지자체 신고 오류 통계 제외(12.13. 0시 기준 인천 –1, 대전 –1)
   구분       합계 (추정)유입국가*                                               \
   구분       합계        중국 아시아 (중국 외)       유럽     아메리카    아프리카  오세 아니아
0  신규       36         0         21        2        8       5       0
1  누계  4,930**        31       2349      893     1481   157**    19**
2  누계  4,930**    (0.6%)    (47.7%)  (18.1%)  (30.0%)  (3.2%)  (0.4%)

     확인 단계                국적
      검역단계     지역사회      내국인      외국인
0       17       19       22       14
1     2290  2,640**  2,685**  2,245**
2  (46.5%)  (53.5%)  (54.5%)  (45.5%)
                구분    격리해제    격리 중 위중증 환자**   사망자
0  12.13.(일) 0시 기준   31814   10372      179   580
1  12.14.(월) 0시 기준   32102   10795      185   587
2               변동  (+)288  (+)423     (+)6  (+)7
12월 14일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361649&contSeq=361649&board_id=&gubun=ALL
-1

-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 13일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (12월 13일 0시)</h4>]
   구분     합계     서울    부산    대구    인천   광주   대전   울산   세종    경기   강원   충북  \
0  신규   1002    396    56    28    62   14   13    8    0   328   17   15
1  누계  37874  11607  1157  7248  1699  713  582  372  102  8771  766  472

    충남   전북   전남    경북   경남  제주
0    9    8    5    18   22   3
1  967  434  425  1740  737  82
12월 13일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361634&contSeq=361634&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 12일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (12월 12일 0시)</h4>]
   구분     합계     서울    부산    대구    인천   광주   대전   울산   세종    경기   강원   충북  \
0  신규    928    359    58    35    42    9   18   23    1   268   36   21
1  누계  36872  11211  1101  7220  1637  699  569  364  102  8443  749  457

    충남   전북   전남    경북   경남  제주
0    9    5    8    19   17   0
1  958  426  420  1722  715  79
12월 12일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361621&contSeq=361621&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
80
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 11일)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (12월 11일 0시)</h4>]
   구분       합계     서울    부산    대구    인천   광주   대전   울산   세종    경기   강원   충북  \
0  신규      673    250    26     6    37    3    8   47    0   225   11   20
1  누계  35,944*  10852  1043  7185  1595  690  551  341  101  8175  713  436

    충남   전북   전남    경북   경남  제주
0    9    7    4     3   12   5
1  949  421  412  1703  698  79
12월 11일) 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361607&contSeq=361607&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 11일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (12월 11일 0시)</h4>]
   구분       합계     서울    부산    대구    인천   광주   대전   울산   세종    경기   강원   충북  \
0  신규      673    250    26     6    37    3    8   47    0   225   11   20
1  누계  35,944*  10852  1043  7185  1595  690  551  341  101  8175  713  436

    충남   전북   전남    경북   경남  제주
0    9    7    4     3   12   5
1  949  421  412  1703  698  79
12월 11일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361597&contSeq=361597&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 10일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (12월 10일 0시)</h4>]
   구분       합계     서울    부산    대구    인천   광주   대전   울산   세종    경기   강원   충북  \
0  신규      646    251    31     3    37    3    9   17    1   201   15   12
1  누계  35,273*  10603  1017  7179  1559  687  543  295  101  7949  702  415

    충남   전북   전남    경북   경남  제주
0   20    8    5     8   16   9
1  940  414  408  1701  686  74
12월 10일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361577&contSeq=361577&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 9일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (12월 9일 0시)</h4>]
   구분     합계     서울   부산    대구    인천   광주   대전   울산   세종    경기   강원   충북   충남  \
0  신규    662    264   20     3    46    9   10   14    1   214    4   23    4
1  누계  34643  10359  987  7177  1523  684  534  278  100  7748  687  405  920

    전북   전남    경북   경남  제주
0   12    2     3   31   2
1  406  403  1693  672  67
12월 9일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361550&contSeq=361550&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 8일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (12월 8일 0시)</h4>]
   구분     합계     서울   부산    대구    인천   광주   대전   울산  세종      경기   강원   충북  \
0  신규    566    212   25     3    27   10   10   61   0     146    8   10
1  누계  33983  10095  967  7174  1476  675  524  264  99  7,536*  683  383

    충남   전북   전남    경북   경남  제주
0   15   13    7     5   12   2
1  916  394  401  1690  641  65
12월 8일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361542&contSeq=361542&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 7일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (12월 7일 0시)</h4>]
   구분     합계    서울   부산    대구    인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    580   231   33     5    37    3    2   38   0   154    9   11   10
1  누계  33418  9883  942  7171  1449  665  514  203  99  7391  675  373  901

    전북   전남    경북   경남  제주
0   21    2     9   15   0
1  381  394  1685  629  63
12월 7일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361528&contSeq=361528&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 6일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (12월 6일 0시)</h4>]
   구분     합계    서울   부산    대구    인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    599   253   34     3    41    3    3    3   2   176   11   13   14
1  누계  32838  9652  909  7166  1412  662  512  165  99  7237  666  362  891

    전북   전남    경북   경남  제주
0   11    8     9   15   0
1  360  392  1676  614  63
12월 6일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361518&contSeq=361518&board_id=&gubun=ALL
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 5일 0시)</h4>]
   0      1     2    3     4     5    6    7    8   9     10   11   12   13  \
0  구분     합계    서울   부산    대구    인천   광주   대전   울산  세종    경기   강원   충북   충남
1  신규    559   231   29     7    19    6   10    1   4   150    9   18   10
2  누계  32239  9399  875  7163  1371  659  509  162  97  7061  655  349  877

    14   15    16   17  18
0   전북   전남    경북   경남  제주
1   17    4    16   27   1
2  349  384  1667  599  63
                                                  0   \
0                                                 구분
1                                                 구분
2                                                 신규
3                                                 누계
4                                                 누계
5  * 아시아(중국 외) : 러시아 6명(6명), 스리랑카 1명(1명), 인도 1명, ...

                                                  1   \
0                                                 구분
1                                                 구분
2                                                 신규
3                                                 누계
4                                                 누계
5  * 아시아(중국 외) : 러시아 6명(6명), 스리랑카 1명(1명), 인도 1명, ...

                                                  2   \
0                                                 합계
1                                                 합계
2                                                 24
3                                               4676
4                                               4676
5  * 아시아(중국 외) : 러시아 6명(6명), 스리랑카 1명(1명), 인도 1명, ...

                                                  3   \
0                                                 합계
1                                                 합계
2                                                 24
3                                               4676
4                                               4676
5  * 아시아(중국 외) : 러시아 6명(6명), 스리랑카 1명(1명), 인도 1명, ...

                                                  4   \
0                                          (추정)유입국가*
1                                                 중국
2                                                  0
3                                                 30
4                                             (0.6%)
5  * 아시아(중국 외) : 러시아 6명(6명), 스리랑카 1명(1명), 인도 1명, ...

                                                  5   \
0                                          (추정)유입국가*
1                                                 중국
2                                                  0
3                                                 30
4                                             (0.6%)
5  * 아시아(중국 외) : 러시아 6명(6명), 스리랑카 1명(1명), 인도 1명, ...

                                                  6   \
0                                          (추정)유입국가*
1                                                 중국
2                                                  0
3                                                 30
4                                             (0.6%)
5  * 아시아(중국 외) : 러시아 6명(6명), 스리랑카 1명(1명), 인도 1명, ...

                                                  7   \
0                                          (추정)유입국가*
1                                         아시아 (중국 외)
2                                                 12
3                                               2259
4                                            (48.3%)
5  * 아시아(중국 외) : 러시아 6명(6명), 스리랑카 1명(1명), 인도 1명, ...

                                                  8   \
0                                          (추정)유입국가*
1                                         아시아 (중국 외)
2                                                 12
3                                               2259
4                                            (48.3%)
5  * 아시아(중국 외) : 러시아 6명(6명), 스리랑카 1명(1명), 인도 1명, ...

                                                  9   ...  \
0                                          (추정)유입국가*  ...
1                                                 유럽  ...
2                                                  3  ...
3                                                846  ...
4                                            (18.1%)  ...
5  * 아시아(중국 외) : 러시아 6명(6명), 스리랑카 1명(1명), 인도 1명, ...  ...

                                                  21  \
0                                              확인 단계
1                                               검역단계
2                                                 12
3                                               2193
4                                            (46.9%)
5  * 아시아(중국 외) : 러시아 6명(6명), 스리랑카 1명(1명), 인도 1명, ...

                                                  22  \
0                                              확인 단계
1                                               지역사회
2                                                 12
3                                               2483
4                                            (53.1%)
5  * 아시아(중국 외) : 러시아 6명(6명), 스리랑카 1명(1명), 인도 1명, ...

                                                  23  \
0                                              확인 단계
1                                               지역사회
2                                                 12
3                                               2483
4                                            (53.1%)
5  * 아시아(중국 외) : 러시아 6명(6명), 스리랑카 1명(1명), 인도 1명, ...

                                                  24  \
0                                              확인 단계
1                                               지역사회
2                                                 12
3                                               2483
4                                            (53.1%)
5  * 아시아(중국 외) : 러시아 6명(6명), 스리랑카 1명(1명), 인도 1명, ...

                                                  25  \
0                                                 국적
1                                                내국인
2                                                  8
3                                               2534
4                                            (54.2%)
5  * 아시아(중국 외) : 러시아 6명(6명), 스리랑카 1명(1명), 인도 1명, ...

                                                  26  \
0                                                 국적
1                                                내국인
2                                                  8
3                                               2534
4                                            (54.2%)
5  * 아시아(중국 외) : 러시아 6명(6명), 스리랑카 1명(1명), 인도 1명, ...

                                                  27  \
0                                                 국적
1                                                내국인
2                                                  8
3                                               2534
4                                            (54.2%)
5  * 아시아(중국 외) : 러시아 6명(6명), 스리랑카 1명(1명), 인도 1명, ...

                                                  28  \
0                                                 국적
1                                                외국인
2                                                 16
3                                               2142
4                                            (45.8%)
5  * 아시아(중국 외) : 러시아 6명(6명), 스리랑카 1명(1명), 인도 1명, ...

                                                  29  \
0                                                 국적
1                                                외국인
2                                                 16
3                                               2142
4                                            (45.8%)
5  * 아시아(중국 외) : 러시아 6명(6명), 스리랑카 1명(1명), 인도 1명, ...

                                                  30
0                                                 국적
1                                                외국인
2                                                 16
3                                               2142
4                                            (45.8%)
5  * 아시아(중국 외) : 러시아 6명(6명), 스리랑카 1명(1명), 인도 1명, ...

[6 rows x 31 columns]
                                                   0  \
0                                                 구분
1                                     12.4.(금) 0시 기준
2                                     12.5.(토) 0시 기준
3                                                 변동
4  * 12월 4일 0시부터 12월 5일 0시 사이에 질병관리청으로 신고·접수된 자료 ...

                                                   1  \
0                                               격리해제
1                                              28611
2                                              28917
3                                             (+)306
4  * 12월 4일 0시부터 12월 5일 0시 사이에 질병관리청으로 신고·접수된 자료 ...

                                                   2  \
0                                               격리 중
1                                               7185
2                                               7458
3                                             (+)273
4  * 12월 4일 0시부터 12월 5일 0시 사이에 질병관리청으로 신고·접수된 자료 ...

                                                   3  \
0                                           위중증 환자**
1                                                116
2                                                121
3                                               (+)5
4  * 12월 4일 0시부터 12월 5일 0시 사이에 질병관리청으로 신고·접수된 자료 ...

                                                   4
0                                                사망자
1                                                536
2                                                540
3                                               (+)4
4  * 12월 4일 0시부터 12월 5일 0시 사이에 질병관리청으로 신고·접수된 자료 ...
12월 5일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361514&contSeq=361514&board_id=&gubun=ALL
-1

-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 4일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (12월 4일 0시)</h4>]
   구분     합계    서울   부산    대구    인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    600   291   31     6    17    1   21    5   0   155    3    5   22
1  누계  31680  9168  846  7156  1352  653  499  161  93  6911  646  331  867

    전북   전남    경북   경남  제주
0   13    3     9   16   2
1  332  380  1651  572  62
12월 4일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361494&contSeq=361494&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 2일 0시</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (12월 2일 0시)</h4>]
   구분     합계    서울   부산    대구    인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    493   192   31     4    21   10    5    6   7   143   12   16    6
1  누계  30564  8617  800  7147  1313  649  471  154  89  6619  635  317  832

    전북   전남    경북   경남  제주
0   26    1     4    7   2
1  312  375  1632  543  59
12월 2일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361444&contSeq=361444&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (12월 1일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (12월 1일 0시)</h4>]
   구분     합계    서울   부산    대구    인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    420   153   31    11    16   22   10    2   2    86    9   31   16
1  누계  30071  8425  769  7143  1292  639  466  148  82  6476  623  301  826

    전북   전남    경북   경남  제주
0    9    2    10   10   0
1  286  374  1628  536  57
12월 1일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361420&contSeq=361420&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11.30. 0시 기준)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (0시 기준)</h4>]
   구분     합계    서울   부산    대구    인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    414   158   52     4    34   12    5    3   1    69    8   22    4
1  누계  29651  8272  738  7132  1276  617  456  146  80  6390  614  270  810

    전북   전남    경북   경남  제주
0   16    3     4   19   0
1  277  372  1618  526  57
11.30. 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361398&contSeq=361398&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 29일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 29일 0시)</h4>]
   구분     합계    서울   부산    대구    인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    413   146   21     1    22    6    6    0   3    95   19   20   12
1  누계  29237  8106  686  7128  1243  605  451  143  79  6328  606  249  806

    전북   전남    경북   경남  제주
0   17   19    11   15   0
1  261  368  1614  507  57
11월 29일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361384&contSeq=361384&board_id=&gubun=ALL
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 28일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 28일 0시)</h4>]
   구분       합계      서울   부산    대구    인천   광주   대전   울산  세종    경기   강원   충북  \
0  신규      486     176   27     1    25   14   13    3   0   122   33   23
1  누계  28,824*  7,960*  665  7127  1221  599  445  143  76  6233  587  229

    충남   전북   전남    경북   경남  제주
0   14    9    7     4   13   2
1  794  244  349  1603  492  57
11월 28일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361380&contSeq=361380&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 27일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 27일 0시)</h4>]
   구분     합계    서울   부산    대구    인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    525   204   24     0    21   13    5    7   3   112    8   19   31
1  누계  28339  7785  638  7126  1196  585  432  140  76  6111  554  206  780

    전북   전남    경북   경남  제주
0   24   10     3   38   3
1  235  342  1599  479  55
11월 27일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361365&contSeq=361365&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 26일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 26일 0시)</h4>]
   구분       합계      서울   부산    대구    인천   광주   대전   울산  세종    경기   강원   충북  \
0  신규      553     208   19     1    17   14    1    6   4   177    8    8
1  누계  27,814*  7,581*  614  7126  1175  572  427  133  73  5999  546  187

    충남   전북   전남    경북   경남  제주
0   16   16    9     2   45   2
1  749  211  332  1596  441  52
11월 26일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361332&contSeq=361332&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 25일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 25일 0시)</h4>]
   구분   합계   서울  부산  대구  인천  광주  대전  울산  세종  경기  강원  충북  충남  전북  전남  경북  경남  \
0  신규  363  139  18   5  39  14   4   3   0  77  12   3  18   8   8   2  10

   제주
0   3
   구분    합계 (추정)유입국가*                                                확인 단계  \
   구분    합계        중국 아시아(중국 외)       유럽     아메리카    아프리카   오세아니아     검역단계
0  신규    19         0         6        3        9       1       0        7
1  누계  4472        27      2198      795     1302     132      18     2132
2  누계  4472    (0.6%)   (49.1%)  (17.8%)  (29.1%)  (3.0%)  (0.4%)  (47.7%)

                 국적
      지역사회      내국인      외국인
0       12        9       10
1     2340     2405     2067
2  (52.3%)  (53.8%)  (46.2%)
                구분    격리해제    격리 중 위중증 환자**   사망자
0  11.24.(화) 0시 기준   26722    4121       79   510
1  11.25.(수) 0시 기준   26825    4397       81   513
2               변동  (+)103  (+)276     (+)2  (+)3
11월 25일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361317&contSeq=361317&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 24일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 24일 0시)</h4>]
   구분     합계    서울   부산    대구    인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    320   132    6     2    16    3    0    1   2    69   45    3    7
1  누계  26900  7236  577  7120  1119  544  422  124  69  5745  526  176  715

    전북   전남    경북   경남  제주
0   14    7     9    3   1
1  187  315  1592  386  47
11월 24일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361300&contSeq=361300&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 23일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 23일 0시)</h4>]
   구분     합계    서울   부산    대구    인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    255   109    4     1    23    1    2    1   0    74   11    0    8
1  누계  26580  7104  571  7118  1103  541  422  123  67  5676  481  173  708

    전북   전남    경북   경남  제주
0    9    5     4    2   1
1  173  308  1583  383  46
11월 23일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361273&contSeq=361273&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 22일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 22일 0시)</h4>]
   구분     합계    서울   부산    대구    인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    302   119    1     0    26    8    0    1   0    74   12    0   11
1  누계  26325  6995  567  7117  1080  540  420  122  67  5602  470  173  700

    전북   전남    경북   경남  제주
0   12   13     6   19   0
1  164  303  1579  381  45
11월 22일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361266&contSeq=361266&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 21일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 21일 0시)</h4>]
   구분     합계    서울   부산    대구    인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    361   154    7     0    22    6    1    1   0    86   14    1   19
1  누계  26023  6876  566  7117  1054  532  420  121  67  5528  458  173  689

    전북   전남    경북   경남  제주
0   13   18     8   11   0
1  152  290  1573  362  45
11월 21일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361255&contSeq=361255&board_id=&gubun=ALL
-1

-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 20일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 20일 0시)</h4>]
   구분     합계    서울   부산    대구    인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    320   127    2     1    29    4    0    0   0    62   24    2   15
1  누계  25662  6722  559  7117  1032  526  419  120  67  5442  444  172  670

    전북   전남    경북   경남  제주
0   13   14     7   18   2
1  139  272  1565  351  45
11월 20일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361211&contSeq=361211&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 19일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 19일 0시)</h4>]
   구분     합계    서울   부산    대구    인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    293   107    5     2    11    8    1    0   0    59   20    3   13
1  누계  25342  6595  557  7116  1003  522  419  120  67  5380  420  170  655

    전북   전남    경북   경남  제주
0    1   27     8   28   0
1  126  258  1558  333  43
11월 19일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361089&contSeq=361089&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
80
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 18일)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 18일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    245    91    5     2    9    9    1    0   0    81    5    0    6
1  누계  25049  6488  552  7114  992  514  418  120  67  5321  400  167  642

    전북   전남    경북   경남  제주
0    0   15    12    9   0
1  125  231  1550  305  43
11월 18일) 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361075&contSeq=361075&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 18일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 18일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    245    91    5     2    9    9    1    0   0    81    5    0    6
1  누계  25049  6488  552  7114  992  514  418  120  67  5321  400  167  642

    전북   전남    경북   경남  제주
0    0   15    12    9   0
1  125  231  1550  305  43
11월 18일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361068&contSeq=361068&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 17일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 17일 0시)</h4>]
   구분     합계   서울*   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    202    87    0     2   12   18    1    0   0    38   13    0    9
1  누계  24804  6397  547  7112  983  505  417  120  67  5240  395  167  636

    전북   전남    경북   경남  제주
0    0   16     3    3   0
1  125  216  1538  296  43
11월 17일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361053&contSeq=361053&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 16일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 16일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    193    79    0     0   10    4    2    0   1    39   20    3    6
1  누계  24603  6311  547  7110  971  487  416  120  67  5202  382  167  627

    전북   전남    경북   경남  제주
0    1   10    13    4   1
1  125  200  1535  293  43
11월 16일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361035&contSeq=361035&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 15일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 15일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    176    81    0     0    2    7    0    0   0    41   19    8    5
1  누계  24410  6232  547  7110  961  483  414  120  66  5163  362  164  621

    전북   전남    경북   경남  제주
0    0    8     2    3   0
1  124  190  1522  289  42
11월 15일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361018&contSeq=361018&board_id=&gubun=ALL
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 14일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 14일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    166    63    1     0    0    7    2    0   1    46   18    0   11
1  누계  24234  6151  547  7110  959  476  414  120  66  5122  343  156  616

    전북   전남    경북   경남  제주
0    1   13     0    3   0
1  124  182  1520  286  42
11월 14일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=361015&contSeq=361015&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 13일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 13일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    162    74    0     1    3    5    0    0   1    36   23    0    7
1  누계  24068  6088  546  7110  959  469  412  120  65  5076  325  156  605

    전북   전남    경북   경남  제주
0    0    9     0    2   1
1  123  169  1520  283  42
11월 13일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360987&contSeq=360987&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 12일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 12일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    128    52    2     2    2    6    2    0   0    34    6    0    9
1  누계  23906  6014  546  7109  956  464  412  120  64  5040  302  156  598

    전북   전남    경북   경남  제주
0    0    8     1    3   1
1  123  160  1520  281  41
11월 12일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360966&contSeq=360966&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 11일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 11일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    113    39    3     0    0    2    1    0   0    42    8    1    6
1  누계  23778  5962  544  7107  954  458  410  120  64  5006  296  156  589

    전북   전남    경북   경남  제주
0    1    0     0   10   0
1  123  152  1519  278  40
11월 11일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360945&contSeq=360945&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 10일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 10일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     71    32    1     1    3    4    0    0   0    18    3    1    4
1  누계  23665  5923  541  7107  954  456  409  120  64  4964  288  155  583

    전북   전남    경북   경남  제주
0    0    2     0    2   0
1  122  152  1519  268  40
11월 10일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360822&contSeq=360822&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 9일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 9일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     99    39    0     6    1    0    0    0   0    21   11    2   10
1  누계  23594  5891  540  7106  951  452  409  120  64  4946  285  154  579

    전북   전남    경북   경남  제주
0    3    2     0    4   0
1  122  150  1519  266  40
11월 9일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360796&contSeq=360796&board_id=&gubun=ALL

-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 8일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 8일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    118    54    0     7    2    2    1    0   0    23    9    2    8
1  누계  23495  5852  540  7100  950  452  409  120  64  4925  274  152  569

    전북   전남    경북   경남  제주
0    0    3     2    5   0
1  119  148  1519  262  40
11월 8일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360789&contSeq=360789&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 6일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 6일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    117    38    0     0    0    0    0    0   0    34    7    0   25
1  누계  23305  5764  538  7092  947  450  407  120  64  4886  261  150  553

    전북   전남    경북   경남  제주
0    0    0     0   13   0
1  119  145  1517  252  40
11월 6일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360764&contSeq=360764&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 5일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 5일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    108    46    3     2    3    0    0    0   0    23    1    2   23
1  누계  23188  5726  538  7092  947  450  407  120  64  4852  254  150  528

    전북   전남    경북   경남  제주
0    0    0     0    5   0
1  119  145  1517  239  40
11월 5일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360748&contSeq=360748&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 4일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 4일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     98    39    1     1    4    0    1    0   0    41    0    0   10
1  누계  23080  5680  535  7090  944  450  407  120  64  4829  253  148  505

    전북   전남    경북   경남  제주
0    0    0     0    0   1
1  119  145  1517  234  40
11월 4일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360721&contSeq=360721&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 3일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 3일 0시))</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     46    21    0     0    0    2    0    0   0    15    1    1    6
1  누계  22982  5641  534  7089  940  450  406  120  64  4788  253  148  495

    전북   전남    경북   경남  제주
0    0    0     0    0   0
1  119  145  1517  234  39
11월 3일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360709&contSeq=360709&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 2일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 2일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     79    20    0     3    2    0    0    0   0    40    0    1   11
1  누계  22936  5620  534  7089  940  448  406  120  64  4773  252  147  489

    전북   전남    경북   경남  제주
0    0    2     0    0   0
1  119  145  1517  234  39
11월 2일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360608&contSeq=360608&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (11월 1일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (11월 1일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    101    45    0     2    0    0    0    0   0    36    3    1    9
1  누계  22857  5600  534  7086  938  448  406  120  64  4733  252  146  478

    전북   전남    경북   경남  제주
0    0    3     0    2   0
1  119  143  1517  234  39
11월 1일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360598&contSeq=360598&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 31일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 31일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     96    51    2     9    3    0    0    0   3    23    0    0    4
1  누계  22756  5555  534  7084  938  448  406  120  64  4697  249  145  469

    전북   전남    경북   경남  제주
0    0    0     0    1   0
1  119  140  1517  232  39
10월 31일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360590&contSeq=360590&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 30일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 30일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     93    47    0    10    2    0    0    0   0    23    6    0    3
1  누계  22659  5504  532  7075  935  448  406  119  61  4674  249  145  465

    전북   전남    경북   경남  제주
0    1    1     0    0   0
1  119  140  1517  231  39
10월 30일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360561&contSeq=360561&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 29일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 29일 0시)</h4>]
   구분   합계  서울  부산  대구  인천  광주  대전  울산  세종  경기  강원  충북  충남  전북  전남  경북  경남  제주
0  신규  106  36   0   3   5   1   0   0   0  52   7   0   1   1   0   0   0   0
   구분    합계 (추정)유입국가*                                                확인 단계  \
   구분    합계        중국 아시아(중국 외)       유럽     아메리카    아프리카   오세아니아     검역단계
0  신규    19         0        10        1        8       0       0        9
1  누계  3705        26      1860      661     1040     103      15     1737
2  누계  3705    (0.7%)   (50.2%)  (17.8%)  (28.1%)  (2.8%)  (0.4%)  (46.9%)

                 국적
      지역사회      내국인      외국인
0       10        6       13
1     1968     2100     1605
2  (53.1%)  (56.7%)  (43.3%)
                구분   격리해제   격리 중 위중증환자**   사망자
0  10.28.(수) 0시 기준  24073   1612      52   461
1  10.29.(목) 0시 기준  24168   1641      53   462
2               변동  (+)95  (+)29    (+)1  (+)1
10월 29일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360484&contSeq=360484&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 28일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 28일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     96    23    0     2   10    0    7    0   0    28   14    0    1
1  누계  22460  5421  532  7062  928  447  406  119  61  4599  236  145  461

    전북   전남    경북   경남  제주
0    3    0     5    3   0
1  117  139  1517  231  39
10월 28일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360471&contSeq=360471&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 27일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 27일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     72    24    0     0    2    0    5    0   0    27    6    1    0
1  누계  22364  5398  532  7060  918  447  399  119  61  4571  222  145  460

    전북   전남    경북   경남  제주
0    0    2     0    5   0
1  114  139  1512  228  39
10월 27일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360457&contSeq=360457&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 26일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 26일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     94    20    0     0    3    0    1    0   0    65    0    1    1
1  누계  22292  5374  532  7060  916  447  394  119  61  4544  216  144  460

    전북   전남    경북   경남  제주
0    0    0     0    3   0
1  114  137  1512  223  39
10월 26일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360446&contSeq=360446&board_id=&gubun=ALL
-1

-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 25일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 25일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     50    17    1     0    0    0    1    1   0    27    0    0    2
1  누계  22198  5354  532  7060  913  447  393  119  61  4479  216  143  459

    전북   전남    경북   경남  제주
0    0    0     0    1   0
1  114  137  1512  220  39
10월 25일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360435&contSeq=360435&board_id=&gubun=ALL
-1
-1
28
[<h4>코로나바이러스감염증-19 국내 발생 현황(0시 기준)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황(0시 기준)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     66    22    0     0    2    0    5    0   0    32    0    0    5
1  누계  22148  5337  531  7060  913  447  392  118  61  4452  216  143  457

    전북   전남    경북   경남  제주
0    0    0     0    0   0
1  114  137  1512  219  39
시 기준)</h 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360432&contSeq=360432&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 23일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 23일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    138    19    0     5    4    4    0    0   0    98    1    0    4
1  누계  22082  5315  531  7060  911  447  387  118  61  4420  216  143  452

    전북   전남    경북   경남  제주
0    2    1     0    0   0
1  114  137  1512  219  39
10월 23일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360419&contSeq=360419&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
78
[<h4>코로나바이러스감염증-19 국내 발생 현황 (정례브리핑)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 22일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    104    18    5     2    2    0    0    0   0    62    2    0   11
1  누계  21944  5296  531  7055  907  443  387  118  61  4322  215  143  448

    전북   전남    경북   경남  제주
0    2    0     0    0   0
1  112  136  1512  219  39
정례브리핑)</ 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360407&contSeq=360407&board_id=&gubun=ALL
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 22일 0시)</h4>, <h4>&gt;코로나바이러스감염증-19 국내 발생 현황 (10월 22일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    104    18    5     2    2    0    0    0   0    62    2    0   11
1  누계  21944  5296  531  7055  907  443  387  118  61  4322  215  143  448

    전북   전남    경북   경남  제주
0    2    0     0    0   0
1  112  136  1512  219  39
10월 22일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360402&contSeq=360402&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 21일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 21일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     57    13   10     0    6    0    4    1   0    21    0    0    0
1  누계  21840  5278  526  7053  905  443  387  118  61  4260  213  143  437

    전북   전남    경북   경남  제주
0    0    0     2    0   0
1  110  136  1512  219  39
10월 21일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360383&contSeq=360383&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
78
[<h4>코로나바이러스감염증-19 국내 발생 현황 (정례브리핑)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 20일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     41    11    1     0    3    0    1    0   0    22    2    0    1
1  누계  21783  5265  516  7053  899  443  383  117  61  4239  213  143  437

    전북   전남    경북   경남  제주
0    0    0     0    0   0
1  110  136  1510  219  39
정례브리핑)</ 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360371&contSeq=360371&board_id=&gubun=ALL
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 20일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 20일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     41    11    1     0    3    0    1    0   0    22    2    0    1
1  누계  21783  5265  516  7053  899  443  383  117  61  4239  213  143  437

    전북   전남    경북   경남  제주
0    0    0     0    0   0
1  110  136  1510  219  39
10월 20일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360367&contSeq=360367&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 19일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 19일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     50    11   14     0    4    1    2    0   0    15    1    0    2
1  누계  21742  5254  515  7053  896  443  382  117  61  4217  211  143  436

    전북   전남    경북   경남  제주
0    0    0     0    0   0
1  110  136  1510  219  39
10월 19일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360346&contSeq=360346&board_id=&gubun=ALL
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 18일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 18일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     71    18    2     0    1    0    1    0   0    48    1    0    0
1  누계  21692  5243  501  7053  892  442  380  117  61  4202  210  143  434

    전북   전남    경북   경남  제주
0    0    0     0    0   0
1  110  136  1510  219  39
10월 18일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360341&contSeq=360341&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 17일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 17일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     62    17    6     0    1    0    0    0   0    32    3    0    2
1  누계  21621  5225  499  7053  891  442  379  117  61  4154  209  143  434

    전북   전남    경북   경남  제주
0    0    0     0    1   0
1  110  136  1510  219  39
10월 17일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360332&contSeq=360332&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 16일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (정례브리핑)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     41    17    0     0    4    0    2    0   0    15    0    0    1
1  누계  21559  5208  493  7053  890  442  379  117  61  4122  206  143  432

    전북   전남    경북   경남  제주
0    2    0     0    0   0
1  110  136  1510  218  39
10월 16일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360309&contSeq=360309&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 15일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 15일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     95    22   54     0   11    0    1    0   0     6    1    0    0
1  누계  21518  5191  493  7053  886  442  377  117  61  4107  206  143  431

    전북   전남    경북   경남  제주
0    0    0     0    0   0
1  108  136  1510  218  39
10월 15일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360295&contSeq=360295&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 14일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 14일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     53    23    2     0    8    0    4    0   0    15    0    0    1
1  누계  21423  5169  439  7053  875  442  376  117  61  4101  205  143  431

    전북   전남    경북   경남  제주
0    0    0     0    0   0
1  108  136  1510  218  39
10월 14일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360278&contSeq=360278&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 13일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 13일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     69    18    1     0    0    1    9    0   0    32    4    1    2
1  누계  21370  5146  437  7053  867  442  372  117  61  4086  205  143  430

    전북   전남    경북   경남  제주
0    1    0     0    0   0
1  108  136  1510  218  39
10월 13일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360263&contSeq=360263&board_id=&gubun=ALL

-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 12일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (정례브리핑)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    69*    29    3     0    3    1   13    0   0   17*    1    0    0
1  누계  21301  5128  436  7053  867  441  363  117  61  4054  201  142  428

    전북   전남    경북   경남  제주
0    1    0     0    1   0
1  107  136  1510  218  39
10월 12일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360244&contSeq=360244&board_id=&gubun=ALL
-1
-1
-1
-1
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 11일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 11일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     46    19    3     0    1    0    2    0   0    18    2    0    1
1  누계  21233  5099  433  7053  864  440  350  117  61  4038  200  142  428

    전북   전남    경북   경남  제주
0    0    0     0    0   0
1  106  136  1510  217  39
10월 11일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360239&contSeq=360239&board_id=&gubun=ALL
-1
78
[<h4>코로나바이러스감염증-19 국내 발생 현황 (정례브리핑)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 10일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     61    23    3     0    8    0    1    0   0    24    0    0    1
1  누계  21187  5080  430  7053  863  440  348  117  61  4020  198  142  427

    전북   전남    경북   경남  제주
0    0    1     0    0   0
1  106  136  1510  217  39
정례브리핑)</ 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360237&contSeq=360237&board_id=&gubun=ALL
37
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 10일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 10일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     61    23    3     0    8    0    1    0   0    24    0    0    1
1  누계  21187  5080  430  7053  863  440  348  117  61  4020  198  142  427

    전북   전남    경북   경남  제주
0    0    1     0    0   0
1  106  136  1510  217  39
10월 10일  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360236&contSeq=360236&board_id=&gubun=ALL
-1
77
[<h4>코로나바이러스감염증-19 국내 발생 현황 (정례브리핑)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 9일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     38    17    5     0    0    0    5    0   0     9    0    1    0
1  누계  21126  5057  427  7053  855  440  347  117  61  3996  198  142  426

    전북   전남    경북   경남  제주
0    0    1     0    0   0
1  106  135  1510  217  39
정례브리핑)</ 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360234&contSeq=360234&board_id=&gubun=ALL
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 9일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 9일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     38    17    5     0    0    0    5    0   0     9    0    1    0
1  누계  21126  5057  427  7053  855  440  347  117  61  3996  198  142  426

    전북   전남    경북   경남  제주
0    0    1     0    0   0
1  106  135  1510  217  39
10월 9일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360232&contSeq=360232&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
77
[<h4>코로나바이러스감염증-19 국내 발생 현황 (정례브리핑)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 8일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     60    19    5     0    5    0    7    0   0    22    0    0    0
1  누계  21088  5040  422  7053  855  440  342  117  61  3987  198  141  426

    전북   전남    경북   경남  제주
0    0    0     1    1   0
1  106  134  1510  217  39
정례브리핑)</ 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360225&contSeq=360225&board_id=&gubun=ALL
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 8일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 8일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     60    19    5     0    5    0    7    0   0    22    0    0    0
1  누계  21088  5040  422  7053  855  440  342  117  61  3987  198  141  426

    전북   전남    경북   경남  제주
0    0    0     1    1   0
1  106  134  1510  217  39
10월 8일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360219&contSeq=360219&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 7일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 7일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     94    29    2     1    5    0    2    0   0    49    0    0    0
1  누계  21028  5021  417  7053  850  440  335  117  61  3965  198  141  426

    전북   전남    경북   경남  제주
0    6    0     0    0   0
1  106  134  1509  216  39
10월 7일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360208&contSeq=360208&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 6일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 6일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     66    13    3     0    4    0    2    1   0    34    0    0    0
1  누계  20934  4992  415  7052  845  440  333  117  61  3916  198  141  426

    전북   전남    경북   경남  제주
0    9    0     0    0   0
1  100  134  1509  216  39
10월 6일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360191&contSeq=360191&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 5일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 5일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     64    19    5     0    5    0    1    4   0    25    0    0    2
1  누계  20868  4979  412  7052  841  440  331  116  61  3882  198  141  426

   전북   전남    경북   경남  제주
0   2    0     1    0   0
1  91  134  1509  216  39
10월 5일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360164&contSeq=360164&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 4일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 4일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     47    16    5     0    5    0    2    1   0    14    0    1    0
1  누계  20804  4960  407  7052  836  440  330  112  61  3857  198  141  424

   전북   전남    경북   경남  제주
0   0    0     3    0   0
1  89  134  1508  216  39
10월 4일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360156&contSeq=360156&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 3일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 3일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     52    25    8     0    7    0    1    0   0     8    0    0    1
1  누계  20757  4944  402  7052  831  440  328  111  61  3843  198  140  424

   전북   전남    경북   경남  제주
0   0    0     2    0   0
1  89  134  1505  216  39
10월 3일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360145&contSeq=360145&board_id=&gubun=ALL
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 2일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 2일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     53     9   16     0    4    0    0    0   0    19    0    0    1
1  누계  20705  4919  394  7052  824  440  327  111  61  3835  198  140  423

   전북   전남    경북   경남  제주
0   0    0     4    0   0
1  89  134  1503  216  39
10월 2일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360139&contSeq=360139&board_id=&gubun=ALL
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (10월 1일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (10월 1일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     67    30    6     1    3    0    0    0   0    17    0    1    3
1  누계  20652  4910  378  7052  820  440  327  111  61  3816  198  140  422

   전북   전남    경북   경남  제주
0   0    1     5    0   0
1  89  134  1499  216  39
10월 1일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360134&contSeq=360134&board_id=&gubun=ALL
-1

-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 30일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 30일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     93    51    5     1    4    3    0    1   0    21    0    0    1
1  누계  20584  4880  372  7051  817  440  327  111  61  3799  198  139  419

   전북   전남    경북   경남  제주
0   2    0     4    0   0
1  89  133  1493  216  39
9월 30일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360131&contSeq=360131&board_id=&gubun=ALL
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 30일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 30일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     93    51    5     1    4    3    0    1   0    21    0    0    1
1  누계  20584  4880  372  7051  817  440  327  111  61  3799  198  139  419

   전북   전남    경북   경남  제주
0   2    0     4    0   0
1  89  133  1493  216  39
9월 30일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360128&contSeq=360128&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 29일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 29일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     23    11    3     0    0    0    0    0   0     6    0    1    0
1  누계  20491  4829  367  7050  813  437  327  110  61  3778  198  139  418

   전북   전남    경북   경남  제주
0   0    0     2    0   0
1  87  133  1489  216  39
9월 29일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360109&contSeq=360109&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 28일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     40    19    1     0    1    0    0    1   0    13    1    1    0
1  누계  20468  4818  364  7050  813  437  327  110  61  3772  198  138  418

   전북   전남    경북   경남  제주
0   0    0     3    0   0
1  87  133  1487  216  39
9월 28일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360084&contSeq=360084&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 26일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 26일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     49    25    2     1    1    0    0    0   0    13    0    0    0
1  누계  20355  4766  360  7050  803  437  327  109  61  3741  197  135  417

   전북   전남    경북   경남  제주
0   3    0     3    1   0
1  86  133  1478  216  39
9월 26일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360073&contSeq=360073&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 25일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 25일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     95    56    2     0    1    0    0    0   0    26    1    1    0
1  누계  20306  4741  358  7049  802  437  327  109  61  3728  197  135  417

   전북   전남    경북   경남  제주
0   3    0     4    1   0
1  83  133  1475  215  39
9월 25일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360053&contSeq=360053&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 24일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 24일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    110    39    7     1   10    0    1    0   0    43    2    1    1
1  누계  20212  4685  356  7049  801  437  327  109  61  3702  196  134  417

   전북   전남    경북   경남  제주
0   1    0     2    1   1
1  80  133  1471  214  40
9월 24일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360029&contSeq=360029&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 23일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 23일 0시)</h4>]
   구분     합계      서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     99      40    6     3    5    2    0    2   0    28    1    2    4
1  누계  20102  4,646*  349  7048  791  437  326  109  61  3659  194  133  416

   전북   전남    경북   경남  제주
0   0    0     6    0   0
1  79  133  1469  213  39
9월 23일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=360017&contSeq=360017&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 22일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 22일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     51    20    5     0    2    0    0    1   0    14    2    2    0
1  누계  20004  4607  343  7045  786  435  326  107  61  3631  193  131  412

   전북   전남    경북   경남  제주
0   0    0     4    1   0
1  79  133  1463  213  39
9월 22일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359989&contSeq=359989&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 21일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 21일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     55    21    8     0    1    0    2    0   0    18    0    2    0
1  누계  19953  4587  338  7045  784  435  326  106  61  3617  191  129  412

   전북   전남    경북   경남  제주
0   0    0     1    2   0
1  79  133  1459  212  39
9월 21일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359969&contSeq=359969&board_id=&gubun=ALL
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 20일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 20일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     72    28    6     2    3    0    1    1   0    24    0    1    1
1  누계  19898  4566  330  7045  783  435  324  106  61  3599  191  127  412

   전북   전남    경북   경남  제주
0   0    0     4    1   0
1  79  133  1458  210  39
9월 20일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359964&contSeq=359964&board_id=&gubun=ALL
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 20일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 20일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     72    28    6     2    3    0    1    1   0    24    0    1    1
1  누계  19898  4566  330  7045  783  435  324  106  61  3599  191  127  412

   전북   전남    경북   경남  제주
0   0    0     4    1   0
1  79  133  1458  210  39
9월 20일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359962&contSeq=359962&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 20일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 20일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     72    28    6     2    3    0    1    1   0    24    0    1    1
1  누계  19898  4566  330  7045  783  435  324  106  61  3599  191  127  412

   전북   전남    경북   경남  제주
0   0    0     4    1   0
1  79  133  1458  210  39
9월 20일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359955&contSeq=359955&board_id=&gubun=ALL
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 19일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 19일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    106    38    2     2   11    0    2    0   0    41    0    1    4
1  누계  19826  4538  324  7043  780  435  323  105  61  3575  191  126  411

   전북   전남    경북   경남  제주
0   1    0     4    0   0
1  79  133  1454  209  39
9월 19일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359949&contSeq=359949&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
28
[<h4>코로나바이러스감염증-19 국내 발생 현황(0시 기준,9.18)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 18일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    109    46    1     2    4    0    2    0   0    32    0    3    3
1  누계  19720  4500  322  7041  769  435  321  105  61  3534  191  125  407

   전북   전남    경북   경남  제주
0   7    0     5    3   1
1  78  133  1450  209  39
시 기준,9.1 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359938&contSeq=359938&board_id=&gubun=ALL

-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 17일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 17일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    145    62    2     2    7    1    1    0   0    52    0    0    9
1  누계  19611  4453  321  7039  765  435  320  105  61  3502  191  122  404

   전북   전남    경북   경남  제주
0   0    0     6    3   0
1  71  133  1445  206  38
9월 17일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359927&contSeq=359927&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 16일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 16일 0시)</h4>]
   구분        합계       서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북  \
0  신규       105       49    4     4    8    2    1    0   0    24    0    2
1  누계  19,466**  4,391**  319  7037  758  434  319  105  61  3450  191  122

    충남  전북   전남    경북   경남  제주
0    2   5    0     2    2   0
1  395  71  133  1439  203  38
9월 16일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359901&contSeq=359901&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
84
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 15일 정례브리핑)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 15일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     91    32    4     0    8    1    2    0   0    31    1    2    3
1  누계  19362  4343  315  7033  750  432  318  105  61  3426  191  120  393

   전북   전남    경북   경남  제주
0   1    0     1    2   3
1  66  133  1437  201  38
9월 15일 정 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359887&contSeq=359887&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 15일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 15일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     91    32    4     0    8    1    2    0   0    31    1    2    3
1  누계  19362  4343  315  7033  750  432  318  105  61  3426  191  120  393

   전북   전남    경북   경남  제주
0   1    0     1    2   3
1  66  133  1437  201  38
9월 15일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359880&contSeq=359880&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 14일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 14일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     98    41    3     1   10    3    1    1   0    30    0    0    7
1  누계  19271  4311  311  7033  742  431  316  105  61  3395  190  118  390

   전북   전남    경북   경남  제주
0   0    0     0    1   0
1  65  133  1436  199  35
9월 14일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359866&contSeq=359866&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 13일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 13일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규     99    30    3    14    3    2    2    4   0    27    1    0    9
1  누계  19173  4270  308  7032  732  428  315  104  61  3365  190  118  383

   전북   전남    경북   경남  제주
0   0    0     2    2   0
1  65  133  1436  198  35
9월 13일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359859&contSeq=359859&board_id=&gubun=ALL
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 12일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 12일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전   울산  세종    경기   강원   충북   충남  \
0  신규    118    50    4     3    8    3    7    1   0    28    3    0    6
1  누계  19074  4240  305  7018  729  426  313  100  61  3338  189  118  374

   전북   전남    경북   경남  제주
0   0    0     2    2   1
1  65  133  1434  196  35
9월 12일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359855&contSeq=359855&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 11일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 11일 0시)</h4>]
   구분        합계    서울   부산    대구   인천   광주   대전  울산  세종    경기   강원   충북   충남  \
0  신규       161    61    3     1    8    7   10   4   0    47    0    1   14
1  누계  18,956**  4190  301  7015  721  423  306  99  61  3310  186  118  368

   전북   전남    경북     경남  제주
0   0    2     2      0   1
1  65  133  1432  194**  34
9월 11일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359841&contSeq=359841&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 10일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 10일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전  울산  세종    경기   강원   충북   충남  전북  \
0  신규    141    46    1     1    5    5   11   4   0    47    1    2   12   1
1  누계  18796  4129  298  7014  713  416  296  95  61  3263  186  117  354  65

    전남    경북   경남  제주
0    1     2    1   1
1  131  1430  195  33
9월 10일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359827&contSeq=359827&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 9일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 9일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전  울산  세종    경기   강원   충북   충남  전북  \
0  신규    144    48    2     2    1   17    8   4   2    51    0    1    5   1
1  누계  18655  4083  297  7013  708  411  285  91  61  3216  185  115  342  64

    전남    경북   경남  제주
0    1     0    1   0
1  130  1428  194  32
9월 9일 0시 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359814&contSeq=359814&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 8일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 8일 0시)</h4>]
   구분        합계       서울   부산    대구   인천   광주   대전  울산  세종    경기   강원     충북  \
0  신규       120       67    1     0    2   12    4   3   1    29    0      1
1  누계  18,511**  4,035**  295  7011  707  394  277  87  59  3165  185  114**

    충남  전북   전남    경북   경남  제주
0    0   0    0     0    0   0
1  337  63  129  1428  193  32
9월 8일 0시 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359798&contSeq=359798&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 7일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 7일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전  울산  세종    경기   강원   충북   충남  전북  \
0  신규    108    47    9     1    1    7    5   3   0    30    0    0    3   0
1  누계  18393  3969  294  7011  705  382  273  84  58  3136  185  114  337  63

    전남    경북   경남  제주
0    0     0    2   0
1  129  1428  193  32
9월 7일 0시 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359774&contSeq=359774&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 6일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 6일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전  울산  세종    경기   강원   충북   충남  전북  \
0  신규    152    63    2     4    9    7    5   1   0    45    5    2    2   1
1  누계  18285  3922  285  7010  704  375  268  81  58  3106  185  114  334  63

    전남    경북   경남  제주
0    0     2    4   0
1  129  1428  191  32
9월 6일 0시 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359761&contSeq=359761&board_id=&gubun=ALL
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 5일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 5일 0시)</h4>]
   구분     합계       서울   부산    대구   인천   광주   대전  울산  세종       경기   강원   충북  \
0  신규    158       51   10     5   14    8    2   1   0       47    3    2
1  누계  18133  3,859**  283  7006  695  368  263  80  58  3,061**  180  112

    충남  전북   전남    경북   경남  제주
0    4   2    0     0    8   1
1  332  62  129  1426  187  32
9월 5일 0시 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359757&contSeq=359757&board_id=&gubun=ALL
-1
-1
-1
-1
-1

-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 4일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 4일 0시)</h4>]
   구분     합계       서울   부산    대구     인천   광주   대전  울산  세종    경기   강원   충북  \
0  신규    189       68    3     7      5   10    3   3   0    55    3    4
1  누계  17975  3,809**  273  7001  681**  360  261  79  58  3013  177  110

    충남  전북   전남    경북   경남  제주
0   20   0    1     4    3   0
1  328  60  129  1426  179  31
9월 4일 0시 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359740&contSeq=359740&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 3일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 3일 0시) </h4>]
   구분     합계    서울   부산    대구   인천   광주   대전  울산  세종    경기   강원   충북   충남  전북  \
0  신규    188    69    4     2   15    6    4   7   0    64    4    1    7   0
1  누계  17786  3739  270  6994  678  350  258  76  58  2958  174  106  308  60

    전남    경북   경남  제주
0    5     0    0   0
1  128  1422  176  31
9월 3일 0시 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359722&contSeq=359722&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 2일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (9월 2일 0시)</h4>]
   구분        합계       서울   부산    대구   인천   광주   대전  울산  세종    경기   강원   충북  \
0  신규       253       98    7    13   10   10   14   5   0    79    2    1
1  누계  17,598**  3,670**  266  6992  663  344  254  69  58  2894  170  105

    충남  전북   전남    경북   경남  제주
0    7   0    3     3    0   1
1  301  60  123  1422  176  31
9월 2일 0시 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359701&contSeq=359701&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (9월 1일 0시)</h4>]
   구분     합계    서울   부산    대구   인천   광주   대전  울산  세종    경기   강원   충북   충남  전북  \
0  신규    222    93    3     1   22    4    8   6   0    60    4    1    7   0
1  누계  17346  3573  259  6979  653  334  240  64  58  2815  168  104  294  60

    전남    경북   경남  제주
0    4     5    3   1
1  120  1419  176  30
9월 1일 0시 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359672&contSeq=359672&board_id=&gubun=ALL

In [105]:
data

,12월 21일 신규,12월 21일 누계,12월 20일) 신규,12월 20일) 누계,12월 20일 신규,12월 20일 누계,12월 19일 신규,12월 19일 누계,12월 18일 신규,12월 18일 누계,...,9월 5일 0시 신규,9월 5일 0시 누계,9월 4일 0시 신규,9월 4일 0시 누계,9월 3일 0시 신규,9월 3일 0시 누계,9월 2일 0시 신규,9월 2일 0시 누계,9월 1일 0시 신규,9월 1일 0시 누계
구분,신규,누계,신규,누계,신규,누계,신규,누계,신규,누계,...,신규,누계,신규,누계,신규,누계,신규,누계,신규,누계
합계,892,45475,1072,"44,583*",1072,"44,583*",1029,"43,513*",1036,42483,...,158,18133,189,17975,188,17786,253,"17,598**",222,17346
서울,327,14432,470,"14,105*",470,"14,105*",382,"13,637*",393,13256,...,51,"3,859**",68,"3,809**",69,3739,98,"3,670**",93,3573
부산,19,1431,33,1412,33,1412,39,1379,39,1340,...,10,283,3,273,4,270,7,266,3,259
대구,21,7415,25,7394,25,7394,20,7369,20,7349,...,5,7006,7,7001,2,6994,13,6992,1,6979
인천,85,2187,62,2102,62,2102,46,"2,040*",64,1995,...,14,695,5,681**,15,678,10,663,22,653
광주,11,788,13,777,13,777,9,764,3,755,...,8,368,10,360,6,350,10,344,4,334
대전,3,656,3,653,3,653,5,650,5,645,...,2,263,3,261,4,258,14,254,8,240
울산,17,500,5,483,5,483,7,478,30,471,...,1,80,3,79,7,76,5,69,6,64
세종,0,106,0,106,0,106,0,106,0,106,...,0,58,0,58,0,58,0,58,0,58
경기,237,10917,244,10680,244,10680,264,"10,436*",300,10169,...,47,"3,061**",55,3013,64,2958,79,2894,60,2815
강원,22,932,55,910,55,910,27,855,18,828,...,3,180,3,177,4,174,2,170,4,168
충북,29,734,14,705,14,705,103,691,30,588,...,2,112,4,110,1,106,1,105,1,104
충남,16,1182,19,1166,19,1166,24,1147,16,1123,...,4,332,20,328,7,308,7,301,7,294
전북,11,613,29,602,29,602,13,573,12,560,...,2,62,0,60,0,60,0,60,0,60
전남,8,453,4,445,4,445,5,441,5,436,...,0,129,1,129,5,128,3,123,4,120
경북,48,1938,23,1890,23,1890,29,1867,31,1838,...,0,1426,4,1426,0,1422,3,1422,5,1419
경남,15,967,49,952,49,952,32,903,43,871,...,8,187,3,179,0,176,0,176,3,176
제주,23,224,24,201,24,201,24,177,27,153,...,1,32,0,31,0,31,1,31,1,30
서울*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
data1 = data.drop(['서울*'], axis = 0)
data1

,12월 21일 신규,12월 21일 누계,12월 20일) 신규,12월 20일) 누계,12월 20일 신규,12월 20일 누계,12월 19일 신규,12월 19일 누계,12월 18일 신규,12월 18일 누계,...,9월 5일 0시 신규,9월 5일 0시 누계,9월 4일 0시 신규,9월 4일 0시 누계,9월 3일 0시 신규,9월 3일 0시 누계,9월 2일 0시 신규,9월 2일 0시 누계,9월 1일 0시 신규,9월 1일 0시 누계
구분,신규,누계,신규,누계,신규,누계,신규,누계,신규,누계,...,신규,누계,신규,누계,신규,누계,신규,누계,신규,누계
합계,892,45475,1072,"44,583*",1072,"44,583*",1029,"43,513*",1036,42483,...,158,18133,189,17975,188,17786,253,"17,598**",222,17346
서울,327,14432,470,"14,105*",470,"14,105*",382,"13,637*",393,13256,...,51,"3,859**",68,"3,809**",69,3739,98,"3,670**",93,3573
부산,19,1431,33,1412,33,1412,39,1379,39,1340,...,10,283,3,273,4,270,7,266,3,259
대구,21,7415,25,7394,25,7394,20,7369,20,7349,...,5,7006,7,7001,2,6994,13,6992,1,6979
인천,85,2187,62,2102,62,2102,46,"2,040*",64,1995,...,14,695,5,681**,15,678,10,663,22,653
광주,11,788,13,777,13,777,9,764,3,755,...,8,368,10,360,6,350,10,344,4,334
대전,3,656,3,653,3,653,5,650,5,645,...,2,263,3,261,4,258,14,254,8,240
울산,17,500,5,483,5,483,7,478,30,471,...,1,80,3,79,7,76,5,69,6,64
세종,0,106,0,106,0,106,0,106,0,106,...,0,58,0,58,0,58,0,58,0,58
경기,237,10917,244,10680,244,10680,264,"10,436*",300,10169,...,47,"3,061**",55,3013,64,2958,79,2894,60,2815
강원,22,932,55,910,55,910,27,855,18,828,...,3,180,3,177,4,174,2,170,4,168
충북,29,734,14,705,14,705,103,691,30,588,...,2,112,4,110,1,106,1,105,1,104
충남,16,1182,19,1166,19,1166,24,1147,16,1123,...,4,332,20,328,7,308,7,301,7,294
전북,11,613,29,602,29,602,13,573,12,560,...,2,62,0,60,0,60,0,60,0,60
전남,8,453,4,445,4,445,5,441,5,436,...,0,129,1,129,5,128,3,123,4,120
경북,48,1938,23,1890,23,1890,29,1867,31,1838,...,0,1426,4,1426,0,1422,3,1422,5,1419
경남,15,967,49,952,49,952,32,903,43,871,...,8,187,3,179,0,176,0,176,3,176
제주,23,224,24,201,24,201,24,177,27,153,...,1,32,0,31,0,31,1,31,1,30

In [108]:
data1 = data1.drop(['구분'], axis = 0)
data1

,12월 21일 신규,12월 21일 누계,12월 20일) 신규,12월 20일) 누계,12월 20일 신규,12월 20일 누계,12월 19일 신규,12월 19일 누계,12월 18일 신규,12월 18일 누계,...,9월 5일 0시 신규,9월 5일 0시 누계,9월 4일 0시 신규,9월 4일 0시 누계,9월 3일 0시 신규,9월 3일 0시 누계,9월 2일 0시 신규,9월 2일 0시 누계,9월 1일 0시 신규,9월 1일 0시 누계
합계,892,45475,1072,"44,583*",1072,"44,583*",1029,"43,513*",1036,42483,...,158,18133,189,17975,188,17786,253,"17,598**",222,17346
서울,327,14432,470,"14,105*",470,"14,105*",382,"13,637*",393,13256,...,51,"3,859**",68,"3,809**",69,3739,98,"3,670**",93,3573
부산,19,1431,33,1412,33,1412,39,1379,39,1340,...,10,283,3,273,4,270,7,266,3,259
대구,21,7415,25,7394,25,7394,20,7369,20,7349,...,5,7006,7,7001,2,6994,13,6992,1,6979
인천,85,2187,62,2102,62,2102,46,"2,040*",64,1995,...,14,695,5,681**,15,678,10,663,22,653
광주,11,788,13,777,13,777,9,764,3,755,...,8,368,10,360,6,350,10,344,4,334
대전,3,656,3,653,3,653,5,650,5,645,...,2,263,3,261,4,258,14,254,8,240
울산,17,500,5,483,5,483,7,478,30,471,...,1,80,3,79,7,76,5,69,6,64
세종,0,106,0,106,0,106,0,106,0,106,...,0,58,0,58,0,58,0,58,0,58
경기,237,10917,244,10680,244,10680,264,"10,436*",300,10169,...,47,"3,061**",55,3013,64,2958,79,2894,60,2815
강원,22,932,55,910,55,910,27,855,18,828,...,3,180,3,177,4,174,2,170,4,168
충북,29,734,14,705,14,705,103,691,30,588,...,2,112,4,110,1,106,1,105,1,104
충남,16,1182,19,1166,19,1166,24,1147,16,1123,...,4,332,20,328,7,308,7,301,7,294
전북,11,613,29,602,29,602,13,573,12,560,...,2,62,0,60,0,60,0,60,0,60
전남,8,453,4,445,4,445,5,441,5,436,...,0,129,1,129,5,128,3,123,4,120
경북,48,1938,23,1890,23,1890,29,1867,31,1838,...,0,1426,4,1426,0,1422,3,1422,5,1419
경남,15,967,49,952,49,952,32,903,43,871,...,8,187,3,179,0,176,0,176,3,176
제주,23,224,24,201,24,201,24,177,27,153,...,1,32,0,31,0,31,1,31,1,30

In [109]:
data1.to_csv('2020-12-21_2020-09-01.csv', encoding = 'euc-kr', index = False)

### 2020.08.31 ~ 2020.07.20
### 7.19 부터 표 형식 바뀜

In [112]:
# 일별 확진자 수 테이블 생성
# link index (359620, 355477)

data = pd.DataFrame()
for idx in range(359620, 355477, -1):   # 2020.08.31 ~ 2020.07.20
    
    k = pd.DataFrame()  # 초기화
    #driver.get('http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq={}&contSeq={}&board_id=312&gubun=ALL'.format(idx, idx))
    response = requests.get('http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq={}&contSeq={}&board_id=&gubun=ALL'.format(idx, idx))
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # root = lxml.html.fromstring(response.content)

    # 제목
    # title = soup.select('#content > div > div.board_view > div.bv_content > div.bvc_txt > p > p:nth-child(1)')  # 제목 (인덱스용)
    #vaccine = soup.select('#content > div > div.board_view > div.bv_content > div > p > table:nth-child(10)')
    #print(vaccine)
    
    title = soup.select('h4')  ## 찐 제목
    #title = soup.find('div', {'class': 'bv_ttl'})
    title = str(title)
    print(title.find('0시'))
    
    if ('0시' in title) and ('국내 발생 현황' in title):   ## '코로나19 국내 발생 및 예방접종 현황(9.14., 0시 기준)' 제목형식과 일치할때
        print(title)
        # 국내 발생 확진자 현황 테이블 가져오기
        
        lst = soup.select('table')

        if len(lst) != 0:    # 테이블이 하나라도 존재할때
            for i in range(len(lst)):   # 테이블 개수만큼 검사
                tmp = str(lst[i])    # i번째 테이블 담기
                table_df_list = pd.read_html(tmp)
                table_df_tmp = table_df_list[0]  
                #print(table_df_tmp)
        
                if (len(table_df_tmp) == 2) and (len(table_df_tmp.columns) == 19): # 행 개수 3개, 칼럼 개수 10개 이상 만족하는 테이블 확진자밖에 없음
                    table_df = table_df_tmp
                    break;

        k = table_df.transpose()
        k = k.rename(columns = k.iloc[0])
        # print(k)
        # k.drop([0], axis = 0, inplace = True)

        colname1 = title[29:37] + ' ' + '신규'
        colname2 = title[29:37] + ' ' + '누계'
        print(colname1)

        k.rename(columns = {'신규' : colname1, '누계' : colname2}, inplace = True)
        # k.drop(['구분'], axis = 1, inplace = True)
        
        data = pd.concat([data, k], axis = 1)
   
        print(response.url)

36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 31일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 31일 0시)</h4>]
8월 31일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359620&contSeq=359620&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 30일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 30일 0시)</h4>]
8월 30일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359592&contSeq=359592&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
28
[<h4>코로나바이러스감염증-19 국내 발생 현황(0시 기준)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 28일 0시)</h4>]
시 기준)</h 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359410&contSeq=359410&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
77
[<h4>코로나바이러스감염증-19 국내 발생 현황 (정례브리핑)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 27일 0시)</h4>]
정례브리핑)</ 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359203&contSeq=359203&board_id=&gubun=ALL
-1
28
[<h4>코로나바이러스감염증-19 국내 발생 현황(0시 기준)</h4>, <h4> 코로나바이러스감염증-19 국내 발생 현황 (8월 27일 0시)</h4>]
시 기준)</h 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359201&contSeq=359201&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 26일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 26일 0시)</h4>]
8월 26일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359176&contSeq=359176&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
28
[<h4>코로나바이러스감염증-19 국내 발생 현황(0시 기준)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 25일 0시)</h4>]
시 기준)</h 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359149&contSeq=359149&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 24일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 24일 0시)</h4>]
8월 24일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359133&contSeq=359133&board_id=&gubun=ALL
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 23일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 23일 0시)</h4>]
8월 23일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359130&contSeq=359130&board_id=&gubun=ALL
-1
-1
-1
-1
-1
34
[<h4>코로나바이러스감염증-19 국내 발생 현황(8.22, 0시 기준)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 22일 0시)</h4>]
.22, 0시  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359124&contSeq=359124&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 21일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 21일 0시)</h4>]
8월 21일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359113&contSeq=359113&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
34
[<h4>코로나바이러스감염증-19 국내 발생 현황(8.20, 0시 기준)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 20일 0시)</h4>]
.20, 0시  신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359102&contSeq=359102&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
84
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 19일 정례브리핑)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 19일 0시)</h4>]
8월 19일 정 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359083&contSeq=359083&board_id=&gubun=ALL
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 19일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 19일 0시)</h4>]
8월 19일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359077&contSeq=359077&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 18일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 18일 0시)</h4>]
8월 18일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359047&contSeq=359047&board_id=&gubun=ALL
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 17일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 17일 0시)</h4>]
8월 17일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359042&contSeq=359042&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 16일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 16일 0시)</h4>]
8월 16일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359032&contSeq=359032&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 15일 0시)</h4>, <h4> 코로나바이러스감염증-19 국내 발생 현황 (8월 15일 0시)</h4>]
8월 15일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359024&contSeq=359024&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 14일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 14일 0시)</h4>]
8월 14일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=359011&contSeq=359011&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 13일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 13일 0시)</h4>]
8월 13일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=358997&contSeq=358997&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 12일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 12일 0시)</h4>]
8월 12일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=358969&contSeq=358969&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 11일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 11일 0시)</h4>]
8월 11일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=358960&contSeq=358960&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
84
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 10일 정례브리핑)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 10일 0시)</h4>]
8월 10일 정 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=358944&contSeq=358944&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 10일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 10일 0시)</h4>]
8월 10일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=358936&contSeq=358936&board_id=&gubun=ALL
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 9일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 9일 0시)</h4>]
8월 9일 0시 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=358932&contSeq=358932&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 8일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 8일 0시)</h4>]
8월 8일 0시 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=358924&contSeq=358924&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 7일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 7일 0시)</h4>]
8월 7일 0시 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=358904&contSeq=358904&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 6일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 6일 0시)</h4>]
8월 6일 0시 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=358893&contSeq=358893&board_id=&gubun=ALL
-1

-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 5일 0시)</h4>, <h4> 코로나바이러스감염증-19 국내 발생 현황 (8월 5일 0시)</h4>]
8월 5일 0시 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=358871&contSeq=358871&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 4일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 4일 0시)</h4>]
8월 4일 0시 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=358858&contSeq=358858&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 3일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 3일 0시)</h4>]
8월 3일 0시 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=358837&contSeq=358837&board_id=&gubun=ALL
-1
-1
-1
-1
82
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 2일 정례브리핑)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 2일 0시)</h4>]
8월 2일 정례 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=358832&contSeq=358832&board_id=&gubun=ALL
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 2일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 2일 0시)</h4>]
8월 2일 0시 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=358830&contSeq=358830&board_id=&gubun=ALL
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (8월 1일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (8월 1일 0시)</h4>]
8월 1일 0시 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=358826&contSeq=358826&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 31일 0시)</h4>]
7월 31일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=358801&contSeq=358801&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 30일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 30일 0시)</h4>]
7월 30일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=358779&contSeq=358779&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 29일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 29일 0시)</h4>]
7월 29일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=358765&contSeq=358765&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 28일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 28일 0시)</h4>]
7월 28일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=358747&contSeq=358747&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
84
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 27일 정례브리핑)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 27일 0시)</h4>]
7월 27일 정 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=357735&contSeq=357735&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 27일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 27일 0시)</h4>]
7월 27일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=357435&contSeq=357435&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 26일 0시)</h4>, <h4> 코로나바이러스감염증-19 국내 발생 현황 (7월 26일 0시)</h4>]
7월 26일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=357210&contSeq=357210&board_id=&gubun=ALL
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 25일 0시)</h4>]
7월 25일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=357207&contSeq=357207&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1

-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
84
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 24일 정례브리핑)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 24일 0시)</h4>]
7월 24일 정 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=356155&contSeq=356155&board_id=&gubun=ALL
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 24일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 24일 0시)</h4>]
7월 24일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=356149&contSeq=356149&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
84
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 23일 정례브리핑)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 23일 0시)</h4>]
7월 23일 정 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355761&contSeq=355761&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 23일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 23일 0시)</h4>]
7월 23일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355550&contSeq=355550&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
84
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 22일 정례브리핑)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 22일 0시)</h4>]
7월 22일 정 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355523&contSeq=355523&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 22일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 22일 0시)</h4>]
7월 22일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355510&contSeq=355510&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 21일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 21일 0시)</h4>]
7월 21일 0 신규
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355493&contSeq=355493&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1

In [113]:
data

,8월 31일 0 신규,8월 31일 0 누계,8월 30일 0 신규,8월 30일 0 누계,시 기준)</h 신규,시 기준)</h 누계,정례브리핑)</ 신규,정례브리핑)</ 누계,시 기준)</h 신규,시 기준)</h 누계,...,7월 23일 정 신규,7월 23일 정 누계,7월 23일 0 신규,7월 23일 0 누계,7월 22일 정 신규,7월 22일 정 누계,7월 22일 0 신규,7월 22일 0 누계,7월 21일 0 신규,7월 21일 0 누계
구분,신규,누계,신규,누계,신규,누계,신규,누계,신규,누계,...,신규,누계,신규,누계,신규,누계,신규,누계,신규,누계
합계,238,17124,283,16886,359,16295,434,15936,434,15936,...,39,11793,39,11793,29,"11,754**",29,"11,754**",20,11724
서울,91,3480,114,3389,145,3151,154,3006,154,3006,...,11,1198,11,1198,16,1187,16,1187,18,1171
부산,4,256,6,252,8,241,8,233,8,233,...,0,119,0,119,0,119,0,119,0,119
대구,4,6978,30,6974,8,6939,12,6931,12,6931,...,0,6881,0,6881,0,"6,881**",0,"6,881**",0,6880
인천,13,631,12,618,27,586,59,559,59,559,...,2,302,2,302,4,300,4,300,0,296
광주,9,330,2,321,17,305,39,288,39,288,...,9,176,9,176,1,167,1,167,0,166
대전,6,232,6,226,3,216,3,213,3,213,...,0,147,0,147,0,147,0,147,0,147
울산,5,58,3,53,1,50,2,49,2,49,...,0,34,0,34,0,34,0,34,0,34
세종,1,58,1,57,2,56,0,54,0,54,...,0,45,0,45,0,45,0,45,0,45
경기,79,2755,77,2676,112,2499,100,2387,100,2387,...,17,1100,17,1100,8,1083,8,1083,1,1075
강원,3,164,2,161,3,159,14,156,14,156,...,0,51,0,51,0,51,0,51,0,51
충북,0,103,5,103,5,92,1,87,1,87,...,0,56,0,56,0,56,0,56,0,56
충남,9,287,5,278,9,265,15,256,15,256,...,0,159,0,159,0,159,0,159,0,159
전북,1,60,0,59,2,59,2,57,2,57,...,0,18,0,18,0,18,0,18,0,18
전남,5,116,8,111,12,94,13,82,13,82,...,0,17,0,17,0,17,0,17,0,17
경북,2,1414,3,1412,1,1409,3,1408,3,1408,...,0,1369,0,1369,0,1369,0,1369,0,1369
경남,1,173,7,172,2,153,8,151,8,151,...,0,110,0,110,0,110,0,110,0,110
제주,5,29,2,24,2,21,1,19,1,19,...,0,11,0,11,0,11,0,11,1,11

In [114]:
data1 = data.drop(['구분'], axis = 0)
data1

,8월 31일 0 신규,8월 31일 0 누계,8월 30일 0 신규,8월 30일 0 누계,시 기준)</h 신규,시 기준)</h 누계,정례브리핑)</ 신규,정례브리핑)</ 누계,시 기준)</h 신규,시 기준)</h 누계,...,7월 23일 정 신규,7월 23일 정 누계,7월 23일 0 신규,7월 23일 0 누계,7월 22일 정 신규,7월 22일 정 누계,7월 22일 0 신규,7월 22일 0 누계,7월 21일 0 신규,7월 21일 0 누계
합계,238,17124,283,16886,359,16295,434,15936,434,15936,...,39,11793,39,11793,29,"11,754**",29,"11,754**",20,11724
서울,91,3480,114,3389,145,3151,154,3006,154,3006,...,11,1198,11,1198,16,1187,16,1187,18,1171
부산,4,256,6,252,8,241,8,233,8,233,...,0,119,0,119,0,119,0,119,0,119
대구,4,6978,30,6974,8,6939,12,6931,12,6931,...,0,6881,0,6881,0,"6,881**",0,"6,881**",0,6880
인천,13,631,12,618,27,586,59,559,59,559,...,2,302,2,302,4,300,4,300,0,296
광주,9,330,2,321,17,305,39,288,39,288,...,9,176,9,176,1,167,1,167,0,166
대전,6,232,6,226,3,216,3,213,3,213,...,0,147,0,147,0,147,0,147,0,147
울산,5,58,3,53,1,50,2,49,2,49,...,0,34,0,34,0,34,0,34,0,34
세종,1,58,1,57,2,56,0,54,0,54,...,0,45,0,45,0,45,0,45,0,45
경기,79,2755,77,2676,112,2499,100,2387,100,2387,...,17,1100,17,1100,8,1083,8,1083,1,1075
강원,3,164,2,161,3,159,14,156,14,156,...,0,51,0,51,0,51,0,51,0,51
충북,0,103,5,103,5,92,1,87,1,87,...,0,56,0,56,0,56,0,56,0,56
충남,9,287,5,278,9,265,15,256,15,256,...,0,159,0,159,0,159,0,159,0,159
전북,1,60,0,59,2,59,2,57,2,57,...,0,18,0,18,0,18,0,18,0,18
전남,5,116,8,111,12,94,13,82,13,82,...,0,17,0,17,0,17,0,17,0,17
경북,2,1414,3,1412,1,1409,3,1408,3,1408,...,0,1369,0,1369,0,1369,0,1369,0,1369
경남,1,173,7,172,2,153,8,151,8,151,...,0,110,0,110,0,110,0,110,0,110
제주,5,29,2,24,2,21,1,19,1,19,...,0,11,0,11,0,11,0,11,1,11

In [115]:
data1.to_csv('2020-08-31_2020-07-21.csv', encoding = 'euc-kr', index = False)

### 2020.07.19 ~ 2020.04.13
#### 테이블 형식 바뀜 (열 늘었음)
#### 테이블 열 개수대로 돌면서 생성할 수 있도록 수정
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355466&contSeq=355466&board_id=&gubun=ALL

In [127]:
# 일별 확진자 수 테이블 생성
# link index (355466, 354033)  # 2020.07.19 ~ 2020.04.12

data = pd.DataFrame()
for idx in range(355466, 354033, -1):   # 2020.07.19 ~ 2020.04.12
    
    k = pd.DataFrame()  # 초기화
    #driver.get('http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq={}&contSeq={}&board_id=312&gubun=ALL'.format(idx, idx))
    response = requests.get('http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq={}&contSeq={}&board_id=&gubun=ALL'.format(idx, idx))
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # root = lxml.html.fromstring(response.content)

    # 제목
    # title = soup.select('#content > div > div.board_view > div.bv_content > div.bvc_txt > p > p:nth-child(1)')  # 제목 (인덱스용)
    #vaccine = soup.select('#content > div > div.board_view > div.bv_content > div > p > table:nth-child(10)')
    #print(vaccine)
    
    title = soup.select('h4')  ## 찐 제목
    #title = soup.find('div', {'class': 'bv_ttl'})
    title = str(title)
    print(title.find('0시'))
    
    if ('0시' in title) and ('국내 발생 현황' in title) and ('정례브리핑' not in title):   ## '코로나19 국내 발생 및 예방접종 현황(9.14., 0시 기준)' 제목형식과 일치할때
        print(title)
        # 국내 발생 확진자 현황 테이블 가져오기
        
        lst = soup.select('table')

        if len(lst) != 0:    # 테이블이 하나라도 존재할때
            for i in range(len(lst)):   # 테이블 개수만큼 검사
                tmp = str(lst[i])    # i번째 테이블 담기
                table_df_list = pd.read_html(tmp)
                table_df_tmp = table_df_list[0]  
                #print(table_df_tmp)
        
                if (len(table_df_tmp.columns) == 19): # 행 개수 3개, 칼럼 개수 10개 이상 만족하는 테이블 확진자밖에 없음
                    table_df = table_df_tmp
                    break;

        k = table_df.transpose()
        k = k.rename(columns = k.iloc[0])
        # print(k.columns[0])
        # k.drop([0], axis = 0, inplace = True)
        
        for i in range(len(k.columns)): 
            k.rename(columns = {k.columns[i] : title[29:37] + ' ' + k.columns[i]}, inplace = True)

#         colname1 = title[29:37] + ' ' + '신규'
#         colname2 = title[29:37] + ' ' + '누계'
#         print(colname1)

        # k.rename(columns = {'신규' : colname1, '누계' : colname2}, inplace = True)
        # k.drop(['구분'], axis = 1, inplace = True)
        
        data = pd.concat([data, k], axis = 1)
   
        print(response.url)

36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 19일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 19일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355466&contSeq=355466&board_id=&gubun=ALL
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 18일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 18일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355464&contSeq=355464&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 17일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 17일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355453&contSeq=355453&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 16일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 16일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355439&contSeq=355439&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 15일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 15일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355424&contSeq=355424&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 14일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 14일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355401&contSeq=355401&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 13일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 13일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355380&contSeq=355380&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 12일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 12일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355371&contSeq=355371&board_id=&gubun=ALL
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 11일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 11일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355367&contSeq=355367&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
82
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 9일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 9일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355334&contSeq=355334&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 8일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 8일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355321&contSeq=355321&board_id=&gubun=ALL
-1
-1
-1
82
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 7일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 7일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355310&contSeq=355310&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
82
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 6일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 6일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355296&contSeq=355296&board_id=&gubun=ALL
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 5일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 5일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355290&contSeq=355290&board_id=&gubun=ALL
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 4일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 4일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355286&contSeq=355286&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 3일 0시)</h4>, <h4> 코로나바이러스감염증-19 국내 발생 현황 (7월 3일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355269&contSeq=355269&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
82
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 2일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 2일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355250&contSeq=355250&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (7월 1일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (7월 1일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355235&contSeq=355235&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 30일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 30일 0시) </h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355208&contSeq=355208&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 29일 0시)</h4>, <h4> 코로나바이러스감염증-19 국내 발생 현황 (6월 29일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355174&contSeq=355174&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 28일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 28일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355165&contSeq=355165&board_id=&gubun=ALL
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 27일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 27일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355162&contSeq=355162&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 26일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 26일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355154&contSeq=355154&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 25일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 25일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355140&contSeq=355140&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
84
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 24일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 24일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355112&contSeq=355112&board_id=&gubun=ALL
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 23일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 23일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355106&contSeq=355106&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 22일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 22일 0시) </h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355089&contSeq=355089&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 21일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 21일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355081&contSeq=355081&board_id=&gubun=ALL
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 20일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 20일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355076&contSeq=355076&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 19일 0시)</h4>, <h4> 코로나바이러스감염증-19 국내 발생 현황 (6월 19일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355061&contSeq=355061&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
84
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 18일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 18일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355044&contSeq=355044&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 17일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 17일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355030&contSeq=355030&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
85
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 16일 0시)</h4>, <h4> 코로나바이러스감염증-19 국내 발생 현황 (6월 16일 0시) </h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355016&contSeq=355016&board_id=&gubun=ALL
-1

-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 15일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 15일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=355003&contSeq=355003&board_id=&gubun=ALL
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 14일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 14일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354997&contSeq=354997&board_id=&gubun=ALL
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 13일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 13일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354994&contSeq=354994&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 12일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 12일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354979&contSeq=354979&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 11일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 11일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354964&contSeq=354964&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
84
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 10일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 10일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354947&contSeq=354947&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 9일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 9일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354925&contSeq=354925&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 8일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 8일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354914&contSeq=354914&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
76
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 7일)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 7일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354907&contSeq=354907&board_id=&gubun=ALL
-1
-1
35
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 6일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 6일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354902&contSeq=354902&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 5일 0시)</h4>, <h4> 코로나바이러스감염증-19 국내 발생 현황 (6월 5일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354889&contSeq=354889&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 4일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 4일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354866&contSeq=354866&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 3일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 3일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354844&contSeq=354844&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 2일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 2일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354830&contSeq=354830&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (6월 1일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (6월 1일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354810&contSeq=354810&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 31일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 31일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354802&contSeq=354802&board_id=&gubun=ALL
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 30일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 30일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354797&contSeq=354797&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 29일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 29일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354784&contSeq=354784&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
83
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 28일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 28일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354763&contSeq=354763&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
84
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 27일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 27일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354736&contSeq=354736&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 26일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 26일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354711&contSeq=354711&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
84
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 25일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 25일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354685&contSeq=354685&board_id=&gubun=ALL
-1
-1
-1
-1
78
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 24일)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 24일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354680&contSeq=354680&board_id=&gubun=ALL
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 24일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 24일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354676&contSeq=354676&board_id=&gubun=ALL
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 23일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 23일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354674&contSeq=354674&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 22일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 22일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354659&contSeq=354659&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 21일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 21일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354632&contSeq=354632&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 20일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 20일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354615&contSeq=354615&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 19일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 19일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354602&contSeq=354602&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 18일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 18일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354589&contSeq=354589&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 17일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 17일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354577&contSeq=354577&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 16일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 16일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354570&contSeq=354570&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 15일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 15일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354552&contSeq=354552&board_id=&gubun=ALL

-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 14일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 14일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354534&contSeq=354534&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 13일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 13일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354515&contSeq=354515&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 12일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 12일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354489&contSeq=354489&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 11일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 11일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354460&contSeq=354460&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 10일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 10일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354450&contSeq=354450&board_id=&gubun=ALL
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 9일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 9일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354446&contSeq=354446&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
83
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 8일 0시)</h4>, <h4> 코로나바이러스감염증-19 국내 발생 현황 (5월 8일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354423&contSeq=354423&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
82
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 7일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 7일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354401&contSeq=354401&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 6일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 6일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354375&contSeq=354375&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 5일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 5일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354358&contSeq=354358&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
82
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 4일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 4일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354340&contSeq=354340&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 3일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 3일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354332&contSeq=354332&board_id=&gubun=ALL
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 2일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 2일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354327&contSeq=354327&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (5월 1일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (5월 1일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354317&contSeq=354317&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 30일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 30일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354309&contSeq=354309&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 29일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 29일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354270&contSeq=354270&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 28일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 28일 0시)
    </h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354248&contSeq=354248&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
84
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 27일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 27일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354227&contSeq=354227&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 26일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 26일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354217&contSeq=354217&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 25일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 25일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354208&contSeq=354208&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 24일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 24일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354193&contSeq=354193&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
84
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 23일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 23일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354177&contSeq=354177&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
84
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 22일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 22일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354160&contSeq=354160&board_id=&gubun=ALL
-1
-1
-1
-1
84
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 21일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 21일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354142&contSeq=354142&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
84
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 20일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 20일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354118&contSeq=354118&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 19일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 19일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354106&contSeq=354106&board_id=&gubun=ALL
84
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 18일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 18일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354103&contSeq=354103&board_id=&gubun=ALL
-1
-1
-1
84
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 17일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 17일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354092&contSeq=354092&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 16일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 16일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354075&contSeq=354075&board_id=&gubun=ALL
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 15일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 15일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354072&contSeq=354072&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
84
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 14일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 14일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354056&contSeq=354056&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 13일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 13일 0시)</h4>]
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354041&contSeq=354041&board_id=&gubun=ALL

-1
-1
-1
-1
-1
84
-1

In [128]:
data

,7월 19일 0 신규,7월 19일 0 누계,7월 18일 0 신규,7월 18일 0 누계,7월 17일 0 신규,7월 17일 0 누계,7월 16일 0 신규,7월 16일 0 누계,7월 15일 0 신규,7월 15일 0 누계,...,4월 17일 0 신규,4월 17일 0 누계,4월 16일 0 신규,4월 16일 0 누계,4월 15일 0 신규,4월 15일 0 누계,4월 14일 0 신규,4월 14일 0 누계,4월 13일 0 신규,4월 13일 0 누계
구분,신규,누계,신규,누계,신규,누계,신규,누계,신규,누계,...,신규,누계,신규,누계,신규,누계,신규,누계,신규,누계
합계,20,11724,20,11724,20,11724,20,11724,20,11724,...,20,11724,20,11724,20,11724,20,11724,20,11724
서울,18,1171,18,1171,18,1171,18,1171,18,1171,...,18,1171,18,1171,18,1171,18,1171,18,1171
부산,0,119,0,119,0,119,0,119,0,119,...,0,119,0,119,0,119,0,119,0,119
대구,0,6880,0,6880,0,6880,0,6880,0,6880,...,0,6880,0,6880,0,6880,0,6880,0,6880
인천,0,296,0,296,0,296,0,296,0,296,...,0,296,0,296,0,296,0,296,0,296
광주,0,166,0,166,0,166,0,166,0,166,...,0,166,0,166,0,166,0,166,0,166
대전,0,147,0,147,0,147,0,147,0,147,...,0,147,0,147,0,147,0,147,0,147
울산,0,34,0,34,0,34,0,34,0,34,...,0,34,0,34,0,34,0,34,0,34
세종,0,45,0,45,0,45,0,45,0,45,...,0,45,0,45,0,45,0,45,0,45
경기,1,1075,1,1075,1,1075,1,1075,1,1075,...,1,1075,1,1075,1,1075,1,1075,1,1075
강원,0,51,0,51,0,51,0,51,0,51,...,0,51,0,51,0,51,0,51,0,51
충북,0,56,0,56,0,56,0,56,0,56,...,0,56,0,56,0,56,0,56,0,56
충남,0,159,0,159,0,159,0,159,0,159,...,0,159,0,159,0,159,0,159,0,159
전북,0,18,0,18,0,18,0,18,0,18,...,0,18,0,18,0,18,0,18,0,18
전남,0,17,0,17,0,17,0,17,0,17,...,0,17,0,17,0,17,0,17,0,17
경북,0,1369,0,1369,0,1369,0,1369,0,1369,...,0,1369,0,1369,0,1369,0,1369,0,1369
경남,0,110,0,110,0,110,0,110,0,110,...,0,110,0,110,0,110,0,110,0,110
제주,1,11,1,11,1,11,1,11,1,11,...,1,11,1,11,1,11,1,11,1,11

In [129]:
data1 = data.drop(['구분'], axis = 0)
data1

,7월 19일 0 신규,7월 19일 0 누계,7월 18일 0 신규,7월 18일 0 누계,7월 17일 0 신규,7월 17일 0 누계,7월 16일 0 신규,7월 16일 0 누계,7월 15일 0 신규,7월 15일 0 누계,...,4월 17일 0 신규,4월 17일 0 누계,4월 16일 0 신규,4월 16일 0 누계,4월 15일 0 신규,4월 15일 0 누계,4월 14일 0 신규,4월 14일 0 누계,4월 13일 0 신규,4월 13일 0 누계
합계,20,11724,20,11724,20,11724,20,11724,20,11724,...,20,11724,20,11724,20,11724,20,11724,20,11724
서울,18,1171,18,1171,18,1171,18,1171,18,1171,...,18,1171,18,1171,18,1171,18,1171,18,1171
부산,0,119,0,119,0,119,0,119,0,119,...,0,119,0,119,0,119,0,119,0,119
대구,0,6880,0,6880,0,6880,0,6880,0,6880,...,0,6880,0,6880,0,6880,0,6880,0,6880
인천,0,296,0,296,0,296,0,296,0,296,...,0,296,0,296,0,296,0,296,0,296
광주,0,166,0,166,0,166,0,166,0,166,...,0,166,0,166,0,166,0,166,0,166
대전,0,147,0,147,0,147,0,147,0,147,...,0,147,0,147,0,147,0,147,0,147
울산,0,34,0,34,0,34,0,34,0,34,...,0,34,0,34,0,34,0,34,0,34
세종,0,45,0,45,0,45,0,45,0,45,...,0,45,0,45,0,45,0,45,0,45
경기,1,1075,1,1075,1,1075,1,1075,1,1075,...,1,1075,1,1075,1,1075,1,1075,1,1075
강원,0,51,0,51,0,51,0,51,0,51,...,0,51,0,51,0,51,0,51,0,51
충북,0,56,0,56,0,56,0,56,0,56,...,0,56,0,56,0,56,0,56,0,56
충남,0,159,0,159,0,159,0,159,0,159,...,0,159,0,159,0,159,0,159,0,159
전북,0,18,0,18,0,18,0,18,0,18,...,0,18,0,18,0,18,0,18,0,18
전남,0,17,0,17,0,17,0,17,0,17,...,0,17,0,17,0,17,0,17,0,17
경북,0,1369,0,1369,0,1369,0,1369,0,1369,...,0,1369,0,1369,0,1369,0,1369,0,1369
경남,0,110,0,110,0,110,0,110,0,110,...,0,110,0,110,0,110,0,110,0,110
제주,1,11,1,11,1,11,1,11,1,11,...,1,11,1,11,1,11,1,11,1,11

In [130]:
data1.to_csv('2020-07-19_2020-04-13.csv', encoding = 'euc-kr', index = False)

### 2020.4.11 ~ 2020.03.17
### 제목에 '0시' 있는 형식 3/2일까지임
#### '제주' 두종류 있음 --> '제주' , '제 주' --> 4/12일만 --> 빼고하자 걍

In [41]:
# 일별 확진자 수 테이블 생성
# link index (354033, 353271)  # 2020.04.12 ~ 2020.03.02

data = pd.DataFrame()
for idx in range(354031, 353271, -1):   # 2020.04.12 ~ 2020.03.02
    
    k = pd.DataFrame()  # 초기화
    #driver.get('http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq={}&contSeq={}&board_id=312&gubun=ALL'.format(idx, idx))
    response = requests.get('http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq={}&contSeq={}&board_id=&gubun=ALL'.format(idx, idx))
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # root = lxml.html.fromstring(response.content)

    # 제목
    # title = soup.select('#content > div > div.board_view > div.bv_content > div.bvc_txt > p > p:nth-child(1)')  # 제목 (인덱스용)
    #vaccine = soup.select('#content > div > div.board_view > div.bv_content > div > p > table:nth-child(10)')
    #print(vaccine)
    
    title = soup.select('h4')  ## 찐 제목
    #title = soup.find('div', {'class': 'bv_ttl'})
    title = str(title)
    print(title.find('0시'))
    
    if ('0시' in title) and ('국내 발생 현황' in title) and ('정례브리핑' not in title):   ## '코로나19 국내 발생 및 예방접종 현황(9.14., 0시 기준)' 제목형식과 일치할때
        print(title)
        # 국내 발생 확진자 현황 테이블 가져오기
        
        lst = soup.select('table')

        if len(lst) != 0:    # 테이블이 하나라도 존재할때
            for i in range(len(lst)):   # 테이블 개수만큼 검사
                tmp = str(lst[i])    # i번째 테이블 담기
                table_df_list = pd.read_html(tmp)
                table_df_tmp = table_df_list[0]  
                #print(table_df_tmp)
        
                if (len(table_df_tmp.columns) > 15): # 행 개수 3개, 칼럼 개수 10개 이상 만족하는 테이블 확진자밖에 없음
                    table_df = table_df_tmp
                    break;

        table_df.drop([len(table_df) - 1], axis = 0, inplace = True)
        k = table_df.transpose()
        k = k.rename(columns = k.iloc[0])
        k.drop(['구분'], axis = 0, inplace = True)
        #k.drop([0], axis = 0, inplace = True)
        print(k)
        
        for i in range(len(k.columns)): 
            k.rename(columns = {k.columns[i] : title[29:37] + ' ' + k.columns[i]}, inplace = True)

#         colname1 = title[29:37] + ' ' + '신규'
#         colname2 = title[29:37] + ' ' + '누계'
#         print(colname1)

        # k.rename(columns = {'신규' : colname1, '누계' : colname2}, inplace = True)
        
        data = pd.concat([data, k], axis = 1)
   
        print(response.url)

-1
84
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 11일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 11일 0시)</h4>]
     격리중  격리해제   사망     합계  신규 해외유입(잠정) 지역발생(잠정)
합계  3026  7243  211  10480  30       12       18
서울   402   195    2    599   4        1        3
부산    23   100    3    126   0        0        0
대구  1398  5271  145   6814   7        1        6
인천    50    35    0     85   0        0        0
광주    10    17    0     27   0        0        0
대전    17    22    0     39   0        0        0
울산    10    30    1     41   1        1        0
세종    26    20    0     46   0        0        0
경기   327   286   11    624   9        3        6
강원    22    26    1     49   0        0        0
충북    17    28    0     45   0        0        0
충남    32   106    0    138   0        0        0
전북     9     8    0     17   0        0        0
전남    10     5    0     15   0        0        0
경북   278  1004   48   1330   3        0        3
경남    32    83    0    115   0        0        0
제주     8     4    0     12   0        0        0
검역   355     3    0    358   6        6        0
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354028&contSeq=354028&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
84
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 10일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 10일 0시)</h4>]
     격리중  격리해제   사망    합계* 전일대비변동* 해외유입(잠정) 지역발생(잠정)
합계  3125  7117  208  10450      27        5       22
서울   408   185    2    595       5        0        5
부산    25    98    3    126       1        0        1
대구  1472  5193  142   6807       0        0        0
인천    51    34    0     85       1        0        1
광주    12    15    0     27       0        0        0
대전    18    21    0     39       0        0        0
울산    11    28    1     40       0        0        0
세종    26    20    0     46       0        0        0
경기   335   269   11    615       9        1        8
강원    22    26    1     49       0        0        0
충북    17    28    0     45       0        0        0
충남    33   105    0    138       0        0        0
전북     9     8    0     17       0        0        0
전남    11     4    0     15       0        0        0
경북   285   994   48   1327       7        0        7
경남    33    82    0    115       0        0        0
제주     8     4    0     12       0        0        0
검역   349     3    0    352       4        4        0
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354013&contSeq=354013&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 9일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 9일 0시)</h4>]
     격리중  격리해제   사망    합계* 전일대비변동* 해외유입(잠정) 지역발생(잠정)
합계  3246  6973  204  10423      39       23       16
서울   414   174    2    590      12        7        5
부산    25    97    3    125       0        0        0
대구  1562  5106  139   6807       4        0        4
인천    53    31    0     84       0        0        0
광주    12    15    0     27       0        0        0
대전    19    20    0     39       0        0        0
울산    11    28    1     40       0        0        0
세종    30    16    0     46       0        0        0
경기   336   259   11    606      10        5        5
강원    24    24    1     49       0        0        0
충북    15    30    0     45       0        0        0
충남    33   105    0    138       1        0        1
전북    10     7    0     17       0        0        0
전남    11     4    0     15       0        0        0
경북   305   968   47   1320       0        0        0
경남    33    82    0    115       2        1        1
제주     8     4    0     12       0        0        0
검역   345     3    0    348      10       10        0
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353992&contSeq=353992&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 8일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 8일 0시)</h4>]
     격리중  격리해제   사망    합계* 전일대비변동* 해외유입(잠정) 지역발생(잠정)
합계  3408  6776  200  10384      53       24       29
서울   407   169    2    578      11        6        5
부산    28    94    3    125       2        2        0
대구  1705  4961  137   6803       9        0        9
인천    57    27    0     84       4        0        4
광주    12    15    0     27       0        0        0
대전    19    20    0     39       0        0        0
울산    11    28    1     40       0        0        0
세종    32    14    0     46       0        0        0
경기   349   237   10    596       6        1        5
강원    24    24    1     49       2        0        2
충북    16    29    0     45       0        0        0
충남    31   106    0    137       0        0        0
전북    10     7    0     17       1        1        0
전남    11     4    0     15       0        0        0
경북   320   954   46   1320       3        0        3
경남    33    80    0    113       1        0        1
제주     8     4    0     12       0        0        0
검역   335     3    0    338      14       14        0
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353974&contSeq=353974&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 7일 0시)</h4>]
     격리중  격리해제   사망    합계* 전일대비변동* 해외유입(잠정) 지역발생(잠정)
합계  3445  6694  192  10331      47       17       30
서울   403   164    0    567       4        1        3
부산    29    91    3    123       1        0        1
대구  1742  4918  134   6794      13        1       12
인천    53    27    0     80       0        0        0
광주    12    15    0     27       0        0        0
대전    19    20    0     39       0        0        0
울산    11    28    1     40       0        0        0
세종    29    17    0     46       0        0        0
경기   357   226    7    590      10        1        9
강원    22    24    1     47       2        0        2
충북    16    29    0     45       0        0        0
충남    33   104    0    137       1        0        1
전북     9     7    0     16       0        0        0
전남    11     4    0     15       0        0        0
경북   337   934   46   1317       1        0        1
경남    32    80    0    112       1        0        1
제주     8     4    0     12       0        0        0
검역   322     2    0    324      14       14        0
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353954&contSeq=353954&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
82
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 6일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 6일 0시)</h4>]
     격리중  격리해제   사망    합계* 전일대비변동* 해외유입(잠정) 지역발생(잠정)
합계  3500  6598  186  10284      47       16       31
서울   412   151    0    563      11        5        6
부산    28    91    3    122       0        0        0
대구  1787  4865  129   6781      13        1       12
인천    53    27    0     80       1        0        1
광주    12    15    0     27       0        0        0
대전    20    19    0     39       2        1        1
울산    12    27    1     40       0        0        0
세종    29    17    0     46       0        0        0
경기   360   213    7    580       8        2        6
강원    21    23    1     45       0        0        0
충북    16    29    0     45       0        0        0
충남    34   102    0    136       1        0        1
전북     9     7    0     16       0        0        0
전남    11     4    0     15       0        0        0
경북   349   922   45   1316       2        0        2
경남    31    80    0    111       2        0        2
제주     8     4    0     12       0        0        0
검역   308     2    0    310       7        7        0
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353936&contSeq=353936&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 5일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 5일 0시)</h4>]
     격리중  격리해제   사망    합계* 전일대비변동* 해외유입(잠정) 지역발생(잠정)
합계  3591  6463  183  10237      81       40       41
서울   407   145    0    552      24       10       14
부산    29    90    3    122       0        0        0
대구  1868  4773  127   6768       7        1        6
인천    54    25    0     79       2        1        1
광주    12    15    0     27       1        1        0
대전    19    18    0     37       1        0        1
울산    12    27    1     40       0        0        0
세종    31    15    0     46       0        0        0
경기   357   208    7    572      10        1        9
강원    20    24    1     45       3        1        2
충북    17    28    0     45       0        0        0
충남    33   102    0    135       0        0        0
전북     9     7    0     16       1        0        1
전남    11     4    0     15       0        0        0
경북   371   899   44   1314       4        0        4
경남    32    77    0    109       1        0        1
제주     8     4    0     12       3        1        2
검역   301     2    0    303      24       24        0
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353925&contSeq=353925&board_id=&gubun=ALL
-1

-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 4일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 4일 0시)</h4>]
     격리중  격리해제   사망    합계* 전일대비변동* 해외유입(잠정) 지역발생(잠정)
합계  3654  6325  177  10156      94       32       62
서울   384   144    0    528      22       12       10
부산    29    90    3    122       0        0        0
대구  1966  4673  122   6761      27        1       26
인천    55    22    0     77       3        2        1
광주    11    15    0     26       0        0        0
대전    18    18    0     36       0        0        0
울산    15    24    1     40       0        0        0
세종    31    15    0     46       0        0        0
경기   356   200    6    562      23        2       21
강원    18    23    1     42       1        0        1
충북    18    27    0     45       0        0        0
충남    33   102    0    135       1        0        1
전북     8     7    0     15       0        0        0
전남    11     4    0     15       0        0        0
경북   385   881   44   1310       1        0        1
경남    33    75    0    108       1        0        1
제주     5     4    0      9       0        0        0
검역   278     1    0    279      15       15        0
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353916&contSeq=353916&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 3일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 3일 0시)</h4>]
     격리중  격리해제   사망 합계* (전일대비) 합계* (전일대비)
합계  3867  6021  174      10062       (86)
서울   375   131    0        506       (18)
부산    31    88    3        122          -
대구  2179  4434  121       6734        (9)
인천    53    21    0         74        (1)
광주    11    15    0         26        (1)
대전    18    18    0         36          -
울산    18    21    1         40          -
세종    34    12    0         46          -
경기   347   186    6        539       (23)
강원    17    23    1         41        (2)
충북    20    25    0         45        (1)
충남    37    97    0        134        (1)
전북     8     7    0         15        (1)
전남    12     3    0         15        (1)
경북   402   865   42       1309        (5)
경남    36    71    0        107        (1)
제주     6     3    0          9          -
검역   263     1    0        264       (22)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353880&contSeq=353880&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 2일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 2일 0시)</h4>]
     격리중  격리해제   사망 합계* (전일대비)
합계  3979  5828  169       9976
서울   361   127    0        488
부산    32    87    3        122
대구  2325  4283  117       6725
인천    53    20    0         73
광주    11    14    0         25
대전    18    18    0         36
울산    18    21    1         40
세종    34    12    0         46
경기   329   181    6        516
강원    15    23    1         39
충북    21    23    0         44
충남    38    95    0        133
전북     7     7    0         14
전남    11     3    0         14
경북   423   840   41       1304
경남    36    70    0        106
제주     6     3    0          9
검역   241     1    0        242
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353857&contSeq=353857&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (4월 1일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (4월 1일 0시)</h4>]
     격리중  격리해제   사망 합계* (전일대비)
합계  4155  5567  165       9887
서울   357   117    0        474
부산    32    87    3        122
대구  2519  4070  115       6704
인천    50    19    0         69
광주    10    14    0         24
대전    18    18    0         36
울산    18    20    1         39
세종    34    12    0         46
경기   322   171    6        499
강원    14    23    1         38
충북    21    23    0         44
충남    40    91    0        131
전북     7     7    0         14
전남     9     3    0         12
경북   441   822   39       1302
경남    33    67    0        100
제주     6     3    0          9
검역   224     0    0        224
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353835&contSeq=353835&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 31일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 31일 0시)</h4>]
     격리중  격리해제   사망 합계* (전일대비) 합계* (전일대비)
합계  4216  5408  162       9786      (125)
서울   343   107    0        450       (24)
부산    29    87    3        119        (1)
대구  2624  3946  114       6684       (60)
인천    48    16    0         64        (6)
광주     6    14    0         20          -
대전    18    18    0         36        (2)
울산    20    19    0         39          -
세종    34    12    0         46          -
경기   304   166    6        476       (13)
강원    12    23    1         36          -
충북    22    22    0         44          -
충남    38    90    0        128        (1)
전북     6     7    0         13          -
전남     6     3    0          9          -
경북   454   808   38       1300        (2)
경남    29    67    0         96        (1)
제주     6     3    0          9          -
검역   217     0    0        217       (15)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353813&contSeq=353813&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 30일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 30일 0시)</h4>]
     격리중  격리해제   사망 합계* (전일대비)
합계  4275  5228  158       9661
서울   334    92    0        426
부산    28    87    3        118
대구  2676  3837  111       6624
인천    43    15    0         58
광주     7    13    0         20
대전    17    17    0         34
울산    20    19    0         39
세종    34    12    0         46
경기   298   160    5        463
강원    14    21    1         36
충북    23    21    0         44
충남    44    83    0        127
전북     6     7    0         13
전남     6     3    0          9
경북   488   772   38       1298
경남    30    65    0         95
제주     5     4    0          9
검역   202     0    0        202
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353796&contSeq=353796&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 29일 0시)</h4>, <h4> 코로나바이러스감염증-19 국내 발생 현황 (3월 29일 0시)</h4>]
     격리중  격리해제   사망 합계* (전일대비) 합계* (전일대비)
합계  4398  5033  152       9583      (105)
서울   317    93    0        410       (20)
부산    29    85    3        117        (3)
대구  2798  3706  106       6610       (23)
인천    43    15    0         58        (7)
광주     9    11    0         20        (0)
대전    20    14    0         34        (3)
울산    20    19    0         39        (0)
세종    35    11    0         46        (2)
경기   299   144    5        448       (15)
강원    12    21    1         34        (2)
충북    20    21    0         41        (0)
충남    44    83    0        127        (1)
전북     5     7    0         12        (2)
전남     6     3    0          9        (1)
경북   518   732   37       1287        (2)
경남    30    64    0         94        (3)
제주     4     4    0          8        (0)
검역   189     0    0        189       (21)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353786&contSeq=353786&board_id=&gubun=ALL
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 28일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 28일 0시)</h4>]
     격리중  격리해제   사망 합계* (전일대비) 합계* (전일대비)
합계  4523  4811  144       9478      (146)
서울   297    93    0        390       (18)
부산    31    81    2        114        (1)
대구  2943  3543  101       6587       (71)
인천    37    14    0         51        (5)
광주     9    11    0         20          -
대전    21    10    0         31          -
울산    20    19    0         39          -
세종    35     9    0         44          -
경기   288   140    5        433       (21)
강원    11    20    1         32        (1)
충북    20    21    0         41          -
충남    45    81    0        126        (2)
전북     3     7    0         10          -
전남     5     3    0          8          -
경북   558   692   35       1285        (2)
경남    28    63    0         91          -
제주     4     4    0          8        (1)
검역   168     0    0        168       (24)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353780&contSeq=353780&board_id=&gubun=ALL

-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 27일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 27일 0시)</h4>]
     격리중  격리해제   사망 합계* (전일대비) 합계* (전일대비)
합계  4665  4528  139       9332       (91)
서울   283    89    0        372       (12)
부산    30    81    2        113        (1)
대구  3094  3324   98       6516       (34)
인천    33    13    0         46        (3)
광주     9    11    0         20        (1)
대전    22     9    0         31        (1)
울산    19    20    0         39        (2)
세종    35     9    0         44          -
경기   277   131    4        412       (11)
강원    10    20    1         31          -
충북    24    17    0         41        (2)
충남    46    78    0        124          -
전북     3     7    0         10          -
전남     5     3    0          8          -
경북   599   650   34       1283        (9)
경남    29    62    0         91        (1)
제주     3     4    0          7        (1)
검역   144     0    0        144       (13)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353763&contSeq=353763&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 26일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 26일 0시)</h4>]
     격리중  격리해제   사망 합계* (전일대비) 합계* (전일대비)
합계  4966  4144  131       9241      (104)
서울   280    80    0        360       (13)
부산    35    75    2        112          -
대구  3349  3039   94       6482       (26)
인천    32    11    0         43        (1)
광주     8    11    0         19          -
대전    24     6    0         30        (6)
울산    17    20    0         37          -
세종    36     8    0         44          -
경기   275   122    4        401       (14)
강원    12    18    1         31          -
충북    25    14    0         39        (1)
충남    56    68    0        124        (1)
전북     3     7    0         10          -
전남     5     3    0          8          -
경북   643   601   30       1274       (12)
경남    33    57    0         90          -
제주     2     4    0          6          -
검역   131     0    0        131       (30)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353748&contSeq=353748&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 25일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 25일 0시)</h4>]
     격리중  격리해제   사망 합계* (전일대비) 합계* (전일대비)
합계  5281  3730  126       9137      (100)
서울   275    72    0        347       (13)
부산    38    73    1        112        (1)
대구  3624  2740   92       6456       (14)
인천    32    10    0         42        (1)
광주     8    11    0         19          -
대전    18     6    0         24          -
울산    18    19    0         37        (1)
세종    41     3    0         44        (2)
경기   283   100    4        387       (21)
강원    15    15    1         31        (1)
충북    25    13    0         38          -
충남    58    65    0        123        (3)
전북     3     7    0         10          -
전남     5     3    0          8        (2)
경북   696   538   28       1262        (5)
경남    39    51    0         90          -
제주     2     4    0          6        (2)
검역   101     0    0        101       (34)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353730&contSeq=353730&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 24일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 24일 0시)</h4>]
     격리중  격리해제   사망 합계* (전일대비) 합계* (전일대비)
합계  5410  3507  120       9037       (76)
서울   262    72    0        334        (4)
부산    39    71    1        111        (2)
대구  3783  2571   88       6442       (31)
인천    33     8    0         41        (1)
광주     8    11    0         19          -
대전    18     6    0         24          -
울산    18    18    0         36          -
세종    39     3    0         42          -
경기   265    97    4        366       (15)
강원    15    14    1         30          -
충북    27    11    0         38        (1)
충남    64    56    0        120          -
전북     3     7    0         10          -
전남     3     3    0          6          -
경북   724   507   26       1257        (1)
경남    42    48    0         90        (1)
제주     0     4    0          4          -
검역    67     0    0         67       (20)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353701&contSeq=353701&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 23일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 23일 0시)</h4>]
     격리중  격리해제   사망 합계* (전일대비) 합계* (전일대비)
합계  5684  3166  111       8961       (64)
서울   266    64    0        330        (6)
부산    37    71    1        109        (1)
대구  4024  2305   82       6411       (24)
인천    32     8    0         40          -
광주     9    10    0         19          -
대전    18     6    0         24          -
울산    19    17    0         36          -
세종    39     3    0         42        (1)
경기   260    88    3        351       (14)
강원    15    14    1         30          -
충북    28     9    0         37        (2)
충남    76    44    0        120          -
전북     3     7    0         10          -
전남     3     3    0          6          -
경북   763   469   24       1256        (2)
경남    44    45    0         89        (1)
제주     1     3    0          4          -
검역    47     0    0         47       (13)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353678&contSeq=353678&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 22일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 22일 0시)</h4>]
     격리중  격리해제   사망 합계* (전일대비) 합계* (전일대비)
합계  5884  2909  104       8897       (98)
서울   260    64    0        324       (10)
부산    38    69    1        108          -
대구  4205  2107   75       6387       (43)
인천    32     8    0         40          -
광주     9    10    0         19        (1)
대전    18     6    0         24        (2)
울산    24    12    0         36          -
세종    38     3    0         41          -
경기   252    82    3        337       (16)
강원    16    13    1         30          -
충북    26     9    0         35        (1)
충남    81    39    0        120        (1)
전북     3     7    0         10          -
전남     3     3    0          6        (1)
경북   798   432   24       1254       (11)
경남    46    42    0         88        (1)
제주     1     3    0          4          -
검역    34     0    0         34       (11)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353668&contSeq=353668&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 21일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 21일 0시)</h4>]
      격리중  격리해제   사망 합계* (전일대비) 합계* (전일대비)
합계   6085  2612  102       8799      (147)
서울    250    64    0        314       (15)
부산     40    67    1        108          -
대구   4410  1861   73       6344       (69)
인천     33     7    0         40        (4)
광주      8    10    0         18          -
대전     17     5    0         22          -
울산     25    11    0         36          -
세종     39     2    0         41          -
경기    239    79    3        321       (12)
강원     17    12    1         30          -
충북     26     8    0         34        (1)
충남     80    39    0        119          -
전북      3     7    0         10          -
전남      2     3    0          5          -
경 북   824   395   24       1243       (40)
경남     47    40    0         87          -
제주      2     2    0          4          -
검역     23     0    0         23        (6)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353661&contSeq=353661&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 20일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 20일 0시)</h4>]
     격리중  격리해제  사망 합계* (전일대비) 합계* (전일대비)
합계  6325  2233  94       8652       (87)
서울   235    64   0        299       (17)
부산    47    60   1        108        (1)
대구  4631  1577  67       6275       (34)
인천    29     7   0         36        (4)
광주     8    10   0         18        (1)
대전    17     5   0         22          -
울산    25    11   0         36          -
세종    41     0   0         41          -
경기   240    66   3        309       (14)
강원    19    10   1         30          -
충북    27     6   0         33          -
충남    87    32   0        119        (1)
전북     3     7   0         10          -
전남     2     3   0          5          -
경북   841   340  22       1203       (13)
경남    54    33   0         87        (1)
제주     2     2   0          4          -
검역    17     0   0         17        (1)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353650&contSeq=353650&board_id=&gubun=ALL

-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 19일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 19일 0시)</h4>]
      격리중  격리해제  사망 합계* (전일대비)
합계   6527  1947  91       8565
서울    224    58   0        282
부산     48    58   1        107
대구   4794  1382  65       6241
인천     26     6   0         32
광주     10     7   0         17
대전     18     4   0         22
울산     27     9   0         36
세종     41     0   0         41
경기    228    64   3        295
강원     20     9   1         30
충북     28     5   0         33
충남     87    31   0        118
전북      5     5   0         10
전남      2     3   0          5
경북    894   275  21       1190
경남     57    29   0         86
제주      2     2   0          4
검 역    16     0   0         16
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353626&contSeq=353626&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 18일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 18일 0시)</h4>]
     격리중  격리해제  사망 합계* (전일대비)
합계  6789  1540  84       8413
서울   215    55   0        270
부산    48    58   1        107
대구  5038  1048  58       6144
인천    27     5   0         32
광주    11     6   0         17
대전    18     4   0         22
울산    21     9   0         30
세종    41     0   0         41
경기   215    59   3        277
강원    21     8   1         30
충북    27     5   0         32
충남   102    16   0        118
전북     4     5   0          9
전남     3     2   0          5
경북   922   235  21       1178
경남    63    23   0         86
제주     2     2   0          4
검역    11     0   0         11
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353604&contSeq=353604&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 17일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 17일 0시)</h4>]
     격리중  격리해제  사망 합계* (전일대비)
합계  6838  1401  81       8320
서울   210    55   0        265
부산    52    54   1        107
대구  5094   947  57       6098
인천    26     5   0         31
광주    10     6   0         16
대전    18     4   0         22
울산    20     8   0         28
세종    40     0   0         40
경기   204    55   3        262
강원    20     8   1         29
충북    26     5   0         31
충남   100    15   0        115
전북     3     4   0          7
전남     2     2   0          4
경북   941   209  19       1169
경남    64    22   0         86
제주     2     2   0          4
검역     6     0   0          6
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353584&contSeq=353584&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 16일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 16일 0시)</h4>]

KeyError: "['구분'] not found in axis"

In [138]:
data

,3월 16일 0 격리중,3월 16일 0 격리해제,3월 16일 0 사망,3월 16일 0 3월 16일 0 합계(전일대비),3월 16일 0 3월 16일 0 합계(전일대비),3월 15일 0 격리중,3월 15일 0 격리해제,3월 15일 0 사망,3월 15일 0 3월 15일 0 합계* (전일대비),3월 15일 0 3월 15일 0 합계* (전일대비),...,3월 7일 0시 3월 7일 0시 합계* (전일대비),3월 7일 0시 3월 7일 0시 합계* (전일대비),3월 6일 0시 격리중,3월 6일 0시 격리해제,3월 6일 0시 사망,3월 6일 0시 3월 6일 0시 합계*,3월 6일 0시 3월 6일 0시 합계*,3월 5일 0시 3.4.(수) 0시,3월 5일 0시 3.5.(목) 0시,3월 5일 0시 변동*
"(강원, 22)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26,(1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(경기, 115)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,130,(10),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(경남, 78)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,82,(5),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(경북, 998)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1049,(65),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(광주, 10)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(대구, 5,035)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5084,(390),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(대전, 18)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(부산, 93)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96,(1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(서울, 81)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,108,(3),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(세종, 2)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,(1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(울산, 22)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(인천, 7)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(전남, 4)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(전북, 5)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(제주, 4)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(충남, 92)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,92,(2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(충북, 19)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20,(5),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(합계, 6,605)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6767,(483),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
검역,4,0,0,4,(4),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
경기,180,48,3,231,(20),168,40,3,211,(11),...,NaN,NaN,105,14,1,120,(10),101,110,9
경남,65,20,0,85,-,69,16,0,85,(0),...,NaN,NaN,73,4,0,77,(3),65,74,9
경북,969,178,17,1164,(7),977,163,17,1157,(4),...,NaN,NaN,938,36,10,984,(123),774,861,87
광주,12,4,0,16,-,12,4,0,16,(1),...,NaN,NaN,10,3,0,13,(-1),13,14,1
대구,5279,734,53,6066,(35),5510,468,53,6031,(41),...,NaN,NaN,4648,15,30,4693,(367),4006,4326,320
대전,18,4,0,22,-,18,4,0,22,(0),...,NaN,NaN,18,0,0,18,(2),15,16,1
부산,53,53,1,107,(1),53,52,1,106,(3),...,NaN,NaN,92,2,1,95,(3),93,92,-1
서울,201,52,0,253,(6),200,47,0,247,(9),...,NaN,NaN,80,25,0,105,(2),99,103,4
세종,40,0,0,40,(1),39,0,0,39,(1),...,NaN,NaN,1,0,0,1,(-),1,1,0
울산,21,7,0,28,-,22,6,0,28,(1),...,NaN,NaN,22,1,0,23,(-),23,23,0
인천,26,4,0,30,-,26,4,0,30,(2),...,NaN,NaN,7,2,0,9,(-),9,9,0
전남,2,2,0,4,-,2,2,0,4,(0),...,NaN,NaN,5,0,0,5,(-),5,5,0
전북,3,4,0,7,-,3,4,0,7,(0),...,NaN,NaN,5,2,0,7,(-),7,7,0
제 주,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
제주,2,2,0,4,-,3,1,0,4,(0),...,NaN,NaN,4,0,0,4,(-),3,4,1
충남,103,12,0,115,-,105,10,0,115,(0),...,NaN,NaN,90,0,0,90,(4),82,86,4
충북,25,6,0,31,-,25,6,0,31,(3),...,NaN,NaN,14,1,0,15,(3),11,12,1
합계,7024,1173,75,8236,(74),7253,834,75,8162,(76),...,NaN,NaN,6134,108,42,6284,(518),5328,5766,438

In [139]:
data = pd.read_csv('2020-04-11_2020-03-17.csv', encoding = 'euc-kr')
data
#data.drop(['경 북', '검 역', '검역'], axis = 0, inplace = True)

,4월 11일 0 격리중,4월 11일 0 격리해제,4월 11일 0 사망,4월 11일 0 합계,4월 11일 0 신규,4월 11일 0 해외유입(잠정),4월 11일 0 지역발생(잠정),4월 10일 0 격리중,4월 10일 0 격리해제,4월 10일 0 사망,...,3월 19일 0 사망,3월 19일 0 합계* (전일대비),3월 18일 0 격리중,3월 18일 0 격리해제,3월 18일 0 사망,3월 18일 0 합계* (전일대비),3월 17일 0 격리중,3월 17일 0 격리해제,3월 17일 0 사망,3월 17일 0 합계* (전일대비)
0,3026,7243,211,10480,30,12,18,3125,7117,208,...,91.0,8565.0,6789,1540,84,8413,6838,1401,81,8320
1,402,195,2,599,4,1,3,408,185,2,...,0.0,282.0,215,55,0,270,210,55,0,265
2,23,100,3,126,0,0,0,25,98,3,...,1.0,107.0,48,58,1,107,52,54,1,107
3,1398,5271,145,6814,7,1,6,1472,5193,142,...,65.0,6241.0,5038,1048,58,6144,5094,947,57,6098
4,50,35,0,85,0,0,0,51,34,0,...,0.0,32.0,27,5,0,32,26,5,0,31
5,10,17,0,27,0,0,0,12,15,0,...,0.0,17.0,11,6,0,17,10,6,0,16
6,17,22,0,39,0,0,0,18,21,0,...,0.0,22.0,18,4,0,22,18,4,0,22
7,10,30,1,41,1,1,0,11,28,1,...,0.0,36.0,21,9,0,30,20,8,0,28
8,26,20,0,46,0,0,0,26,20,0,...,0.0,41.0,41,0,0,41,40,0,0,40
9,327,286,11,624,9,3,6,335,269,11,...,3.0,295.0,215,59,3,277,204,55,3,262
10,22,26,1,49,0,0,0,22,26,1,...,1.0,30.0,21,8,1,30,20,8,1,29
11,17,28,0,45,0,0,0,17,28,0,...,0.0,33.0,27,5,0,32,26,5,0,31
12,32,106,0,138,0,0,0,33,105,0,...,0.0,118.0,102,16,0,118,100,15,0,115
13,9,8,0,17,0,0,0,9,8,0,...,0.0,10.0,4,5,0,9,3,4,0,7
14,10,5,0,15,0,0,0,11,4,0,...,0.0,5.0,3,2,0,5,2,2,0,4
15,278,1004,48,1330,3,0,3,285,994,48,...,21.0,1190.0,922,235,21,1178,941,209,19,1169
16,32,83,0,115,0,0,0,33,82,0,...,0.0,86.0,63,23,0,86,64,22,0,86
17,8,4,0,12,0,0,0,8,4,0,...,0.0,4.0,2,2,0,4,2,2,0,4
18,355,3,0,358,6,6,0,349,3,0,...,NaN,NaN,11,0,0,11,6,0,0,6

In [140]:
data.drop([18], axis = 0, inplace = True)
data

,4월 11일 0 격리중,4월 11일 0 격리해제,4월 11일 0 사망,4월 11일 0 합계,4월 11일 0 신규,4월 11일 0 해외유입(잠정),4월 11일 0 지역발생(잠정),4월 10일 0 격리중,4월 10일 0 격리해제,4월 10일 0 사망,...,3월 19일 0 사망,3월 19일 0 합계* (전일대비),3월 18일 0 격리중,3월 18일 0 격리해제,3월 18일 0 사망,3월 18일 0 합계* (전일대비),3월 17일 0 격리중,3월 17일 0 격리해제,3월 17일 0 사망,3월 17일 0 합계* (전일대비)
0,3026,7243,211,10480,30,12,18,3125,7117,208,...,91.0,8565.0,6789,1540,84,8413,6838,1401,81,8320
1,402,195,2,599,4,1,3,408,185,2,...,0.0,282.0,215,55,0,270,210,55,0,265
2,23,100,3,126,0,0,0,25,98,3,...,1.0,107.0,48,58,1,107,52,54,1,107
3,1398,5271,145,6814,7,1,6,1472,5193,142,...,65.0,6241.0,5038,1048,58,6144,5094,947,57,6098
4,50,35,0,85,0,0,0,51,34,0,...,0.0,32.0,27,5,0,32,26,5,0,31
5,10,17,0,27,0,0,0,12,15,0,...,0.0,17.0,11,6,0,17,10,6,0,16
6,17,22,0,39,0,0,0,18,21,0,...,0.0,22.0,18,4,0,22,18,4,0,22
7,10,30,1,41,1,1,0,11,28,1,...,0.0,36.0,21,9,0,30,20,8,0,28
8,26,20,0,46,0,0,0,26,20,0,...,0.0,41.0,41,0,0,41,40,0,0,40
9,327,286,11,624,9,3,6,335,269,11,...,3.0,295.0,215,59,3,277,204,55,3,262
10,22,26,1,49,0,0,0,22,26,1,...,1.0,30.0,21,8,1,30,20,8,1,29
11,17,28,0,45,0,0,0,17,28,0,...,0.0,33.0,27,5,0,32,26,5,0,31
12,32,106,0,138,0,0,0,33,105,0,...,0.0,118.0,102,16,0,118,100,15,0,115
13,9,8,0,17,0,0,0,9,8,0,...,0.0,10.0,4,5,0,9,3,4,0,7
14,10,5,0,15,0,0,0,11,4,0,...,0.0,5.0,3,2,0,5,2,2,0,4
15,278,1004,48,1330,3,0,3,285,994,48,...,21.0,1190.0,922,235,21,1178,941,209,19,1169
16,32,83,0,115,0,0,0,33,82,0,...,0.0,86.0,63,23,0,86,64,22,0,86
17,8,4,0,12,0,0,0,8,4,0,...,0.0,4.0,2,2,0,4,2,2,0,4

In [141]:
data.to_csv('2020-04-11_2020-03-17.csv', encoding = 'euc-kr', index = False)

### 2020.03.16 ~ 2020.03.02

In [50]:
# 일별 확진자 수 테이블 생성
# link index (353583, 353344)  # 2020.03.16 ~ 2020.03.04

data = pd.DataFrame()
for idx in range(353583, 353344, -1):   # 2020.03.16 ~ 2020.03.04
    
    k = pd.DataFrame()  # 초기화
    #driver.get('http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq={}&contSeq={}&board_id=312&gubun=ALL'.format(idx, idx))
    response = requests.get('http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq={}&contSeq={}&board_id=&gubun=ALL'.format(idx, idx))
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # root = lxml.html.fromstring(response.content)

    # 제목
    # title = soup.select('#content > div > div.board_view > div.bv_content > div.bvc_txt > p > p:nth-child(1)')  # 제목 (인덱스용)
    #vaccine = soup.select('#content > div > div.board_view > div.bv_content > div > p > table:nth-child(10)')
    #print(vaccine)
    
    title = soup.select('h4')  ## 찐 제목
    #title = soup.find('div', {'class': 'bv_ttl'})
    title = str(title)
    print(title.find('0시'))
    
    if ('0시' in title) and ('국내 발생 현황' in title) and ('정례브리핑' not in title):   ## '코로나19 국내 발생 및 예방접종 현황(9.14., 0시 기준)' 제목형식과 일치할때
        print(title)
        # 국내 발생 확진자 현황 테이블 가져오기
        
        lst = soup.select('table')

        if len(lst) != 0:    # 테이블이 하나라도 존재할때
            for i in range(len(lst)):   # 테이블 개수만큼 검사
                tmp = str(lst[i])    # i번째 테이블 담기
                table_df_list = pd.read_html(tmp)
                table_df_tmp = table_df_list[0]  
                #print(table_df_tmp)
        
                if (len(table_df_tmp.columns) > 15): # 행 개수 3개, 칼럼 개수 10개 이상 만족하는 테이블 확진자밖에 없음
                    table_df = table_df_tmp
                    break;

        #table_df.drop([len(table_df) - 1], axis = 0, inplace = True)
        k = table_df.transpose()
        k = k.rename(columns = k.iloc[0])

        if '구분' in k.index: 
            k.drop(['구분'], axis = 0, inplace = True)
            
        if '구분*' in k.index: 
            k.drop(['구분*'], axis = 0, inplace = True)
            
        #k.drop([0], axis = 0, inplace = True)
        print(k)
        
        for i in range(len(k.columns)): 
            k.rename(columns = {k.columns[i] : title[29:37] + ' ' + k.columns[i]}, inplace = True)

#         colname1 = title[29:37] + ' ' + '신규'
#         colname2 = title[29:37] + ' ' + '누계'
#         print(colname1)

        # k.rename(columns = {'신규' : colname1, '누계' : colname2}, inplace = True)
        
        data = pd.concat([data, k], axis = 1)
   
        print(response.url)

-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 16일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 16일 0시)</h4>]
      격리중  격리해제  사망  합계(전일대비)  합계(전일대비)
구분*   격리중  격리해제  사망  합계(전일대비)  합계(전일대비)
합계   7024  1173  75      8236      (74)
서울    201    52   0       253       (6)
부산     53    53   1       107       (1)
대구   5279   734  53      6066      (35)
인천     26     4   0        30         -
광주     12     4   0        16         -
대전     18     4   0        22         -
울산     21     7   0        28         -
세종     40     0   0        40       (1)
경기    180    48   3       231      (20)
강원     21     7   1        29         -
충북     25     6   0        31         -
충남    103    12   0       115         -
전북      3     4   0         7         -
전남      2     2   0         4         -
경북    969   178  17      1164       (7)
경남     65    20   0        85         -
제주      2     2   0         4         -
검역      4     0   0         4       (4)
     격리중  격리해제  사망 합계(전일대비) 합계(전일대비)
합계  7024  1173  75     8236     (74)
서울   201    52   0      253      (6)
부산    53    53   1      107      (1)
대구  5279   734  53     6066     (35)
인천    26     4   0       30        -
광주    12     4   0       16        -
대전    18     4   0       22        -
울산    21     7   0       28        -
세종    40     0   0       40      (1)
경기   180    48   3      231     (20)
강원    21     7   1       29        -
충북    25     6   0       31        -
충남   103    12   0      115        -
전북     3     4   0        7        -
전남     2     2   0        4        -
경북   969   178  17     1164      (7)
경남    65    20   0       85        -
제주     2     2   0        4        -
검역     4     0   0        4      (4)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353561&contSeq=353561&board_id=&gubun=ALL
-1
-1
-1
-1
-1
84
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 15일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 15일 0시)</h4>]
     격리중  격리해제  사망  합계* (전일대비)  합계* (전일대비)
구분   격리중  격리해제  사망  합계* (전일대비)  합계* (전일대비)
합계  7253   834  75        8162        (76)
서울   200    47   0         247         (9)
부산    53    52   1         106         (3)
대구  5510   468  53        6031        (41)
인천    26     4   0          30         (2)
광주    12     4   0          16         (1)
대전    18     4   0          22         (0)
울산    22     6   0          28         (1)
세종    39     0   0          39         (1)
경기   168    40   3         211        (11)
강원    21     7   1          29         (0)
충북    25     6   0          31         (3)
충남   105    10   0         115         (0)
전북     3     4   0           7         (0)
전남     2     2   0           4         (0)
경북   977   163  17        1157         (4)
경남    69    16   0          85         (0)
제주     3     1   0           4         (0)
     격리중 격리해제  사망 합계* (전일대비) 합계* (전일대비)
합계  7253  834  75       8162       (76)
서울   200   47   0        247        (9)
부산    53   52   1        106        (3)
대구  5510  468  53       6031       (41)
인천    26    4   0         30        (2)
광주    12    4   0         16        (1)
대전    18    4   0         22        (0)
울산    22    6   0         28        (1)
세종    39    0   0         39        (1)
경기   168   40   3        211       (11)
강원    21    7   1         29        (0)
충북    25    6   0         31        (3)
충남   105   10   0        115        (0)
전북     3    4   0          7        (0)
전남     2    2   0          4        (0)
경북   977  163  17       1157        (4)
경남    69   16   0         85        (0)
제주     3    1   0          4        (0)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353554&contSeq=353554&board_id=&gubun=ALL
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 14일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 14일 0시)</h4>]
      격리중  격리해제  사망  합계* (전일대비)  합계* (전일대비)
구분    격리중  격리해제  사망  합계* (전일대비)  합계* (전일대비)
합계   7300   714  72        8086       (107)
서울    194    44   0         238        (13)
부산     63    40   0         103         (3)
대구   5538   401  51        5990        (62)
인천     24     4   0          28         (1)
광주     11     4   0          15         (0)
대전     18     4   0          22         (0)
울산     22     5   0          27         (0)
세종     38     0   0          38         (6)
경기    161    36   3         200        (15)
강원     22     6   1          29         (0)
충북     23     5   0          28         (1)
충남    106     9   0         115         (0)
전북      3     4   0           7         (0)
전남      2     2   0           4         (0)
경북    998   138  17        1153         (6)
경남     74    11   0          85         (0)
제 주     3     1   0           4         (0)
      격리중 격리해제  사망 합계* (전일대비) 합계* (전일대비)
합계   7300  714  72       8086      (107)
서울    194   44   0        238       (13)
부산     63   40   0        103        (3)
대구   5538  401  51       5990       (62)
인천     24    4   0         28        (1)
광주     11    4   0         15        (0)
대전     18    4   0         22        (0)
울산     22    5   0         27        (0)
세종     38    0   0         38        (6)
경기    161   36   3        200       (15)
강원     22    6   1         29        (0)
충북     23    5   0         28        (1)
충남    106    9   0        115        (0)
전북      3    4   0          7        (0)
전남      2    2   0          4        (0)
경북    998  138  17       1153        (6)
경남     74   11   0         85        (0)
제 주     3    1   0          4        (0)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353548&contSeq=353548&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 13일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 13일 0시)</h4>]
     격리중  격리해제  사망  합계* (전일대비)  합계* (전일대비)
구분   격리중  격리해제  사망  합계* (전일대비)  합계* (전일대비)
합계  7402   510  67        7979       (110)
서울   185    40   0         225        (13)
부산    64    36   0         100         (1)
대구  5629   251  48        5928        (61)
인천    23     4   0          27         (2)
광주    11     4   0          15         (0)
대전    18     4   0          22         (2)
울산    24     3   0          27         (2)
세종    32     0   0          32        (17)
경기   152    31   2         185         (7)
강원    22     6   1          29         (0)
충북    23     4   0          27         (0)
충남   108     7   0         115         (1)
전북     3     4   0           7         (0)
전남     3     1   0           4         (0)
경북  1028   103  16        1147         (4)
경남    74    11   0          85         (0)
제주     3     1   0           4         (0)
     격리중 격리해제  사망 합계* (전일대비) 합계* (전일대비)
합계  7402  510  67       7979      (110)
서울   185   40   0        225       (13)
부산    64   36   0        100        (1)
대구  5629  251  48       5928       (61)
인천    23    4   0         27        (2)
광주    11    4   0         15        (0)
대전    18    4   0         22        (2)
울산    24    3   0         27        (2)
세종    32    0   0         32       (17)
경기   152   31   2        185        (7)
강원    22    6   1         29        (0)
충북    23    4   0         27        (0)
충남   108    7   0        115        (1)
전북     3    4   0          7        (0)
전남     3    1   0          4        (0)
경북  1028  103  16       1147        (4)
경남    74   11   0         85        (0)
제주     3    1   0          4        (0)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353533&contSeq=353533&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 12일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 12일 0시)</h4>]
     격리중  격리해제  사망  합계(전일대비)  합계(전일대비)
구분   격리중  격리해제  사망  합계(전일대비)  합계(전일대비)
합계  7470   333  66      7869     (114)
서울   174    38   0       212      (19)
부산    70    29  0*        99       (1)
대구  5705   114  48      5867      (73)
인천    21     4   0        25       (0)
광주    11     4   0        15       (0)
대전    18     2   0        20       (2)
울산    22     3   0        25       (0)
세종    15     0   0        15       (5)
경기   150    27   1       178       (3)
강원    22     6   1        29       (0)
충북    23     4   0        27       (0)
충남   109     5   0       114       (2)
전북     5     2   0         7       (0)
전남     3     1   0         4       (0)
경북  1044    83  16      1143       (8)
경남    75    10   0        85       (1)
제주     3     1   0         4       (0)
     격리중 격리해제  사망 합계(전일대비) 합계(전일대비)
합계  7470  333  66     7869    (114)
서울   174   38   0      212     (19)
부산    70   29  0*       99      (1)
대구  5705  114  48     5867     (73)
인천    21    4   0       25      (0)
광주    11    4   0       15      (0)
대전    18    2   0       20      (2)
울산    22    3   0       25      (0)
세종    15    0   0       15      (5)
경기   150   27   1      178      (3)
강원    22    6   1       29      (0)
충북    23    4   0       27      (0)
충남   109    5   0      114      (2)
전북     5    2   0        7      (0)
전남     3    1   0        4      (0)
경북  1044   83  16     1143      (8)
경남    75   10   0       85      (1)
제주     3    1   0        4      (0)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353520&contSeq=353520&board_id=&gubun=ALL

-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 11일 0시)</h4>, <h4> 코로나바이러스감염증-19 국내 발생 현황 (3월 11일 0시)</h4>]
     격리중  격리해제  사망  합계*(전일대비)  합계*(전일대비)
구분   격리중  격리해제  사망  합계*(전일대비)  합계*(전일대비)
합계  7407   288  60       7755      (242)
서울   156    37   0        193       (52)
부산    76    21   1         98        (2)
대구  5649   102  43       5794      (131)
인천    22     3   0         25       (12)
광주    12     3   0         15        (-)
대전    16     2   0         18        (-)
울산    23     2   0         25        (1)
세종    10     0   0         10        (2)
경기   149    25   1        175       (12)
강원    22     6   1         29        (1)
충북    24     3   0         27        (2)
충남   111     1   0        112        (8)
전북     5     2   0          7        (-)
전남     3     1   0          4        (-)
경북  1052    69  14       1135       (18)
경남    74    10   0         84        (1)
제주     3     1   0          4        (-)
     격리중 격리해제  사망 합계*(전일대비) 합계*(전일대비)
합계  7407  288  60      7755     (242)
서울   156   37   0       193      (52)
부산    76   21   1        98       (2)
대구  5649  102  43      5794     (131)
인천    22    3   0        25      (12)
광주    12    3   0        15       (-)
대전    16    2   0        18       (-)
울산    23    2   0        25       (1)
세종    10    0   0        10       (2)
경기   149   25   1       175      (12)
강원    22    6   1        29       (1)
충북    24    3   0        27       (2)
충남   111    1   0       112       (8)
전북     5    2   0         7       (-)
전남     3    1   0         4       (-)
경북  1052   69  14      1135      (18)
경남    74   10   0        84       (1)
제주     3    1   0         4       (-)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353492&contSeq=353492&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
297
-1
-1
-1
-1
-1
-1
-1
-1
-1
36
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 10일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 10일 0시)
</h4>]
     격리중  격리해제  사망  합계* (전일대비)  합계* (전일대비)
구분   격리중  격리해제  사망  합계* (전일대비)  합계* (전일대비)
합계  7212   247  54        7513       (131)
서울   110    31   0         141        (11)
부산    86    10   0          96         (0)
대구  5533    92  38        5663        (92)
인천    10     3   0          13         (4)
광주    12     3   0          15         (0)
대전    17     1   0          18        (-1)
울산    23     1   0          24         (0)
세종     8     0   0           8         (2)
경기   140    22   1         163        (11)
강원    21     6   1          28         (0)
충북    22     3   0          25         (0)
충남   103     1   0         104         (2)
전북     5     2   0           7         (0)
전남     3     1   0           4         (0)
경북  1043    60  14        1117        (10)
경남    73    10   0          83          (0
제주     3     1   0           4         (0)
     격리중 격리해제  사망 합계* (전일대비) 합계* (전일대비)
합계  7212  247  54       7513      (131)
서울   110   31   0        141       (11)
부산    86   10   0         96        (0)
대구  5533   92  38       5663       (92)
인천    10    3   0         13        (4)
광주    12    3   0         15        (0)
대전    17    1   0         18       (-1)
울산    23    1   0         24        (0)
세종     8    0   0          8        (2)
경기   140   22   1        163       (11)
강원    21    6   1         28        (0)
충북    22    3   0         25        (0)
충남   103    1   0        104        (2)
전북     5    2   0          7        (0)
전남     3    1   0          4        (0)
경북  1043   60  14       1117       (10)
경남    73   10   0         83         (0
제주     3    1   0          4        (0)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353464&contSeq=353464&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 9일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 9일 0시)</h4>]
     격리중  격리해제  사망  합계(전일대비)  합계(전일대비)
구분   격리중  격리해제  사망  합계(전일대비)  합계(전일대비)
합계  7165   166  51      7382     (248)
서울   101    29   0       130      (10)
부산    86    10  0*        96      (-1)
대구  5515    21  35      5571     (190)
인천     7     2   0         9       (0)
광주    12     3   0        15       (2)
대전    18     1   0        19       (1)
울산    23     1   0        24       (0)
세종     6     0   0         6       (3)
경기   129    22   1       152      (11)
강원    24     3   1        28       (1)
충북    22     3   0        25       (1)
충남   101     1   0       102       (4)
전북     5     2   0         7       (0)
전남     3     1   0         4       (0)
경북  1036    57  14      1107      (26)
경남    74     9   0        83       (0)
제주     3     1   0         4       (0)
     격리중 격리해제  사망 합계(전일대비) 합계(전일대비)
합계  7165  166  51     7382    (248)
서울   101   29   0      130     (10)
부산    86   10  0*       96     (-1)
대구  5515   21  35     5571    (190)
인천     7    2   0        9      (0)
광주    12    3   0       15      (2)
대전    18    1   0       19      (1)
울산    23    1   0       24      (0)
세종     6    0   0        6      (3)
경기   129   22   1      152     (11)
강원    24    3   1       28      (1)
충북    22    3   0       25      (1)
충남   101    1   0      102      (4)
전북     5    2   0        7      (0)
전남     3    1   0        4      (0)
경북  1036   57  14     1107     (26)
경남    74    9   0       83      (0)
제주     3    1   0        4      (0)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353444&contSeq=353444&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 8일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 8일 0시)</h4>]
     격리중  격리해제  사망  합계(전일대비)  합계(전일대비)
구분   격리중  격리해제  사망  합계(전일대비)  합계(전일대비)
합계  7165   166  51      7382     (248)
서울   101    29   0       130      (10)
부산    86    10  0*        96      (-1)
대구  5515    21  35      5571     (190)
인천     7     2   0         9       (0)
광주    12     3   0        15       (2)
대전    18     1   0        19       (1)
울산    23     1   0        24       (0)
세종     6     0   0         6       (3)
경기   129    22   1       152      (11)
강원    24     3   1        28       (1)
충북    22     3   0        25       (1)
충남   101     1   0       102       (4)
전북     5     2   0         7       (0)
전남     3     1   0         4       (0)
경북  1036    57  14      1107      (26)
경남    74     9   0        83       (0)
제주     3     1   0         4       (0)
     격리중 격리해제  사망 합계(전일대비) 합계(전일대비)
합계  7165  166  51     7382    (248)
서울   101   29   0      130     (10)
부산    86   10  0*       96     (-1)
대구  5515   21  35     5571    (190)
인천     7    2   0        9      (0)
광주    12    3   0       15      (2)
대전    18    1   0       19      (1)
울산    23    1   0       24      (0)
세종     6    0   0        6      (3)
경기   129   22   1      152     (11)
강원    24    3   1       28      (1)
충북    22    3   0       25      (1)
충남   101    1   0      102      (4)
전북     5    2   0        7      (0)
전남     3    1   0        4      (0)
경북  1036   57  14     1107     (26)
경남    74    9   0       83      (0)
제주     3    1   0        4      (0)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353431&contSeq=353431&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 7일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 7일 0시)</h4>]
          격리해제  사망  합계* (전일대비)  합계* (전일대비)
구분 격리중    격리해제  사망  합계* (전일대비)  합계* (전일대비)
합계 6,605   118  44        6767       (483)
서울 81       27   0         108         (3)
부산 93        2   1          96         (1)
대구 5,035    18  31        5084       (390)
인천 7         2   0           9           -
광주 10        3   0          13           -
대전 18        0   0          18           -
울산 22        1   0          23           -
세종 2         0   0           2         (1)
경기 115      14   1         130        (10)
강원 22        3   1          26         (1)
충북 19        1   0          20         (5)
충남 92        0   0          92         (2)
전북 5         2   0           7           -
전남 4         0   0           4           -
경북 998      41  10        1049        (65)
경남 78        4   0          82         (5)
제주 4         0   0           4           -
         격리해제  사망 합계* (전일대비) 합계* (전일대비)
합계 6,605  118  44       6767      (483)
서울 81      27   0        108        (3)
부산 93       2   1         96        (1)
대구 5,035   18  31       5084      (390)
인천 7        2   0          9          -
광주 10       3   0         13          -
대전 18       0   0         18          -
울산 22       1   0         23          -
세종 2        0   0          2        (1)
경기 115     14   1        130       (10)
강원 22       3   1         26        (1)
충북 19       1   0         20        (5)
충남 92       0   0         92        (2)
전북 5        2   0          7          -
전남 4        0   0          4          -
경북 998     41  10       1049       (65)
경남 78       4   0         82        (5)
제주 4        0   0          4          -
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353420&contSeq=353420&board_id=&gubun=ALL

C:\Users\user\anaconda3\lib\site-packages\pandas\core\generic.py:4153: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 6일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 6일 0시)</h4>]
     격리중  격리해제  사망   합계*    합계*
구분   격리중  격리해제  사망   합계*    합계*
합계  6134   108  42  6284  (518)
서울    80    25   0   105    (2)
부산    92     2   1    95    (3)
대구  4648    15  30  4693  (367)
인천     7     2   0     9    (-)
광주    10     3   0    13   (-1)
대전    18     0   0    18    (2)
울산    22     1   0    23    (-)
세종     1     0   0     1    (-)
경기   105    14   1   120   (10)
강원    22     3   0    25    (2)
충북    14     1   0    15    (3)
충남    90     0   0    90    (4)
전북     5     2   0     7    (-)
전남     5     0   0     5    (-)
경북   938    36  10   984  (123)
경남    73     4   0    77    (3)
제주     4     0   0     4    (-)
     격리중 격리해제  사망   합계*    합계*
합계  6134  108  42  6284  (518)
서울    80   25   0   105    (2)
부산    92    2   1    95    (3)
대구  4648   15  30  4693  (367)
인천     7    2   0     9    (-)
광주    10    3   0    13   (-1)
대전    18    0   0    18    (2)
울산    22    1   0    23    (-)
세종     1    0   0     1    (-)
경기   105   14   1   120   (10)
강원    22    3   0    25    (2)
충북    14    1   0    15    (3)
충남    90    0   0    90    (4)
전북     5    2   0     7    (-)
전남     5    0   0     5    (-)
경북   938   36  10   984  (123)
경남    73    4   0    77    (3)
제주     4    0   0     4    (-)
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353394&contSeq=353394&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
35
[<h4>코로나바이러스감염증-19 국내 발생 현황 (3월 5일 0시)</h4>, <h4>코로나바이러스감염증-19 국내 발생 현황 (3월 5일 0시)</h4>]
    3.4.(수)  0시  3.5.(목)  0시  변동*
구분  3.4.(수)  0시  3.5.(목)  0시  변동*
합계         5328         5766  438
서울           99          103    4
부산           93           92   -1
대구         4006         4326  320
인천            9            9    0
광주           13           14    1
대전           15           16    1
울산           23           23    0
세종            1            1    0
경기          101          110    9
강원           21           23    2
충북           11           12    1
충남           82           86    4
전북            7            7    0
전남            5            5    0
경북          774          861   87
경남           65           74    9
제주            3            4    1
   3.4.(수)  0시 3.5.(목)  0시  변동*
합계        5328        5766  438
서울          99         103    4
부산          93          92   -1
대구        4006        4326  320
인천           9           9    0
광주          13          14    1
대전          15          16    1
울산          23          23    0
세종           1           1    0
경기         101         110    9
강원          21          23    2
충북          11          12    1
충남          82          86    4
전북           7           7    0
전남           5           5    0
경북         774         861   87
경남          65          74    9
제주           3           4    1
http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=353374&contSeq=353374&board_id=&gubun=ALL
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1

In [57]:
data

,3월 16일 0 격리중,3월 16일 0 격리해제,3월 16일 0 사망,3월 16일 0 3월 16일 0 합계(전일대비),3월 16일 0 3월 16일 0 합계(전일대비),3월 15일 0 격리중,3월 15일 0 격리해제,3월 15일 0 사망,3월 15일 0 3월 15일 0 합계* (전일대비),3월 15일 0 3월 15일 0 합계* (전일대비),...,3월 7일 0시 3월 7일 0시 합계* (전일대비),3월 7일 0시 3월 7일 0시 합계* (전일대비),3월 6일 0시 격리중,3월 6일 0시 격리해제,3월 6일 0시 사망,3월 6일 0시 3월 6일 0시 합계*,3월 6일 0시 3월 6일 0시 합계*,3월 5일 0시 3.4.(수) 0시,3월 5일 0시 3.5.(목) 0시,3월 5일 0시 변동*
"(강원, 22)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26,(1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(경기, 115)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,130,(10),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(경남, 78)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,82,(5),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(경북, 998)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1049,(65),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(광주, 10)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(대구, 5,035)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5084,(390),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(대전, 18)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(부산, 93)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96,(1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(서울, 81)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,108,(3),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(세종, 2)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,(1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(울산, 22)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(인천, 7)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(전남, 4)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(전북, 5)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(제주, 4)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(충남, 92)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,92,(2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(충북, 19)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20,(5),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(합계, 6,605)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6767,(483),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
강원,21,7,1,29,-,21,7,1,29,(0),...,NaN,NaN,22,3,0,25,(2),21,23,2
검역,4,0,0,4,(4),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
경기,180,48,3,231,(20),168,40,3,211,(11),...,NaN,NaN,105,14,1,120,(10),101,110,9
경남,65,20,0,85,-,69,16,0,85,(0),...,NaN,NaN,73,4,0,77,(3),65,74,9
경북,969,178,17,1164,(7),977,163,17,1157,(4),...,NaN,NaN,938,36,10,984,(123),774,861,87
광주,12,4,0,16,-,12,4,0,16,(1),...,NaN,NaN,10,3,0,13,(-1),13,14,1
대구,5279,734,53,6066,(35),5510,468,53,6031,(41),...,NaN,NaN,4648,15,30,4693,(367),4006,4326,320
대전,18,4,0,22,-,18,4,0,22,(0),...,NaN,NaN,18,0,0,18,(2),15,16,1
부산,53,53,1,107,(1),53,52,1,106,(3),...,NaN,NaN,92,2,1,95,(3),93,92,-1
서울,201,52,0,253,(6),200,47,0,247,(9),...,NaN,NaN,80,25,0,105,(2),99,103,4
세종,40,0,0,40,(1),39,0,0,39,(1),...,NaN,NaN,1,0,0,1,(-),1,1,0
울산,21,7,0,28,-,22,6,0,28,(1),...,NaN,NaN,22,1,0,23,(-),23,23,0
인천,26,4,0,30,-,26,4,0,30,(2),...,NaN,NaN,7,2,0,9,(-),9,9,0
전남,2,2,0,4,-,2,2,0,4,(0),...,NaN,NaN,5,0,0,5,(-),5,5,0
전북,3,4,0,7,-,3,4,0,7,(0),...,NaN,NaN,5,2,0,7,(-),7,7,0
제 주,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
제주,2,2,0,4,-,3,1,0,4,(0),...,NaN,NaN,4,0,0,4,(-),3,4,1
충남,103,12,0,115,-,105,10,0,115,(0),...,NaN,NaN,90,0,0,90,(4),82,86,4
충북,25,6,0,31,-,25,6,0,31,(3),...,NaN,NaN,14,1,0,15,(3),11,12,1
합계,7024,1173,75,8236,(74),7253,834,75,8162,(76),...,NaN,NaN,6134,108,42,6284,(518),5328,5766,438

In [78]:
# test

response = requests.get('http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=5401&contSeq=5401&board_id=312&gubun=ALL')

html = response.text
soup = BeautifulSoup(html, 'html.parser')

# title = soup.select('#content > div > div.board_view > div.bv_content > div.bvc_txt > p > p:nth-child(1)')  # 제목 (인덱스용)
# tmp = soup.select('#content > div > div.board_view > div.bv_content > div.bvc_txt > table:nth-child(10) > tbody > tr:nth-child(1) > td:nth-child(1) > p > span')

In [79]:
# 국내 발생 확진자 현황

title = soup.find('h4')
title = str(title)
print(title)
# print(title.find('9.14'))
# print(title[26:30])

t = soup.select('table')[2]
table_html = str(t)

table_df_list = pd.read_html(table_html)
table_df_list

# 데이터프레임 선택하기
table_df = table_df_list[0]
# table_df.drop([4], inplace = True)
k = table_df.transpose()
k = k.rename(columns = k.iloc[0])
k.drop([0], axis = 0, inplace = True)

colname1 = title[26:30] + ' ' + '신규'
colname2 = title[26:30] + ' ' + '누계'

k.rename(columns = {'신규' : colname1, '누계' : colname2}, inplace = True)
k

<h4>코로나19 국내 발생 및 예방접종 현황 (5.20., 0시 기준)</h4>

    구분 (5.2 신규 (5.2 누계
1   합계     619  125301
2   서울     238   40775
3   부산      17    5302
4   대구       9    9361
5   인천      13    5713
6   광주      15    2505
7   대전       7    1875
8   울산      25    2334
9   세종       8     385
10  경기     183   35570
11  강원       8    2909
12  충북      13    2698
13  충남      19    3108
14  전북       7    2004
15  전남       6    1257
16  경북      33    4336
17  경남      12    4309
18  제주       6     860

In [85]:
lst = soup.select('table')

if len(lst) != 0:    # 테이블이 하나라도 존재할때
    for i in range(len(lst)):   # 테이블 개수만큼 검사
        tmp = str(lst[i])    # i번째 테이블 담기
        table_df_list = pd.read_html(tmp)
        table_df_tmp = table_df_list[0]    
        
        if len(table_df_tmp) == 3: 
            table_df = table_df_tmp

k = table_df.transpose()
# print(k)
# if '서울' in k.columns: 
#     print(1)
k = k.rename(columns = k.iloc[0])
k.drop([0], axis = 0, inplace = True)

colname1 = title[26:31] + ' ' + '신규'
colname2 = title[26:31] + ' ' + '누계'

k.rename(columns = {'신규' : colname1, '누계' : colname2}, inplace = True)
k

    구분 (5.20 신규 (5.20 누계
1   합계      619   125301
2   서울      238    40775
3   부산       17     5302
4   대구        9     9361
5   인천       13     5713
6   광주       15     2505
7   대전        7     1875
8   울산       25     2334
9   세종        8      385
10  경기      183    35570
11  강원        8     2909
12  충북       13     2698
13  충남       19     3108
14  전북        7     2004
15  전남        6     1257
16  경북       33     4336
17  경남       12     4309
18  제주        6      860

In [172]:
# 일별 접종현황

table_html = str(soup.select('table')[1])

table_df_list = pd.read_html(table_html)
table_df_list

# 데이터프레임 선택하기
table_df = table_df_list[0]
table_df.drop([4], inplace = True)
table_df

       0         1           2             3           4           5
0     구분  전일 누계(A)  신규 접종(B)1)  누적 접종(A+B)1)  인구2)대비 접종률  인구2)대비 접종률
1     구분  전일 누계(A)  신규 접종(B)1)  누적 접종(A+B)1)         NaN      18세 이상
2  1차 접종  33154081      825438      33979519        66.2        76.9
3  접종 완료  20063402      422119      20485521        39.9        46.4

In [173]:
# 백신별 접종현황

table_html = str(soup.select('table')[2])

table_df_list = pd.read_html(table_html)
table_df_list

# 데이터프레임 선택하기
table_df = table_df_list[0]
table_df.drop([9], inplace = True)
table_df

,0,1,2,3,4,5,6,7,8
0,백신,구분,구분,접종 대상자(A)3,신규 접종(B),신규 접종(B),누적 접종(C),누적 접종(C),접종률(C/A)
1,아스트라제네카1),1차 접종,1차 접종,11857146,678,678,11094112,11094112,93.6
2,아스트라제네카1),접종 완료,접종 완료,11857146,2363,2363,10311811,10311811,87.0
3,아스트라제네카1),NaN,교차접종,11857146,NaN,425,NaN,1577957,87.0
4,화이자,1차 접종,1차 접종,27289589,429082,429082,18367434,18367434,67.3
5,화이자,접종 완료,접종 완료,27289589,397101,397101,7958492,7958492,29.2
6,모더나,1차 접종,1차 접종,4997115,388409,388409,3173710,3173710,63.5
7,모더나,접종 완료,접종 완료,4997115,15386,15386,870955,870955,17.4
8,얀센2),1차 접종 (접종 완료),1차 접종 (접종 완료),1386089,7269,7269,1344263,1344263,97.0

In [155]:
# 확진자 관리 현황

t = soup.select('table')[5]
table_html = str(t)

table_df_list = pd.read_html(table_html)
table_df_list

# 데이터프레임 선택하기
table_df = table_df_list[0]
table_df.drop([4], inplace = True)
table_df

                0         1         2         3     4
0              구분      격리해제      격리 중  위중증 환자**   사망자
1  9.13.(월) 0시 기준    245505  26,5481)       342  2360
2  9.14.(화) 0시 기준    247647     25896       340  2367
3              변동  (+)2,142    (-)652      (-)2  (+)7

### 최종 불러와서 합치기 - 2021

In [128]:
idx.reset_index(drop=True, inplace = True)
idx

    구분
0   합계
1   서울
2   부산
3   대구
4   인천
5   광주
6   대전
7   울산
8   세종
9   경기
10  강원
11  충북
12  충남
13  전북
14  전남
15  경북
16  경남
17  제주

In [103]:
one = pd.read_csv('0101.csv', encoding = 'euc-kr')
one.index = np.arange(1, len(one) + 1)
one

    (1월 1 신규  (1월 1 누계
1       1004     56359
2        358     18714
3         55      1835
4         43      7736
5         63      2747
6         16      1002
7         11       811
8         43       649
9          1       126
10       271     13628
11        29      1190
12        22      1113
13        15      1553
14         8       764
15         6       508
16        24      2343
17        34      1247
18         5       393

In [104]:
one = pd.concat([one, idx], axis = 1)
one.set_index('구분', inplace = True)
one

    (1월 1 신규  (1월 1 누계
구분
합계      1004     56359
서울       358     18714
부산        55      1835
대구        43      7736
인천        63      2747
광주        16      1002
대전        11       811
울산        43       649
세종         1       126
경기       271     13628
강원        29      1190
충북        22      1113
충남        15      1553
전북         8       764
전남         6       508
경북        24      2343
경남        34      1247
제주         5       393

In [105]:
one.to_csv('0101.csv', encoding = 'euc-kr')

In [116]:
one = pd.read_csv('0101.csv', encoding = 'euc-kr')

In [118]:
one.drop(['구분'], axis = 1, inplace = True)
one

    (1월 1 신규  (1월 1 누계
0       1004     56359
1        358     18714
2         55      1835
3         43      7736
4         63      2747
5         16      1002
6         11       811
7         43       649
8          1       126
9        271     13628
10        29      1190
11        22      1113
12        15      1553
13         8       764
14         6       508
15        24      2343
16        34      1247
17         5       393

In [119]:
two = pd.read_csv('0102-0228.csv', encoding = 'euc-kr')
two

,(2.28 신규,(2.28 누계,(2.27 신규,(2.27 누계,(2.26 신규,(2.26 누계,(2.25 신규,(2.25 누계,(2.24 신규,(2.24 누계,...,(1월 6 신규,(1월 6 누계,(1월 5 신규,(1월 5 누계,(1월 4 신규,(1월 4 누계,(1월 3 신규,(1월 3 누계,(1월 2 신규,(1월 2 누계
0,426,83710,426,83710,382,81908,369,81526,417,"81,1571)",...,809,60249,672,"59,440*",985,58767,641,"57,782*",788,57147
1,116,27640,116,27640,129,27065,114,26936,138,"26,8221)",...,263,19935,193,"19,672*",324,19477,195,"19,153*",246,18960
2,8,3130,8,3130,10,3076,18,3066,13,3048,...,38,1966,14,1928,34,1914,19,1880,26,1861
3,5,8498,5,8498,10,8461,13,8451,17,8438,...,21,7867,31,7846,29,7815,21,7786,29,7765
4,19,4243,19,4243,14,4160,22,4146,17,4124,...,35,3049,48,3014,101,2966,48,2865,70,2817
5,3,1970,3,1970,11,1931,15,1920,35,1905,...,30,1168,23,1138,74,1115,26,1041,13,1015
6,2,1139,2,1139,6,1133,0,1127,2,1127,...,8,844,7,836,6,829,8,823,4,815
7,1,926,1,926,1,915,1,914,1,913,...,2,684,4,682,5,678,7,673,17,666
8,4,211,4,211,1,194,0,193,2,193,...,1,131,0,130,0,130,1,130,3,129
9,218,22538,218,22538,135,21749,132,21614,137,21482,...,269,14791,214,"14,522*",260,14309,201,"14,049*",222,13850
10,6,1802,6,1802,5,1781,2,1776,9,1774,...,16,1325,27,1309,28,1282,33,1254,31,1221
11,19,1699,19,1699,10,1649,4,1639,1,1635,...,21,1249,32,1228,23,1196,26,1173,34,1147
12,4,2294,4,2294,2,2276,16,2274,12,2258,...,23,1631,18,1608,22,1590,9,1568,6,1559
13,5,1109,5,1109,15,1058,5,1043,8,1038,...,22,815,4,793,9,789,5,780,11,775
14,3,802,3,802,5,786,11,781,1,770,...,1,537,4,536,3,532,12,529*,11,519
15,5,3118,5,3118,23,3108,9,3085,15,3076,...,28,2452,24,2424,25,2400,14,2375,18,2361
16,4,2045,4,2045,5,2031,2,2026,7,2024,...,26,1374,21,1348,33,1327,12,1294,35,1282
17,4,546,4,546,0,535,5,535,2,530,...,5,431,8,426,9,418,4,409,12,405

In [120]:
three = pd.read_csv('0301-0914.csv', encoding = 'euc-kr')
three

,9.14. 신규,9.14. 누계,9.13. 신규,9.13. 누계,9.12. 신규,9.12. 누계,9.11. 신규,9.11. 누계,9.10. 신규,9.10. 누계,...,"3.5., 신규","3.5., 누계","3.4., 신규","3.4., 누계","3.3., 신규","3.3., 누계","3.2., 신규","3.2., 누계","3.1., 신규","3.1., 누계"
0,1463,"261,9071)",1409,260446,1725,259037,1816,257312,1857,255496,...,474,87893,474,87893,426,83710,426,83710,426,83710
1,529,"85,8981)",554,85370,656,84816,656,84160,666,83504,...,138,28878,138,28878,116,27640,116,27640,116,27640
2,38,11633,35,11595,43,11560,35,11517,38,11482,...,17,3267,17,3267,8,3130,8,3130,8,3130
3,26,13982,31,13956,62,13925,42,13863,44,13821,...,9,8558,9,8558,5,8498,5,8498,5,8498
4,124,12925,151,12801,146,12650,131,12504,117,12373,...,26,4450,26,4450,19,4243,19,4243,19,4243
5,34,4257,14,4223,26,4209,21,4183,25,4162,...,2,2038,2,2038,3,1970,3,1970,3,1970
6,40,6154,39,6114,45,6075,65,6030,48,5965,...,1,1149,1,1149,2,1139,2,1139,2,1139
7,35,4609,17,4574,34,4557,29,4523,40,4494,...,1,995,1,995,1,926,1,926,1,926
8,19,1037,4,1018,4,1014,9,1010,4,1001,...,0,218,0,218,4,211,4,211,4,211
9,454,"76,0621)",395,75609,481,75214,560,74733,603,74173,...,160,24227,160,24227,218,22538,218,22538,218,22538
10,21,5654,13,5633,17,5620,33,5603,33,5570,...,18,1932,18,1932,6,1802,6,1802,6,1802
11,21,5388,33,5367,43,5334,29,5291,30,5262,...,16,1868,16,1868,19,1699,19,1699,19,1699
12,57,7737,58,7680,77,7622,92,7545,77,7453,...,9,2367,9,2367,4,2294,4,2294,4,2294
13,17,3667,10,3650,14,3640,15,3626,24,3611,...,2,1156,2,1156,5,1109,5,1109,5,1109
14,1,2680,5,2679,11,2674,24,2663,20,2639,...,1,831,1,831,3,802,3,802,3,802
15,14,7218,25,7204,19,7179,33,7160,27,7127,...,12,3190,12,3190,5,3118,5,3118,5,3118
16,21,10353,21,10332,44,10311,36,10267,44,10231,...,61,2197,61,2197,4,2045,4,2045,4,2045
17,12,2653,4,2641,3,2637,6,2634,17,2628,...,1,572,1,572,4,546,4,546,4,546

In [129]:
final = pd.concat([three, two, one], axis = 1)
final

,9.14. 신규,9.14. 누계,9.13. 신규,9.13. 누계,9.12. 신규,9.12. 누계,9.11. 신규,9.11. 누계,9.10. 신규,9.10. 누계,...,(1월 5 신규,(1월 5 누계,(1월 4 신규,(1월 4 누계,(1월 3 신규,(1월 3 누계,(1월 2 신규,(1월 2 누계,(1월 1 신규,(1월 1 누계
0,1463,"261,9071)",1409,260446,1725,259037,1816,257312,1857,255496,...,672,"59,440*",985,58767,641,"57,782*",788,57147,1004,56359
1,529,"85,8981)",554,85370,656,84816,656,84160,666,83504,...,193,"19,672*",324,19477,195,"19,153*",246,18960,358,18714
2,38,11633,35,11595,43,11560,35,11517,38,11482,...,14,1928,34,1914,19,1880,26,1861,55,1835
3,26,13982,31,13956,62,13925,42,13863,44,13821,...,31,7846,29,7815,21,7786,29,7765,43,7736
4,124,12925,151,12801,146,12650,131,12504,117,12373,...,48,3014,101,2966,48,2865,70,2817,63,2747
5,34,4257,14,4223,26,4209,21,4183,25,4162,...,23,1138,74,1115,26,1041,13,1015,16,1002
6,40,6154,39,6114,45,6075,65,6030,48,5965,...,7,836,6,829,8,823,4,815,11,811
7,35,4609,17,4574,34,4557,29,4523,40,4494,...,4,682,5,678,7,673,17,666,43,649
8,19,1037,4,1018,4,1014,9,1010,4,1001,...,0,130,0,130,1,130,3,129,1,126
9,454,"76,0621)",395,75609,481,75214,560,74733,603,74173,...,214,"14,522*",260,14309,201,"14,049*",222,13850,271,13628
10,21,5654,13,5633,17,5620,33,5603,33,5570,...,27,1309,28,1282,33,1254,31,1221,29,1190
11,21,5388,33,5367,43,5334,29,5291,30,5262,...,32,1228,23,1196,26,1173,34,1147,22,1113
12,57,7737,58,7680,77,7622,92,7545,77,7453,...,18,1608,22,1590,9,1568,6,1559,15,1553
13,17,3667,10,3650,14,3640,15,3626,24,3611,...,4,793,9,789,5,780,11,775,8,764
14,1,2680,5,2679,11,2674,24,2663,20,2639,...,4,536,3,532,12,529*,11,519,6,508
15,14,7218,25,7204,19,7179,33,7160,27,7127,...,24,2424,25,2400,14,2375,18,2361,24,2343
16,21,10353,21,10332,44,10311,36,10267,44,10231,...,21,1348,33,1327,12,1294,35,1282,34,1247
17,12,2653,4,2641,3,2637,6,2634,17,2628,...,8,426,9,418,4,409,12,405,5,393

In [130]:
final = pd.concat([idx, final], axis = 1)
final

,구분,9.14. 신규,9.14. 누계,9.13. 신규,9.13. 누계,9.12. 신규,9.12. 누계,9.11. 신규,9.11. 누계,9.10. 신규,...,(1월 5 신규,(1월 5 누계,(1월 4 신규,(1월 4 누계,(1월 3 신규,(1월 3 누계,(1월 2 신규,(1월 2 누계,(1월 1 신규,(1월 1 누계
0,합계,1463,"261,9071)",1409,260446,1725,259037,1816,257312,1857,...,672,"59,440*",985,58767,641,"57,782*",788,57147,1004,56359
1,서울,529,"85,8981)",554,85370,656,84816,656,84160,666,...,193,"19,672*",324,19477,195,"19,153*",246,18960,358,18714
2,부산,38,11633,35,11595,43,11560,35,11517,38,...,14,1928,34,1914,19,1880,26,1861,55,1835
3,대구,26,13982,31,13956,62,13925,42,13863,44,...,31,7846,29,7815,21,7786,29,7765,43,7736
4,인천,124,12925,151,12801,146,12650,131,12504,117,...,48,3014,101,2966,48,2865,70,2817,63,2747
5,광주,34,4257,14,4223,26,4209,21,4183,25,...,23,1138,74,1115,26,1041,13,1015,16,1002
6,대전,40,6154,39,6114,45,6075,65,6030,48,...,7,836,6,829,8,823,4,815,11,811
7,울산,35,4609,17,4574,34,4557,29,4523,40,...,4,682,5,678,7,673,17,666,43,649
8,세종,19,1037,4,1018,4,1014,9,1010,4,...,0,130,0,130,1,130,3,129,1,126
9,경기,454,"76,0621)",395,75609,481,75214,560,74733,603,...,214,"14,522*",260,14309,201,"14,049*",222,13850,271,13628
10,강원,21,5654,13,5633,17,5620,33,5603,33,...,27,1309,28,1282,33,1254,31,1221,29,1190
11,충북,21,5388,33,5367,43,5334,29,5291,30,...,32,1228,23,1196,26,1173,34,1147,22,1113
12,충남,57,7737,58,7680,77,7622,92,7545,77,...,18,1608,22,1590,9,1568,6,1559,15,1553
13,전북,17,3667,10,3650,14,3640,15,3626,24,...,4,793,9,789,5,780,11,775,8,764
14,전남,1,2680,5,2679,11,2674,24,2663,20,...,4,536,3,532,12,529*,11,519,6,508
15,경북,14,7218,25,7204,19,7179,33,7160,27,...,24,2424,25,2400,14,2375,18,2361,24,2343
16,경남,21,10353,21,10332,44,10311,36,10267,44,...,21,1348,33,1327,12,1294,35,1282,34,1247
17,제주,12,2653,4,2641,3,2637,6,2634,17,...,8,426,9,418,4,409,12,405,5,393

In [131]:
final.to_csv('시도별확진자수_2021.csv', encoding = 'euc-kr', index = False)

### 최종 불러와서 합치기 - 2020

In [132]:
one = pd.read_csv('2020-12-31_2020-12-22.csv', encoding = 'euc-kr')
one

,12월 31일 신규,12월 31일 누계,12월 30일 신규,12월 30일 누계,12월 29일 신규,12월 29일 누계,12월 28일 신규,12월 28일 누계,12월 27일 신규,12월 27일 누계,12월 26일 신규,12월 26일 누계,12월 25일 신규,12월 25일 누계,12월 24일 신규,12월 24일 누계,12월 23일 신규,12월 23일 누계,12월 22일 신규,12월 22일 누계
0,940,55355,940,55355,940,55355,787,52362,946,51575,1104,50629,1104,50629,1104,50629,1060,"47,357*",824,46299
1,365,18356,365,18356,365,18356,297,17090,359,16793,457,16434,457,16434,457,16434,373,15114,309,14741
2,72,1780,72,1780,72,1780,34,1653,40,1619,26,1579,26,1579,26,1579,32,1489,26,1457
3,32,7693,32,7693,32,7693,24,7583,21,7559,13,7538,13,7538,13,7538,24,7478,39,7454
4,59,2684,59,2684,59,2684,45,2545,60,2500,55,2440,55,2440,55,2440,46,2277,44,2231
5,8,986,8,986,8,986,12,954,17,942,27,925,27,925,27,925,35,849,26,814
6,6,800,6,800,6,800,3,745,8,742,11,734,11,734,11,734,34,699,9,665
7,35,606,35,606,35,606,1,553,1,552,8,551,8,551,8,551,16,522,6,506
8,0,125,0,125,0,125,2,119,6,117,1,111,1,111,1,111,1,108,1,107
9,219,13357,219,13357,219,13357,188,12614,237,12426,250,12189,250,12189,250,12189,299,"11,407*",193,11110
10,36,1161,36,1161,36,1161,27,1087,23,1060,35,1037,35,1037,35,1037,13,968,23,955
11,22,1091,22,1091,22,1091,30,1002,24,972,38,948,38,948,38,948,58,822,30,764
12,17,1538,17,1538,17,1538,35,1467,55,1432,61,1377,61,1377,61,1377,11,1208,15,1197
13,11,756,11,756,11,756,1,706,7,705,37,698,37,698,37,698,20,637,4,617
14,5,502,5,502,5,502,7,493,5,486,6,481,6,481,6,481,12,469,4,457
15,22,2319,22,2319,22,2319,45,2248,32,2203,33,2171,33,2171,33,2171,25,2021,58,1996
16,22,1213,22,1213,22,1213,25,1139,44,1114,22,1070,22,1070,22,1070,28,1013,18,985
17,9,388,9,388,9,388,11,364,7,353,24,346,24,346,24,346,33,276,19,243

In [133]:
two = pd.read_csv('2020-12-21_2020-09-01.csv', encoding = 'euc-kr')
two

,12월 21일 신규,12월 21일 누계,12월 20일) 신규,12월 20일) 누계,12월 20일 신규,12월 20일 누계,12월 19일 신규,12월 19일 누계,12월 18일 신규,12월 18일 누계,...,9월 5일 0시 신규,9월 5일 0시 누계,9월 4일 0시 신규,9월 4일 0시 누계,9월 3일 0시 신규,9월 3일 0시 누계,9월 2일 0시 신규,9월 2일 0시 누계,9월 1일 0시 신규,9월 1일 0시 누계
0,892,45475,1072,"44,583*",1072,"44,583*",1029,"43,513*",1036,42483,...,158,18133,189,17975,188,17786,253,"17,598**",222,17346
1,327,14432,470,"14,105*",470,"14,105*",382,"13,637*",393,13256,...,51,"3,859**",68,"3,809**",69,3739,98,"3,670**",93,3573
2,19,1431,33,1412,33,1412,39,1379,39,1340,...,10,283,3,273,4,270,7,266,3,259
3,21,7415,25,7394,25,7394,20,7369,20,7349,...,5,7006,7,7001,2,6994,13,6992,1,6979
4,85,2187,62,2102,62,2102,46,"2,040*",64,1995,...,14,695,5,681**,15,678,10,663,22,653
5,11,788,13,777,13,777,9,764,3,755,...,8,368,10,360,6,350,10,344,4,334
6,3,656,3,653,3,653,5,650,5,645,...,2,263,3,261,4,258,14,254,8,240
7,17,500,5,483,5,483,7,478,30,471,...,1,80,3,79,7,76,5,69,6,64
8,0,106,0,106,0,106,0,106,0,106,...,0,58,0,58,0,58,0,58,0,58
9,237,10917,244,10680,244,10680,264,"10,436*",300,10169,...,47,"3,061**",55,3013,64,2958,79,2894,60,2815
10,22,932,55,910,55,910,27,855,18,828,...,3,180,3,177,4,174,2,170,4,168
11,29,734,14,705,14,705,103,691,30,588,...,2,112,4,110,1,106,1,105,1,104
12,16,1182,19,1166,19,1166,24,1147,16,1123,...,4,332,20,328,7,308,7,301,7,294
13,11,613,29,602,29,602,13,573,12,560,...,2,62,0,60,0,60,0,60,0,60
14,8,453,4,445,4,445,5,441,5,436,...,0,129,1,129,5,128,3,123,4,120
15,48,1938,23,1890,23,1890,29,1867,31,1838,...,0,1426,4,1426,0,1422,3,1422,5,1419
16,15,967,49,952,49,952,32,903,43,871,...,8,187,3,179,0,176,0,176,3,176
17,23,224,24,201,24,201,24,177,27,153,...,1,32,0,31,0,31,1,31,1,30

In [134]:
three = pd.read_csv('2020-08-31_2020-07-21.csv', encoding = 'euc-kr')
three

,8월 31일 0 신규,8월 31일 0 누계,8월 30일 0 신규,8월 30일 0 누계,시 기준)</h 신규,시 기준)</h 누계,정례브리핑)</ 신규,정례브리핑)</ 누계,시 기준)</h 신규.1,시 기준)</h 누계.1,...,7월 23일 정 신규,7월 23일 정 누계,7월 23일 0 신규,7월 23일 0 누계,7월 22일 정 신규,7월 22일 정 누계,7월 22일 0 신규,7월 22일 0 누계,7월 21일 0 신규,7월 21일 0 누계
0,238,17124,283,16886,359,16295,434,15936,434,15936,...,39,11793,39,11793,29,"11,754**",29,"11,754**",20,11724
1,91,3480,114,3389,145,3151,154,3006,154,3006,...,11,1198,11,1198,16,1187,16,1187,18,1171
2,4,256,6,252,8,241,8,233,8,233,...,0,119,0,119,0,119,0,119,0,119
3,4,6978,30,6974,8,6939,12,6931,12,6931,...,0,6881,0,6881,0,"6,881**",0,"6,881**",0,6880
4,13,631,12,618,27,586,59,559,59,559,...,2,302,2,302,4,300,4,300,0,296
5,9,330,2,321,17,305,39,288,39,288,...,9,176,9,176,1,167,1,167,0,166
6,6,232,6,226,3,216,3,213,3,213,...,0,147,0,147,0,147,0,147,0,147
7,5,58,3,53,1,50,2,49,2,49,...,0,34,0,34,0,34,0,34,0,34
8,1,58,1,57,2,56,0,54,0,54,...,0,45,0,45,0,45,0,45,0,45
9,79,2755,77,2676,112,2499,100,2387,100,2387,...,17,1100,17,1100,8,1083,8,1083,1,1075
10,3,164,2,161,3,159,14,156,14,156,...,0,51,0,51,0,51,0,51,0,51
11,0,103,5,103,5,92,1,87,1,87,...,0,56,0,56,0,56,0,56,0,56
12,9,287,5,278,9,265,15,256,15,256,...,0,159,0,159,0,159,0,159,0,159
13,1,60,0,59,2,59,2,57,2,57,...,0,18,0,18,0,18,0,18,0,18
14,5,116,8,111,12,94,13,82,13,82,...,0,17,0,17,0,17,0,17,0,17
15,2,1414,3,1412,1,1409,3,1408,3,1408,...,0,1369,0,1369,0,1369,0,1369,0,1369
16,1,173,7,172,2,153,8,151,8,151,...,0,110,0,110,0,110,0,110,0,110
17,5,29,2,24,2,21,1,19,1,19,...,0,11,0,11,0,11,0,11,1,11

In [135]:
four = pd.read_csv('2020-07-19_2020-04-13.csv', encoding = 'euc-kr')
four

,7월 19일 0 신규,7월 19일 0 누계,7월 18일 0 신규,7월 18일 0 누계,7월 17일 0 신규,7월 17일 0 누계,7월 16일 0 신규,7월 16일 0 누계,7월 15일 0 신규,7월 15일 0 누계,...,4월 17일 0 신규,4월 17일 0 누계,4월 16일 0 신규,4월 16일 0 누계,4월 15일 0 신규,4월 15일 0 누계,4월 14일 0 신규,4월 14일 0 누계,4월 13일 0 신규,4월 13일 0 누계
0,20,11724,20,11724,20,11724,20,11724,20,11724,...,20,11724,20,11724,20,11724,20,11724,20,11724
1,18,1171,18,1171,18,1171,18,1171,18,1171,...,18,1171,18,1171,18,1171,18,1171,18,1171
2,0,119,0,119,0,119,0,119,0,119,...,0,119,0,119,0,119,0,119,0,119
3,0,6880,0,6880,0,6880,0,6880,0,6880,...,0,6880,0,6880,0,6880,0,6880,0,6880
4,0,296,0,296,0,296,0,296,0,296,...,0,296,0,296,0,296,0,296,0,296
5,0,166,0,166,0,166,0,166,0,166,...,0,166,0,166,0,166,0,166,0,166
6,0,147,0,147,0,147,0,147,0,147,...,0,147,0,147,0,147,0,147,0,147
7,0,34,0,34,0,34,0,34,0,34,...,0,34,0,34,0,34,0,34,0,34
8,0,45,0,45,0,45,0,45,0,45,...,0,45,0,45,0,45,0,45,0,45
9,1,1075,1,1075,1,1075,1,1075,1,1075,...,1,1075,1,1075,1,1075,1,1075,1,1075
10,0,51,0,51,0,51,0,51,0,51,...,0,51,0,51,0,51,0,51,0,51
11,0,56,0,56,0,56,0,56,0,56,...,0,56,0,56,0,56,0,56,0,56
12,0,159,0,159,0,159,0,159,0,159,...,0,159,0,159,0,159,0,159,0,159
13,0,18,0,18,0,18,0,18,0,18,...,0,18,0,18,0,18,0,18,0,18
14,0,17,0,17,0,17,0,17,0,17,...,0,17,0,17,0,17,0,17,0,17
15,0,1369,0,1369,0,1369,0,1369,0,1369,...,0,1369,0,1369,0,1369,0,1369,0,1369
16,0,110,0,110,0,110,0,110,0,110,...,0,110,0,110,0,110,0,110,0,110
17,1,11,1,11,1,11,1,11,1,11,...,1,11,1,11,1,11,1,11,1,11

In [142]:
five = pd.read_csv('2020-04-11_2020-03-17.csv', encoding = 'euc-kr')
five

,4월 11일 0 격리중,4월 11일 0 격리해제,4월 11일 0 사망,4월 11일 0 합계,4월 11일 0 신규,4월 11일 0 해외유입(잠정),4월 11일 0 지역발생(잠정),4월 10일 0 격리중,4월 10일 0 격리해제,4월 10일 0 사망,...,3월 19일 0 사망,3월 19일 0 합계* (전일대비),3월 18일 0 격리중,3월 18일 0 격리해제,3월 18일 0 사망,3월 18일 0 합계* (전일대비),3월 17일 0 격리중,3월 17일 0 격리해제,3월 17일 0 사망,3월 17일 0 합계* (전일대비)
0,3026,7243,211,10480,30,12,18,3125,7117,208,...,91.0,8565.0,6789,1540,84,8413,6838,1401,81,8320
1,402,195,2,599,4,1,3,408,185,2,...,0.0,282.0,215,55,0,270,210,55,0,265
2,23,100,3,126,0,0,0,25,98,3,...,1.0,107.0,48,58,1,107,52,54,1,107
3,1398,5271,145,6814,7,1,6,1472,5193,142,...,65.0,6241.0,5038,1048,58,6144,5094,947,57,6098
4,50,35,0,85,0,0,0,51,34,0,...,0.0,32.0,27,5,0,32,26,5,0,31
5,10,17,0,27,0,0,0,12,15,0,...,0.0,17.0,11,6,0,17,10,6,0,16
6,17,22,0,39,0,0,0,18,21,0,...,0.0,22.0,18,4,0,22,18,4,0,22
7,10,30,1,41,1,1,0,11,28,1,...,0.0,36.0,21,9,0,30,20,8,0,28
8,26,20,0,46,0,0,0,26,20,0,...,0.0,41.0,41,0,0,41,40,0,0,40
9,327,286,11,624,9,3,6,335,269,11,...,3.0,295.0,215,59,3,277,204,55,3,262
10,22,26,1,49,0,0,0,22,26,1,...,1.0,30.0,21,8,1,30,20,8,1,29
11,17,28,0,45,0,0,0,17,28,0,...,0.0,33.0,27,5,0,32,26,5,0,31
12,32,106,0,138,0,0,0,33,105,0,...,0.0,118.0,102,16,0,118,100,15,0,115
13,9,8,0,17,0,0,0,9,8,0,...,0.0,10.0,4,5,0,9,3,4,0,7
14,10,5,0,15,0,0,0,11,4,0,...,0.0,5.0,3,2,0,5,2,2,0,4
15,278,1004,48,1330,3,0,3,285,994,48,...,21.0,1190.0,922,235,21,1178,941,209,19,1169
16,32,83,0,115,0,0,0,33,82,0,...,0.0,86.0,63,23,0,86,64,22,0,86
17,8,4,0,12,0,0,0,8,4,0,...,0.0,4.0,2,2,0,4,2,2,0,4

In [143]:
final = pd.concat([one, two, three, four, five], axis = 1)
final

,12월 31일 신규,12월 31일 누계,12월 30일 신규,12월 30일 누계,12월 29일 신규,12월 29일 누계,12월 28일 신규,12월 28일 누계,12월 27일 신규,12월 27일 누계,...,3월 19일 0 사망,3월 19일 0 합계* (전일대비),3월 18일 0 격리중,3월 18일 0 격리해제,3월 18일 0 사망,3월 18일 0 합계* (전일대비),3월 17일 0 격리중,3월 17일 0 격리해제,3월 17일 0 사망,3월 17일 0 합계* (전일대비)
0,940,55355,940,55355,940,55355,787,52362,946,51575,...,91.0,8565.0,6789,1540,84,8413,6838,1401,81,8320
1,365,18356,365,18356,365,18356,297,17090,359,16793,...,0.0,282.0,215,55,0,270,210,55,0,265
2,72,1780,72,1780,72,1780,34,1653,40,1619,...,1.0,107.0,48,58,1,107,52,54,1,107
3,32,7693,32,7693,32,7693,24,7583,21,7559,...,65.0,6241.0,5038,1048,58,6144,5094,947,57,6098
4,59,2684,59,2684,59,2684,45,2545,60,2500,...,0.0,32.0,27,5,0,32,26,5,0,31
5,8,986,8,986,8,986,12,954,17,942,...,0.0,17.0,11,6,0,17,10,6,0,16
6,6,800,6,800,6,800,3,745,8,742,...,0.0,22.0,18,4,0,22,18,4,0,22
7,35,606,35,606,35,606,1,553,1,552,...,0.0,36.0,21,9,0,30,20,8,0,28
8,0,125,0,125,0,125,2,119,6,117,...,0.0,41.0,41,0,0,41,40,0,0,40
9,219,13357,219,13357,219,13357,188,12614,237,12426,...,3.0,295.0,215,59,3,277,204,55,3,262
10,36,1161,36,1161,36,1161,27,1087,23,1060,...,1.0,30.0,21,8,1,30,20,8,1,29
11,22,1091,22,1091,22,1091,30,1002,24,972,...,0.0,33.0,27,5,0,32,26,5,0,31
12,17,1538,17,1538,17,1538,35,1467,55,1432,...,0.0,118.0,102,16,0,118,100,15,0,115
13,11,756,11,756,11,756,1,706,7,705,...,0.0,10.0,4,5,0,9,3,4,0,7
14,5,502,5,502,5,502,7,493,5,486,...,0.0,5.0,3,2,0,5,2,2,0,4
15,22,2319,22,2319,22,2319,45,2248,32,2203,...,21.0,1190.0,922,235,21,1178,941,209,19,1169
16,22,1213,22,1213,22,1213,25,1139,44,1114,...,0.0,86.0,63,23,0,86,64,22,0,86
17,9,388,9,388,9,388,11,364,7,353,...,0.0,4.0,2,2,0,4,2,2,0,4

In [144]:
final = pd.concat([idx, final], axis = 1)
final

,구분,12월 31일 신규,12월 31일 누계,12월 30일 신규,12월 30일 누계,12월 29일 신규,12월 29일 누계,12월 28일 신규,12월 28일 누계,12월 27일 신규,...,3월 19일 0 사망,3월 19일 0 합계* (전일대비),3월 18일 0 격리중,3월 18일 0 격리해제,3월 18일 0 사망,3월 18일 0 합계* (전일대비),3월 17일 0 격리중,3월 17일 0 격리해제,3월 17일 0 사망,3월 17일 0 합계* (전일대비)
0,합계,940,55355,940,55355,940,55355,787,52362,946,...,91.0,8565.0,6789,1540,84,8413,6838,1401,81,8320
1,서울,365,18356,365,18356,365,18356,297,17090,359,...,0.0,282.0,215,55,0,270,210,55,0,265
2,부산,72,1780,72,1780,72,1780,34,1653,40,...,1.0,107.0,48,58,1,107,52,54,1,107
3,대구,32,7693,32,7693,32,7693,24,7583,21,...,65.0,6241.0,5038,1048,58,6144,5094,947,57,6098
4,인천,59,2684,59,2684,59,2684,45,2545,60,...,0.0,32.0,27,5,0,32,26,5,0,31
5,광주,8,986,8,986,8,986,12,954,17,...,0.0,17.0,11,6,0,17,10,6,0,16
6,대전,6,800,6,800,6,800,3,745,8,...,0.0,22.0,18,4,0,22,18,4,0,22
7,울산,35,606,35,606,35,606,1,553,1,...,0.0,36.0,21,9,0,30,20,8,0,28
8,세종,0,125,0,125,0,125,2,119,6,...,0.0,41.0,41,0,0,41,40,0,0,40
9,경기,219,13357,219,13357,219,13357,188,12614,237,...,3.0,295.0,215,59,3,277,204,55,3,262
10,강원,36,1161,36,1161,36,1161,27,1087,23,...,1.0,30.0,21,8,1,30,20,8,1,29
11,충북,22,1091,22,1091,22,1091,30,1002,24,...,0.0,33.0,27,5,0,32,26,5,0,31
12,충남,17,1538,17,1538,17,1538,35,1467,55,...,0.0,118.0,102,16,0,118,100,15,0,115
13,전북,11,756,11,756,11,756,1,706,7,...,0.0,10.0,4,5,0,9,3,4,0,7
14,전남,5,502,5,502,5,502,7,493,5,...,0.0,5.0,3,2,0,5,2,2,0,4
15,경북,22,2319,22,2319,22,2319,45,2248,32,...,21.0,1190.0,922,235,21,1178,941,209,19,1169
16,경남,22,1213,22,1213,22,1213,25,1139,44,...,0.0,86.0,63,23,0,86,64,22,0,86
17,제주,9,388,9,388,9,388,11,364,7,...,0.0,4.0,2,2,0,4,2,2,0,4

In [145]:
final.to_csv('시도별확진자수_2020(20.03.17).csv', encoding = 'euc-kr')

In [148]:
six = pd.read_csv('2020-03-16_2020-02-21.csv', encoding = 'utf-8')
six

,구분,합계,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,검역
0,3.16 격리중,"7,024",201,53,"5,279",26.0,12.0,18.0,21.0,40.0,180,21.0,25.0,103.0,3.0,2.0,969,65.0,2.0,4.0
1,3.16 격리해제,"1,173",52,53,734,4.0,4.0,4.0,7.0,0.0,48,7.0,6.0,12.0,4.0,2.0,178,20.0,2.0,0.0
2,3.16 사망,75,0,1,53,0.0,0.0,0.0,0.0,0.0,3,1.0,0.0,0.0,0.0,0.0,17,0.0,0.0,0.0
3,3.16 합계(전일대비),"8,236",253,107,"6,066",30.0,16.0,22.0,28.0,40.0,231,29.0,31.0,115.0,7.0,4.0,"1,164",85.0,4.0,4.0
4,3.15 격리중,"7,253",200,53,"5,510",26.0,12.0,18.0,22.0,39.0,168,21.0,25.0,105.0,3.0,2.0,977,69.0,3.0,NaN
5,3.15 격리해제,834,47,52,468,4.0,4.0,4.0,6.0,0.0,40,7.0,6.0,10.0,4.0,2.0,163,16.0,1.0,NaN
6,3.15 사망,75,0,1,53,0.0,0.0,0.0,0.0,0.0,3,1.0,0.0,0.0,0.0,0.0,17,0.0,0.0,NaN
7,3.15 합계* (전일대비),"8,162",247,106,"6,031",30.0,16.0,22.0,28.0,39.0,211,29.0,31.0,115.0,7.0,4.0,1157,85.0,4.0,NaN
8,3.14 격리중,"7,300",194,63,"5,538",24.0,11.0,18.0,22.0,38.0,161,22.0,23.0,106.0,3.0,2.0,998,74.0,3.0,NaN
9,3.14 격리해제,714,44,40,401,4.0,4.0,4.0,5.0,0.0,36,6.0,5.0,9.0,4.0,2.0,138,11.0,1.0,NaN
10,3.14 사망,72,0,0,51,0.0,0.0,0.0,0.0,0.0,3,1.0,0.0,0.0,0.0,0.0,17,0.0,0.0,NaN
11,3.14 합계* (전일대비),"8,086",238,103,"5,990",28.0,15.0,22.0,27.0,38.0,200,29.0,28.0,115.0,7.0,4.0,"1,153",85.0,4.0,NaN
12,3.13 격리중,"7,402",185,64,"5,629",23.0,11.0,18.0,24.0,32.0,152,22.0,23.0,108.0,3.0,3.0,"1,028",74.0,3.0,NaN
13,3.13 격리해제,510,40,36,251,4.0,4.0,4.0,3.0,0.0,31,6.0,4.0,7.0,4.0,1.0,103,11.0,1.0,NaN
14,3.13 사망,67,0,0,48,0.0,0.0,0.0,0.0,0.0,2,1.0,0.0,0.0,0.0,0.0,16,0.0,0.0,NaN
15,3.13 합계* (전일대비),"7,979",225,100,"5,928",27.0,15.0,22.0,27.0,32.0,185,29.0,27.0,115.0,7.0,4.0,"1,147",85.0,4.0,NaN
16,3.12 격리중,"7,470",174,70,"5,705",21.0,11.0,18.0,22.0,15.0,150,22.0,23.0,109.0,5.0,3.0,"1,044",75.0,3.0,NaN
17,3.12 격리해제,333,38,29,114,4.0,4.0,2.0,3.0,0.0,27,6.0,4.0,5.0,2.0,1.0,83,10.0,1.0,NaN
18,3.12 사망,66,0,0*,48,0.0,0.0,0.0,0.0,0.0,1,1.0,0.0,0.0,0.0,0.0,16,0.0,0.0,NaN
19,3.12 합계 (전일대비),"7,869",212,99,"5,867",25.0,15.0,20.0,25.0,15.0,178,29.0,27.0,114.0,7.0,4.0,"1,143",85.0,4.0,NaN
20,3.11 격리중,"7,407",156,76,"5,649",22.0,12.0,16.0,23.0,10.0,149,22.0,24.0,111.0,5.0,3.0,"1,052",74.0,3.0,NaN
21,3.11 격리해제,288,37,21,102,3.0,3.0,2.0,2.0,0.0,25,6.0,3.0,1.0,2.0,1.0,69,10.0,1.0,NaN
22,3.11 사망,60,0,1,43,0.0,0.0,0.0,0.0,0.0,1,1.0,0.0,0.0,0.0,0.0,14,0.0,0.0,NaN
23,3.11 합계*,"7,755",193,98,"5,794",25.0,15.0,18.0,25.0,10.0,175,29.0,27.0,112.0,7.0,4.0,"1,135",84.0,4.0,NaN
24,3.10 격리중,"7,212",110,86,"5,533",10.0,12.0,17.0,23.0,8.0,140,21.0,22.0,103.0,5.0,3.0,"1,043",73.0,3.0,NaN
25,3.10 격리해제,247,31,10,92,3.0,3.0,1.0,1.0,0.0,22,6.0,3.0,1.0,2.0,1.0,60,10.0,1.0,NaN
26,3.10 사망,54,0,0,38,0.0,0.0,0.0,0.0,0.0,1,1.0,0.0,0.0,0.0,0.0,14,0.0,0.0,NaN
27,3.10 합계* (전일대비),"7,513",141,96,"5,663",13.0,15.0,18.0,24.0,8.0,163,28.0,25.0,104.0,7.0,4.0,"1,117",83.0,4.0,NaN
28,3.9 격리중,"7,165",101,86,"5,515",7.0,12.0,18.0,23.0,6.0,129,24.0,22.0,101.0,5.0,3.0,"1,036",74.0,3.0,NaN
29,3.9 격리해제,166,29,10,21,2.0,3.0,1.0,1.0,0.0,22,3.0,3.0,1.0,2.0,1.0,57,9.0,1.0,NaN
30,3.9 사망,51,0,0*,35,0.0,0.0,0.0,0.0,0.0,1,1.0,0.0,0.0,0.0,0.0,14,0.0,0.0,NaN
31,3.9 합계(전일대비),"7,382",130,96,"5,571",9.0,15.0,19.0,24.0,6.0,152,28.0,25.0,102.0,7.0,4.0,"1,107",83.0,4.0,NaN
32,3.7 격리중,"6,605",81,93,"5,035",7.0,10.0,18.0,22.0,2.0,115,22.0,19.0,92.0,5.0,4.0,998,78.0,4.0,NaN
33,3.7 격리해제,118,27,2,18,2.0,3.0,0.0,1.0,0.0,14,3.0,1.0,0.0,2.0,0.0,41,4.0,0.0,NaN
34,3.7 사망,44,0,1,31,0.0,0.0,0.0,0.0,0.0,1,1.0,0.0,0.0,0.0,0.0,10,0.0,0.0,NaN
35,3.7 합계* (전일대비),"6,767",108,96,"5,084",9.0,13.0,18.0,23.0,2.0,130,26.0,20.0,92.0,7.0,4.0,"1,049",82.0,4.0,NaN
36,3.6 격리중,"6,134",80,92,"4,648",7.0,10.0,18.0,22.0,1.0,105,22.0,14.0,90.0,5.0,5.0,938,73.0,4.0,NaN
37,3.6 격리해제,108,25,2,15,2.0,3.0,0.0,1.0,0.0,14,3.0,1.0,0.0,2.0,0.0,36,4.0,0.0,NaN
38,3.6 사망,42,0,1,30,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,10,0.0,0.0,NaN
39,3.6 합계*,"6,284",105,95,"4,693",9.0,13.0,18.0,23.0,1.0,120,25.0,15.0,90.0,7.0,5.0,984,77.0,4.0,NaN
40,3.5.(목) 0시,"5,766",103,92,"4,326",9.0,14.0,16.0,23.0,1.0,110,23.0,12.0,86.0,7.0,5.0,861,74.0,4.0,NaN
41,3.4.(수)0시,"5,328",99,93,"4,006",9.0,13.0,15.0,23.0,1.0,101,21.0,11.0,82.0,7.0,5.0,774,65.0,3.0,NaN
42,3.3.(화),"4,812",98,90,"3,601",7.0,11.0,14.0,20.0,1.0,94,20.0,11.0,81.0,7.0,5.0,685,64.0,3.0,NaN
43,3.2 신규,476,4,5,377,1.0,0.0,1.0,0.0,0.0,3,4.0,0.0,10.0,0.0,2.0,68,1.0,0.0,NaN
44,3.1 신규,595,8,4,513,0.0,0.0,0.0,0.0,0.0,8,0.0,1.0,12.0,0.0,1.0,45,3.0,0.0,NaN
45,2.29 신규,"2,931",74,77,"2,055",6.0,9.0,14.0,17.0,1.0,76,7.0,10.0,48.0,5.0,2.0,469,59.0,2.0,NaN
46,2.28 신규,"2,022",62,63,"1,314",4.0,9.0,13.0,11.0,1.0,66,6.0,9.0,16.0,5.0,1.0,394,46.0,2.0,NaN
47,2.27 신규,"1,595",55,58,"1,017",3.0,9.0,8.0,6.0,1.0,55,6.0,7.0,7.0,3.0,1.0,321,36.0,2.0,NaN
48,2.26 신규,"1,146",45,50,677,3.0,9.0,3.0,3.0,1.0,43,6.0,5.0,2.0,3.0,1.0,268,25.0,2.0,NaN
49,2.25 신규,84,4,5,44,NaN,NaN,NaN,1.0,NaN,2,NaN,2.0,1.0,NaN,NaN,23,2.0,NaN,NaN
50,2.24 신규,70,1,13,42,NaN,NaN,NaN,1.0,NaN,1,NaN,NaN,NaN,NaN,NaN,12,NaN,NaN,NaN
51,2.23 신규,46,1,6,12,NaN,1.0,1.0,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,5,6.0,NaN,NaN
52,2.22 신규,87,3,1,55,NaN,2.0,1.0,1.0,NaN,4,5.0,NaN,NaN,NaN,1.0,14,NaN,NaN,NaN
53,2.21 신규,48,2,NaN,42,NaN,1.0,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN

In [156]:
tmp = six.T
tmp = tmp.rename(columns = tmp.iloc[0])
tmp.drop(['구분', '검역'], axis = 0, inplace = True)
tmp.reset_index(drop = True, inplace = True)

In [157]:
tmp

,3.16 격리중,3.16 격리해제,3.16 사망,3.16 합계(전일대비),3.15 격리중,3.15 격리해제,3.15 사망,3.15 합계* (전일대비),3.14 격리중,3.14 격리해제,...,3.1 신규,2.29 신규,2.28 신규,2.27 신규,2.26 신규,2.25 신규,2.24 신규,2.23 신규,2.22 신규,2.21 신규
0,"7,024","1,173",75,"8,236","7,253",834,75,"8,162","7,300",714,...,595,"2,931","2,022","1,595","1,146",84,70,46,87,48
1,201,52,0,253,200,47,0,247,194,44,...,8,74,62,55,45,4,1,1,3,2
2,53,53,1,107,53,52,1,106,63,40,...,4,77,63,58,50,5,13,6,1,NaN
3,"5,279",734,53,"6,066","5,510",468,53,"6,031","5,538",401,...,513,"2,055","1,314","1,017",677,44,42,12,55,42
4,26.0,4.0,0.0,30.0,26.0,4.0,0.0,30.0,24.0,4.0,...,0.0,6.0,4.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN
5,12.0,4.0,0.0,16.0,12.0,4.0,0.0,16.0,11.0,4.0,...,0.0,9.0,9.0,9.0,9.0,NaN,NaN,1.0,2.0,1.0
6,18.0,4.0,0.0,22.0,18.0,4.0,0.0,22.0,18.0,4.0,...,0.0,14.0,13.0,8.0,3.0,NaN,NaN,1.0,1.0,NaN
7,21.0,7.0,0.0,28.0,22.0,6.0,0.0,28.0,22.0,5.0,...,0.0,17.0,11.0,6.0,3.0,1.0,1.0,NaN,1.0,NaN
8,40.0,0.0,0.0,40.0,39.0,0.0,0.0,39.0,38.0,0.0,...,0.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
9,180,48,3,231,168,40,3,211,161,36,...,8,76,66,55,43,2,1,2,4,1
10,21.0,7.0,1.0,29.0,21.0,7.0,1.0,29.0,22.0,6.0,...,0.0,7.0,6.0,6.0,6.0,NaN,NaN,NaN,5.0,NaN
11,25.0,6.0,0.0,31.0,25.0,6.0,0.0,31.0,23.0,5.0,...,1.0,10.0,9.0,7.0,5.0,2.0,NaN,NaN,NaN,NaN
12,103.0,12.0,0.0,115.0,105.0,10.0,0.0,115.0,106.0,9.0,...,12.0,48.0,16.0,7.0,2.0,1.0,NaN,NaN,NaN,NaN
13,3.0,4.0,0.0,7.0,3.0,4.0,0.0,7.0,3.0,4.0,...,0.0,5.0,5.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN
14,2.0,2.0,0.0,4.0,2.0,2.0,0.0,4.0,2.0,2.0,...,1.0,2.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN
15,969,178,17,"1,164",977,163,17,1157,998,138,...,45,469,394,321,268,23,12,5,14,NaN
16,65.0,20.0,0.0,85.0,69.0,16.0,0.0,85.0,74.0,11.0,...,3.0,59.0,46.0,36.0,25.0,2.0,NaN,6.0,NaN,2.0
17,2.0,2.0,0.0,4.0,3.0,1.0,0.0,4.0,3.0,1.0,...,0.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN

In [158]:
real_final = pd.concat([final, tmp], axis = 1)
real_final

,구분,12월 31일 신규,12월 31일 누계,12월 30일 신규,12월 30일 누계,12월 29일 신규,12월 29일 누계,12월 28일 신규,12월 28일 누계,12월 27일 신규,...,3.1 신규,2.29 신규,2.28 신규,2.27 신규,2.26 신규,2.25 신규,2.24 신규,2.23 신규,2.22 신규,2.21 신규
0,합계,940,55355,940,55355,940,55355,787,52362,946,...,595,"2,931","2,022","1,595","1,146",84,70,46,87,48
1,서울,365,18356,365,18356,365,18356,297,17090,359,...,8,74,62,55,45,4,1,1,3,2
2,부산,72,1780,72,1780,72,1780,34,1653,40,...,4,77,63,58,50,5,13,6,1,NaN
3,대구,32,7693,32,7693,32,7693,24,7583,21,...,513,"2,055","1,314","1,017",677,44,42,12,55,42
4,인천,59,2684,59,2684,59,2684,45,2545,60,...,0.0,6.0,4.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN
5,광주,8,986,8,986,8,986,12,954,17,...,0.0,9.0,9.0,9.0,9.0,NaN,NaN,1.0,2.0,1.0
6,대전,6,800,6,800,6,800,3,745,8,...,0.0,14.0,13.0,8.0,3.0,NaN,NaN,1.0,1.0,NaN
7,울산,35,606,35,606,35,606,1,553,1,...,0.0,17.0,11.0,6.0,3.0,1.0,1.0,NaN,1.0,NaN
8,세종,0,125,0,125,0,125,2,119,6,...,0.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
9,경기,219,13357,219,13357,219,13357,188,12614,237,...,8,76,66,55,43,2,1,2,4,1
10,강원,36,1161,36,1161,36,1161,27,1087,23,...,0.0,7.0,6.0,6.0,6.0,NaN,NaN,NaN,5.0,NaN
11,충북,22,1091,22,1091,22,1091,30,1002,24,...,1.0,10.0,9.0,7.0,5.0,2.0,NaN,NaN,NaN,NaN
12,충남,17,1538,17,1538,17,1538,35,1467,55,...,12.0,48.0,16.0,7.0,2.0,1.0,NaN,NaN,NaN,NaN
13,전북,11,756,11,756,11,756,1,706,7,...,0.0,5.0,5.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN
14,전남,5,502,5,502,5,502,7,493,5,...,1.0,2.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN
15,경북,22,2319,22,2319,22,2319,45,2248,32,...,45,469,394,321,268,23,12,5,14,NaN
16,경남,22,1213,22,1213,22,1213,25,1139,44,...,3.0,59.0,46.0,36.0,25.0,2.0,NaN,6.0,NaN,2.0
17,제주,9,388,9,388,9,388,11,364,7,...,0.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN

In [159]:
real_final.to_csv('시도별확진자수_2020.csv', encoding = 'euc-kr', index = False)