In [1]:
# 기본
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import matplotlib
from matplotlib import font_manager, rc
import platform
from tqdm import tqdm
import sklearn
from sklearn import linear_model
import scipy.stats as stats
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.outliers_influence import variance_inflation_factor
from patsy import dmatrices
from sklearn.model_selection import train_test_split

# time
import datetime

# crawling
import requests
import lxml.html
import sqlite3
from pandas.io import sql
from bs4 import BeautifulSoup

# 한글 폰트 설정
if platform.system() == 'Windows':
# 윈도우인 경우
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)

In [2]:
final = pd.read_csv('data\\MME_.csv', encoding = 'euc-kr', low_memory = True)
final

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,PHYACTM,PHYACTH,BODYFAT,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,3.50,1.75,13400.0,2571.0,2,96.0,63.0,78.564168,19.349962,2
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,5.50,0.00,15700.0,2409.0,2,95.0,68.0,92.420166,24.350452,5
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,0.00,4.50,NaN,2407.5,2,138.0,69.0,86.839489,18.115004,1
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,0.75,0.75,14700.0,886.5,2,102.0,74.0,102.784214,22.138368,1
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,5.50,0.00,19500.0,2409.0,2,131.0,84.0,112.380813,28.899599,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70205,A07,201303.0,NIH1604999643,55.0,2,1.641,60.9,74.0,88.0,NaN,...,NaN,NaN,17900.0,NaN,0,92.0,62.0,74.201919,22.615184,1
70206,A07,201407.0,NIH1604999732,75.0,1,1.632,50.8,81.3,110.0,NaN,...,NaN,NaN,10500.0,NaN,0,131.0,66.0,68.312024,19.073193,3
70207,A07,201409.0,NIH1604999772,55.0,1,1.635,66.2,88.3,85.0,NaN,...,NaN,NaN,13900.0,NaN,0,NaN,NaN,50.048887,24.764096,2
70208,A07,201403.0,NIH1604999929,53.0,2,1.530,63.2,85.3,95.0,NaN,...,NaN,NaN,27100.0,NaN,0,112.0,71.0,74.230720,26.998163,2
70209,A07,NaN,NIH1604999956,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0

In [3]:
final = final.loc[final['기수'] == 'A01']
final

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,PHYACTM,PHYACTH,BODYFAT,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,3.50,1.75,13400.0,2571.0,2,96.0,63.0,78.564168,19.349962,2
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,5.50,0.00,15700.0,2409.0,2,95.0,68.0,92.420166,24.350452,5
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,0.00,4.50,NaN,2407.5,2,138.0,69.0,86.839489,18.115004,1
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,0.75,0.75,14700.0,886.5,2,102.0,74.0,102.784214,22.138368,1
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,5.50,0.00,19500.0,2409.0,2,131.0,84.0,112.380813,28.899599,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10025,A01,200109.0,NIH1604999643,43.0,2,1.644,61.0,71.3,85.0,8.0,...,2.50,0.00,16200.0,1689.0,2,99.0,71.0,90.587425,22.569722,1
10026,A01,200203.0,NIH1604999732,63.0,1,1.650,56.0,82.5,133.0,436.0,...,0.00,5.50,NaN,2788.5,2,140.0,98.0,95.070429,20.569330,3
10027,A01,200301.0,NIH1604999772,44.0,1,1.640,68.5,83.0,91.0,115.0,...,0.00,0.00,17200.0,495.0,1,128.0,94.0,81.212239,25.468471,5
10028,A01,200206.0,NIH1604999929,41.0,2,1.540,59.0,74.7,90.0,14.0,...,0.00,0.00,18100.0,693.0,2,102.0,74.0,107.964675,24.877720,2
10029,A01,200301.0,NIH1604999956,43.0,1,1.760,79.5,88.0,101.0,95.0,...,0.00,0.00,20900.0,346.5,1,127.0,83.0,104.240575,25.665031,4

In [4]:
mi = pd.read_csv('data\\MI_final_Baseline1st+OccuredOnceOrMore.csv', encoding = 'euc-kr')
mi

              NIHID  final_MI  TIME
0     NIH1604000095         0  12.0
1     NIH1604000171         0  12.0
2     NIH1604000338         1 -21.0
3     NIH1604000362         0  11.0
4     NIH1604000424         0   6.0
...             ...       ...   ...
9931  NIH1604999643         0  12.0
9932  NIH1604999732         0  12.0
9933  NIH1604999772         0  11.0
9934  NIH1604999929         0  12.0
9935  NIH1604999956         0   0.0

[9936 rows x 3 columns]

In [5]:
mi = mi.loc[mi['TIME'] >= 0].reset_index(drop = True)
mi

              NIHID  final_MI  TIME
0     NIH1604000095         0  12.0
1     NIH1604000171         0  12.0
2     NIH1604000362         0  11.0
3     NIH1604000424         0   6.0
4     NIH1604000472         0   9.0
...             ...       ...   ...
9926  NIH1604999643         0  12.0
9927  NIH1604999732         0  12.0
9928  NIH1604999772         0  11.0
9929  NIH1604999929         0  12.0
9930  NIH1604999956         0   0.0

[9931 rows x 3 columns]

In [6]:
ckd = pd.read_csv('CKD_final_Baseline1st+OccuredTwiceOrMoreInARow.csv', encoding = 'euc-kr')
ckd

               NIHID  final_CKD
0      NIH1604000095          1
1      NIH1604000171          0
2      NIH1604000338          1
3      NIH1604000362          0
4      NIH1604000424          0
...              ...        ...
10025  NIH1604999643          0
10026  NIH1604999732          0
10027  NIH1604999772          1
10028  NIH1604999929          0
10029  NIH1604999956          0

[10030 rows x 2 columns]

In [7]:
mi_psm = pd.merge(final, mi, how = 'left', on = 'NIHID')

In [8]:
mi_psm = pd.merge(mi_psm, ckd, how = 'left', on = 'NIHID')
mi_psm

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW,final_MI,TIME,final_CKD
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,2571.0,2,96.0,63.0,78.564168,19.349962,2,0.0,12.0,1
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,2409.0,2,95.0,68.0,92.420166,24.350452,5,0.0,12.0,0
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,2407.5,2,138.0,69.0,86.839489,18.115004,1,NaN,NaN,1
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,886.5,2,102.0,74.0,102.784214,22.138368,1,0.0,11.0,0
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,2409.0,2,131.0,84.0,112.380813,28.899599,4,0.0,6.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10025,A01,200109.0,NIH1604999643,43.0,2,1.644,61.0,71.3,85.0,8.0,...,1689.0,2,99.0,71.0,90.587425,22.569722,1,0.0,12.0,0
10026,A01,200203.0,NIH1604999732,63.0,1,1.650,56.0,82.5,133.0,436.0,...,2788.5,2,140.0,98.0,95.070429,20.569330,3,0.0,12.0,0
10027,A01,200301.0,NIH1604999772,44.0,1,1.640,68.5,83.0,91.0,115.0,...,495.0,1,128.0,94.0,81.212239,25.468471,5,0.0,11.0,1
10028,A01,200206.0,NIH1604999929,41.0,2,1.540,59.0,74.7,90.0,14.0,...,693.0,2,102.0,74.0,107.964675,24.877720,2,0.0,12.0,0
10029,A01,200301.0,NIH1604999956,43.0,1,1.760,79.5,88.0,101.0,95.0,...,346.5,1,127.0,83.0,104.240575,25.665031,4,0.0,0.0,0

In [9]:
mi_psm = mi_psm.loc[mi_psm['final_MI'].isna() == False].reset_index(drop = True)

In [10]:
mi_psm

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW,final_MI,TIME,final_CKD
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,2571.0,2,96.0,63.0,78.564168,19.349962,2,0.0,12.0,1
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,2409.0,2,95.0,68.0,92.420166,24.350452,5,0.0,12.0,0
2,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,886.5,2,102.0,74.0,102.784214,22.138368,1,0.0,11.0,0
3,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,2409.0,2,131.0,84.0,112.380813,28.899599,4,0.0,6.0,0
4,A01,200201.0,NIH1604000472,68.0,2,1.547,68.8,104.0,87.0,47.0,...,2788.5,2,120.0,70.0,46.548404,28.748012,1,0.0,9.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9926,A01,200109.0,NIH1604999643,43.0,2,1.644,61.0,71.3,85.0,8.0,...,1689.0,2,99.0,71.0,90.587425,22.569722,1,0.0,12.0,0
9927,A01,200203.0,NIH1604999732,63.0,1,1.650,56.0,82.5,133.0,436.0,...,2788.5,2,140.0,98.0,95.070429,20.569330,3,0.0,12.0,0
9928,A01,200301.0,NIH1604999772,44.0,1,1.640,68.5,83.0,91.0,115.0,...,495.0,1,128.0,94.0,81.212239,25.468471,5,0.0,11.0,1
9929,A01,200206.0,NIH1604999929,41.0,2,1.540,59.0,74.7,90.0,14.0,...,693.0,2,102.0,74.0,107.964675,24.877720,2,0.0,12.0,0
9930,A01,200301.0,NIH1604999956,43.0,1,1.760,79.5,88.0,101.0,95.0,...,346.5,1,127.0,83.0,104.240575,25.665031,4,0.0,0.0,0

In [11]:
na_list = []
for col in mi_psm.columns: 
    if mi_psm[col].isna().sum() > 2000: 
        na_list.append(col)

In [12]:
na_list

['TREATD5', 'TREATD14', 'KIDAG', 'KIDCU', 'BODYFAT']

In [13]:
mi_psm.drop(na_list, axis = 1, inplace = True)

In [14]:
for col in mi_psm.columns: 
    print(col, mi_psm[col].isna().sum())

기수 0
EDATE 0
NIHID 0
AGE 0
SEX 0
HEIGHT 0
WEIGHT 5
WAIST 8
GLU0_ORI 293
R_GTP_TR 2
AST_ORI 2
ALT_ORI 5
TCHL_ORI 2
HDL_ORI 2
TRIGLY_ORI 3
HB_ORI 2
SMOKE 134
DRUGINS 580
DRUGHT 580
DRUGICD 578
DRUGLP 578
FMHTN 0
FMHEA 0
FMDM 0
PRT16_U 37
KID 4
TOTALC 301
PHYACTL 221
PHYACTM 294
PHYACTH 242
MET_CAL 381
PA_NEW 0
SBP 18
DBP 18
eGFR 2
BMI 5
DRK_NEW 0
final_MI 0
TIME 0
final_CKD 0

In [15]:
mi_psm.dropna(inplace = True, axis = 0)
mi_psm.reset_index(drop = True, inplace = True)

In [16]:
mi_psm

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW,final_MI,TIME,final_CKD
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,2571.0,2,96.0,63.0,78.564168,19.349962,2,0.0,12.0,1
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,2409.0,2,95.0,68.0,92.420166,24.350452,5,0.0,12.0,0
2,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,886.5,2,102.0,74.0,102.784214,22.138368,1,0.0,11.0,0
3,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,2409.0,2,131.0,84.0,112.380813,28.899599,4,0.0,6.0,0
4,A01,200201.0,NIH1604000472,68.0,2,1.547,68.8,104.0,87.0,47.0,...,2788.5,2,120.0,70.0,46.548404,28.748012,1,0.0,9.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8289,A01,200111.0,NIH1604999640,44.0,2,1.606,57.0,69.0,80.0,8.0,...,2409.0,2,108.0,68.0,105.713250,22.099567,2,0.0,11.0,0
8290,A01,200203.0,NIH1604999732,63.0,1,1.650,56.0,82.5,133.0,436.0,...,2788.5,2,140.0,98.0,95.070429,20.569330,3,0.0,12.0,0
8291,A01,200301.0,NIH1604999772,44.0,1,1.640,68.5,83.0,91.0,115.0,...,495.0,1,128.0,94.0,81.212239,25.468471,5,0.0,11.0,1
8292,A01,200206.0,NIH1604999929,41.0,2,1.540,59.0,74.7,90.0,14.0,...,693.0,2,102.0,74.0,107.964675,24.877720,2,0.0,12.0,0
8293,A01,200301.0,NIH1604999956,43.0,1,1.760,79.5,88.0,101.0,95.0,...,346.5,1,127.0,83.0,104.240575,25.665031,4,0.0,0.0,0

In [17]:
mi_psm['final_MI'].value_counts()

0.0    8248
1.0      46
Name: final_MI, dtype: int64

In [18]:
mi_psm.to_csv('data\\MI_psm.csv', encoding = 'euc-kr', index = False)